!!! 5
/[if lt IE 7]   <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us">
/[if IE 7]      <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-us">
/[if IE 8]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if IE 9]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if lt IE 10]  <html class="no-js lt-ie10" lang="en-us">
/[if !IE]>
%html{lang: 'en', class: 'no-js'}
	/<![endif]
	
	= partial "/layouts/_partials/head"

	%body{class: current_page.data.body_class || 'page'}

		= partial '_partials/header', :locals => {currentPath: current_page.path}
		%main
			= yield
		= partial '_partials/footer', :locals => {currentPath: current_page.path}
		-# :javascript
		-#	var globalVar = {
		-#		startingpage : ""
		-#	} 

		-# = javascript_include_tag 'application'
		:plain
			<script src="/assets/javascripts/lodash.min.js" defer></script>
			<script src="/assets/javascripts/init.js" defer></script>