
- $color = locals[:color] ? locals[:color] : 'white';
- $colorCta = locals[:colorCta] ? locals[:colorCta] : 'white';
- $logo = locals[:logo] ? locals[:logo] : '/assets/IC_LOGO_MAIN@1x.svg';
- $target = locals[:target] ? locals[:target] : '_blank';
%section.text-center.sm:px-0.px-2.sm:px-0{:class => "#{backgroundClass} #{$color}"}
  .container.mx-auto.flex.flex-column.py-3.sm:py-4.items-center(data-aos-duration="2000" data-aos="fade-up" data-aos-delay="500")
    - if locals[:caption]
      %h4(class='uppercase text-caption m-0')= caption
    - else
      %img{:class=> "responsive", :alt => "Insight Collaborative Online", :src => $logo}/
    %p{:class => "my-2 sm:my-3 text-h3 serif mx-auto md:w-5/6"}= content
      
    %a.flex-inline.border-2.uppercase.no-underline.lh-3.items-center.px-2.space-no-wrap.text-c.ls-custom{:class => "#{$colorCta}", :href => "#{url}", :target => $target}
      %span=title
