*, *:after, *:before {
  box-sizing: border-box;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img, object {
  border-style: none;
  vertical-align: top;
}

figure {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  visibility: hidden;
}

* {
  outline: none !important;
}

body {
  font-family: "Untitled Sans Web", sans-serif;
  font-size: 16px;
  color: var(--color-grey);
}

button, a {
  cursor: pointer;
}

/* Helpers */
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

.boxed-full:after {
  content: "";
  padding-top: 100%;
  display: table;
  position: relative;
}
.boxed-full > * {
  position: absolute;
}

.space-no-wrap {
  white-space: nowrap;
}

.serif, .wp-block-quote {
  font-family: "Canela Web";
}

.responsive {
  max-width: 100%;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* background */
[class*=background-]:not(.background-repeat) {
  background-repeat: no-repeat;
}

.background-none {
  background: transparent none;
}

.background-top {
  background-position: top center;
}

.background-center {
  background-position: center center;
}

.background-bottom {
  background-position: bottom center;
}

.background-cover {
  background-size: cover;
}

.background-contains {
  background-size: contain;
}

.background-repeat {
  background-repeat: repeat;
}

.background-fixed {
  background-attachment: fixed;
}

@media screen and (min-width: 900px) {
  .sm\:background-none {
    background: transparent none;
  }
}
/* colors */
.hover\:bg-white:hover,
.active\:bg-white:active,
.bg-white {
  background-color: #F8F8F8;
}

.hover\:bg-white-opacity:hover,
.active\:bg-white-opacity:active,
.bg-white-opacity {
  background-color: rgba(248, 248, 248, 0.7);
}

.hover\:bg-blue-400:hover,
.active\:bg-blue-400:active,
.bg-blue-400,
.wp-block-quote {
  background-color: #084874;
  background-color: var(--color-blue);
}

.hover\:bg-green-400:hover,
.active\:bg-green-400:active,
.bg-green-400 {
  background-color: #004F51;
  background-color: var(--color-green);
}

.hover\:bg-grey-300:hover,
.active\:bg-grey-300:active,
.bg-grey-300 {
  background-color: #D8D8D8;
}

.hover\:bg-grey-400:hover,
.active\:bg-grey-400:active,
.bg-grey-400 {
  background-color: #979797;
}

.hover\:bg-grey-700:hover,
.active\:bg-grey-700:active,
.bg-grey-700 {
  background-color: #030100;
  background-color: var(--color-grey);
}

.hover\:grey-400:hover,
.active\:grey-400:active,
.grey-400 {
  color: #979797;
}

.hover\:grey-700:hover,
.active\:grey-700:active,
.grey-700 {
  color: #030100;
  color: var(--color-grey);
}

.hover\:white:hover,
.active\:white:active,
.white,
.wp-block-quote {
  color: #F8F8F8;
}

.hover\:blue-400:hover,
.active\:blue-400:active,
.blue-400 {
  color: #084874;
  color: var(--color-blue);
}

.hover\:green-400:hover,
.active\:green-400:active,
.green-400 {
  color: #004F51;
  color: var(--color-green);
}

/* display */
.block, .separator-horizontal {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

/* flex wrap */
.flex-no-wrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* flex position */
.items-stretch {
  align-items: stretch;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-baseline {
  align-items: baseline;
}

.content-start {
  align-content: flex-start;
}

.content-center {
  align-content: center;
}

.content-end {
  align-content: flex-end;
}

.content-between {
  align-content: space-between;
}

.content-around {
  align-content: space-around;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

@media screen and (max-width: 639px) {
  .xs\:hidden {
    display: none;
  }
}
@media screen and (min-width: 640px) {
  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:flex-row-reverse {
    flex-direction: row-reverse;
  }

  .sm\:flex-column {
    flex-direction: column;
  }

  .sm\:flex-column-reverse {
    flex-direction: column-reverse;
  }

  .sm\:flex-no-wrap {
    flex-wrap: nowrap;
  }

  .sm\:flex-wrap {
    flex-wrap: wrap;
  }

  .sm\:flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .sm\:hidden {
    display: none;
  }

  .sm\:block {
    display: block;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:items-start {
    align-items: flex-start;
  }
}
@media screen and (min-width: 900px) {
  .md\:block {
    display: block;
  }
}
/* typography - weight */
.font-hairline {
  font-weight: 100;
}

.font-thin {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal, h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.no-underline {
  text-decoration: none;
}

.break-words {
  word-break: break-word;
}

.serif, .wp-block-quote {
  font-family: "Canela Web", serif;
}

.sans-serif {
  font-family: "Untitled Sans Web", sans-serif;
}

/* typography - format */
.text-left {
  text-align: left;
}

.text-center, .wp-block-quote {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.uppercase, .type-fellows .entry-content h3,
.type-fellows .entry-content h4 {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.camelcase {
  text-transform: capitalize;
}

/* typography - rules */
.text-h1 {
  font-size: 35px;
  line-height: 1.2;
}
@media screen and (min-width: 640px) {
  .text-h1 {
    font-size: 65px;
    line-height: 1.2;
  }
}

.text-h2 {
  font-size: 24px;
  line-height: 32px;
  color: var(--color-dark);
}

.text-h3, .wp-block-quote {
  font-size: 25px;
  line-height: 1.25;
}
@media screen and (min-width: 640px) {
  .text-h3, .wp-block-quote {
    font-size: 48px;
    line-height: 1.29;
  }
}

.text-h4 {
  font-size: 25px;
  line-height: 1.25;
}
@media screen and (min-width: 640px) {
  .text-h4 {
    font-size: 35px;
    line-height: 24px;
  }
}

.text-h5 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 24px;
}

.text-display {
  font-size: 56px;
  line-height: 60px;
}

.text-p {
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 640px) {
  .text-p {
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 1.25;
  }
}

.text-c {
  font-size: 16px;
  line-height: 1.25;
}

.text-caption, .type-fellows .entry-content h3,
.type-fellows .entry-content h4 {
  font-size: 16px;
  letter-spacing: 1.21px;
}
@media screen and (min-width: 640px) {
  .text-caption, .type-fellows .entry-content h3,
.type-fellows .entry-content h4 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2.24px;
  }
}

.text-blockquote {
  font-size: 20px;
  line-height: 1.25;
}
@media screen and (min-width: 640px) {
  .text-blockquote {
    font-size: 28px;
    line-height: 1.25;
  }
}

.text-cta {
  font-size: 20px;
  letter-spacing: 1.25px;
}

.text-footer {
  font-size: 17px;
}

.text-label {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.68px;
  line-height: 1.25;
}

.text-blog {
  font-size: 30px;
  line-height: 1.25;
}

@media screen and (min-width: 640px) {
  .sm\:text-left {
    text-align: left;
  }

  .sm\:text-center {
    text-align: center;
  }

  .sm\:text-right {
    text-align: right;
  }

  .sm\:text-justify {
    text-align: justify;
  }

  .sm\:text-h1 {
    font-size: 65px;
    line-height: 1.2;
  }

  .sm\:text-h2 {
    font-size: 24px;
    line-height: 32px;
    color: var(--color-dark);
  }

  .sm\:text-h3 {
    font-size: 48px;
    line-height: 1.29;
  }

  .sm\:text-display {
    font-size: 56px;
    line-height: 60px;
  }

  .sm\:text-p {
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 1.25;
  }

  .sm\:text-blog {
    font-size: 30px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 900px) {
  .md\:text-h1 {
    font-size: 65px;
    line-height: 1.2;
  }

  .md\:text-h2 {
    font-size: 24px;
    line-height: 32px;
    color: var(--color-dark);
  }

  .md\:text-h3 {
    font-size: 48px;
    line-height: 1.29;
  }

  .md\:text-display {
    font-size: 56px;
    line-height: 60px;
  }

  .md\:text-p {
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1200px) {
  .lg\:text-h1 {
    font-size: 65px;
    line-height: 1.2;
  }

  .lg\:text-h2 {
    font-size: 24px;
    line-height: 32px;
    color: var(--color-dark);
  }

  .lg\:text-h3 {
    font-size: 48px;
    line-height: 1.29;
  }

  .lg\:text-display {
    font-size: 56px;
    line-height: 60px;
  }

  .lg\:text-p {
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 1.25;
  }
}
.lh-1 {
  line-height: 1.5625rem;
}

.lh-2 {
  line-height: 1.875rem;
}

.lh-3 {
  line-height: 2.8125rem;
}

.lh-4 {
  line-height: 3.125rem;
}

.ls-custom {
  letter-spacing: 3.36px;
}

/* grid */
.container {
  max-width: calc(100% - 50px);
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .container {
    max-width: calc(100% - 75px);
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 77rem;
  }
}

@media screen and (min-width: 640px) {
  .sm\:container {
    max-width: calc(100% - 50px);
  }
}
@media screen and (min-width: 900px) {
  .md\:container {
    max-width: calc(100% - 75px);
  }
}
@media screen and (min-width: 1200px) {
  .lg\:container {
    max-width: 77rem;
  }
}
.p-gutter, .wp-block-quote {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.w-full, .wp-block-quote {
  width: 100%;
}

.w-auto {
  width: auto;
}

.w-px {
  width: 1px;
}

.w-1 {
  width: 0.5rem;
}

.w-2 {
  width: 3.125rem;
}

.w-3 {
  width: 4.6875rem;
}

.w-1\/2,
.w-2\/4,
.w-3\/6,
.w-6\/12 {
  width: 50%;
}

.w-1\/3,
.w-2\/6,
.w-4\/12 {
  width: 33.3333333333%;
}

.w-2\/3,
.w-4\/6,
.w-8\/12 {
  width: 66.6666666667%;
}

.w-1\/4,
.w-3\/12 {
  width: 25%;
}

.w-3\/4,
.w-9\/1 {
  width: 75%;
}

.w-1\/5 {
  width: 20%;
}

.w-2\/5 {
  width: 40%;
}

.w-3\/5 {
  width: 60%;
}

.w-4\/5 {
  width: 80%;
}

.w-1\/6,
.w-2\/12 {
  width: 16.6666666667%;
}

.w-5\/6,
.w-10\/12 {
  width: 83.3333333333%;
}

.w-1\/12 {
  width: 8.3333333333%;
}

.w-5\/12 {
  width: 41.6666666667%;
}

.w-7\/12 {
  width: 58.3333333333%;
}

.w-11\/12 {
  width: 91.6666666667%;
}

@media screen and (min-width: 640px) {
  .sm\:p-gutter {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .sm\:w-full {
    width: 100% !important;
  }

  .sm\:w-auto {
    width: auto !important;
  }

  .sm\:w-px {
    width: 1px !important;
  }

  .sm\:w-1\/2,
.sm\:w-2\/4,
.sm\:w-3\/6,
.sm\:w-6\/12 {
    width: 50%;
  }

  .sm\:w-1\/3,
.sm\:w-2\/6,
.sm\:w-4\/12 {
    width: 33.3333333333%;
  }

  .sm\:w-2\/3,
.sm\:w-4\/6,
.sm\:w-8\/12 {
    width: 66.6666666667%;
  }

  .sm\:w-1\/4,
.sm\:w-3\/12 {
    width: 25%;
  }

  .sm\:w-3\/4,
.sm\:w-9\/1 {
    width: 75%;
  }

  .sm\:w-1\/5 {
    width: 20%;
  }

  .sm\:w-2\/5 {
    width: 40%;
  }

  .sm\:w-3\/5 {
    width: 60%;
  }

  .sm\:w-4\/5 {
    width: 80%;
  }

  .sm\:w-1\/6,
.sm\:w-2\/12 {
    width: 16.6666666667%;
  }

  .sm\:w-5\/6,
.sm\:w-10\/12 {
    width: 83.3333333333%;
  }

  .sm\:w-1\/12 {
    width: 8.3333333333%;
  }

  .sm\:w-5\/12 {
    width: 41.6666666667%;
  }

  .sm\:w-7\/12 {
    width: 58.3333333333%;
  }

  .sm\:w-11\/12 {
    width: 91.6666666667%;
  }
}
@media screen and (min-width: 900px) {
  .md\:w-full {
    width: 100% !important;
  }

  .md\:w-auto {
    width: auto !important;
  }

  .md\:w-px {
    width: 1px !important;
  }

  .md\:w-1\/2,
.md\:w-2\/4,
.md\:w-3\/6,
.md\:w-6\/12 {
    width: 50%;
  }

  .md\:w-1\/3,
.md\:w-2\/6,
.md\:w-4\/12 {
    width: 33.3333333333%;
  }

  .md\:w-2\/3,
.md\:w-4\/6,
.md\:w-8\/12 {
    width: 66.6666666667%;
  }

  .md\:w-1\/4,
.md\:w-3\/12 {
    width: 25%;
  }

  .md\:w-3\/4,
.md\:w-9\/1 {
    width: 75%;
  }

  .md\:w-1\/5 {
    width: 20%;
  }

  .md\:w-2\/5 {
    width: 40%;
  }

  .md\:w-3\/5 {
    width: 60%;
  }

  .md\:w-4\/5 {
    width: 80%;
  }

  .md\:w-1\/6,
.md\:w-2\/12 {
    width: 16.6666666667%;
  }

  .md\:w-5\/6,
.md\:w-10\/12 {
    width: 83.3333333333%;
  }

  .md\:w-1\/12 {
    width: 8.3333333333%;
  }

  .md\:w-5\/12 {
    width: 41.6666666667%;
  }

  .md\:w-7\/12 {
    width: 58.3333333333%;
  }

  .md\:w-11\/12 {
    width: 91.6666666667%;
  }
}
@media screen and (min-width: 1200px) {
  .lg\:w-full {
    width: 100% !important;
  }

  .lg\:w-auto {
    width: auto !important;
  }

  .lg\:w-px {
    width: 1px !important;
  }

  .lg\:w-1\/2,
.lg\:w-2\/4,
.lg\:w-3\/6,
.lg\:w-6\/12 {
    width: 50%;
  }

  .lg\:w-1\/3,
.lg\:w-2\/6,
.lg\:w-4\/12 {
    width: 33.3333333333%;
  }

  .lg\:w-2\/3,
.lg\:w-4\/6,
.lg\:w-8\/12 {
    width: 66.6666666667%;
  }

  .lg\:w-1\/4,
.lg\:w-3\/12 {
    width: 25%;
  }

  .lg\:w-3\/4,
.lg\:w-9\/1 {
    width: 75%;
  }

  .lg\:w-1\/5 {
    width: 20%;
  }

  .lg\:w-2\/5 {
    width: 40%;
  }

  .lg\:w-3\/5 {
    width: 60%;
  }

  .lg\:w-4\/5 {
    width: 80%;
  }

  .lg\:w-1\/6,
.lg\:w-2\/12 {
    width: 16.6666666667%;
  }

  .lg\:w-5\/6,
.lg\:w-10\/12 {
    width: 83.3333333333%;
  }

  .lg\:w-1\/12 {
    width: 8.3333333333%;
  }

  .lg\:w-5\/12 {
    width: 41.6666666667%;
  }

  .lg\:w-7\/12 {
    width: 58.3333333333%;
  }

  .lg\:w-11\/12 {
    width: 91.6666666667%;
  }
}
.max-w-full {
  max-width: 100%;
}

.h-full, .separator-horizontal {
  height: 100%;
}

.h-px {
  height: 1px;
}

.h-0 {
  height: 0;
}

.h-1 {
  height: 0.5rem;
}

.h-2 {
  height: 1.5625rem;
}

.h-3 {
  height: 4.6875rem;
}

.h-screen {
  height: 100vh;
}

.h-auto {
  height: auto;
}

@media screen and (min-width: 640px) {
  .sm\:h-sm {
    min-height: 640px;
  }

  .sm\:h-md {
    min-height: 810px;
  }

  .sm\:h-xl {
    min-height: 900px;
  }

  .sm\:h-0 {
    height: 0;
  }

  .sm\:h-screen {
    height: 100vh;
  }

  .sm\:h-auto {
    height: auto;
  }
}
/* spacing */
/* spacing */
.m-auto {
  margin: auto;
}

.m-0, .type-fellows .entry-content h3,
.type-fellows .entry-content h4, .wp-block-quote {
  margin: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 1.5625rem;
  margin-bottom: 1.5625rem;
}

.my-2 {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

.my-3 {
  margin-top: 4.6875rem;
  margin-bottom: 4.6875rem;
}

.my-4 {
  margin-top: 4.6875rem;
  margin-bottom: 6.25rem;
}

.my-6 {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
}

.m-4 {
  margin-left: 6.25rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1.5625rem;
}

.mt-12 {
  margin-top: 12px;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.ml-8px{
  margin-left: 8px;
}

.ml-1 {
  margin-left: 1.5625rem;
}

.ml-1\/4 {
  margin-left: 25%;
}

.\-mt-2 {
  margin-top: -3.125rem;
}

.mt-2 {
  margin-top: 3.125rem;
}

.mt-4 {
  margin-top: 6.25rem;
}

.mr-px {
  margin-right: 1px;
}

.mr-1 {
  margin-right: 0.78125rem;
}

.mr-1\/4 {
  margin-right: 25%;
}

.mb-1, .type-fellows .entry-content h3,
.type-fellows .entry-content h4 {
  margin-bottom: 1.5625rem;
}

.mb-2 {
  margin-bottom: 3.125rem;
}

.mb-3 {
  margin-bottom: 4.6875rem;
}

.mb-4 {
  margin-bottom: 6.25rem;
}

.mb-6 {
  margin-bottom: 9.375rem;
}

.\-ml-2 {
  margin-left: -3.125rem;
}

.\-ml-3 {
  margin-left: -4.6875rem;
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.\-m-gutter {
  margin-left: -15px;
  margin-right: -15px;
}

.\-mt-2px {
  margin-top: -2px;
}

@media screen and (min-width: 640px) {
  .sm\:m-4 {
    margin: 6.25rem;
  }

  .sm\:my-1 {
    margin-top: 1.5625rem;
    margin-bottom: 1.5625rem;
  }

  .sm\:my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .sm\:my-3 {
    margin-top: 4.6875rem;
    margin-bottom: 4.6875rem;
  }

  .sm\:my-6 {
    margin-top: 9.375rem;
    margin-bottom: 9.375rem;
  }

  .sm\:mt-0 {
    margin-top: 0;
  }

  .sm\:mt-4 {
    margin-top: 6.25rem;
  }

  .sm\:mt-8 {
    margin-top: 10rem;
  }

  .sm\:mr-8 {
    margin-right: 10rem;
  }

  .sm\:mb-0 {
    margin-bottom: 0;
  }

  .sm\:mb-1 {
    margin-bottom: 1.5625rem;
  }

  .sm\:mb-8 {
    margin-bottom: 10rem;
  }

  .sm\:-ml-1 {
    margin-left: -1.5625rem;
  }

  .sm\:-ml-2 {
    margin-left: -3.125rem;
  }

  .sm\:ml-3 {
    margin-left: 2rem;
  }

  .sm\:ml-0 {
    margin-left: 0;
  }

  .sm\:ml-8 {
    margin-left: 10rem;
  }

  .sm\:mb-70 {
    margin-bottom: 70px;
  }

  .sm\:mt-140 {
    margin-top: 140px;
  }

  .sm\:ml-1\/4 {
    margin-left: 25%;
  }

  .sm\:mr-0 {
    margin-right: 0;
  }

  .sm\:mr-auto {
    margin-right: auto;
  }

  .sm\:ml-auto {
    margin-left: auto;
  }
}
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1.5625rem;
}

.p-2 {
  padding: 3.125rem;
}

.p-3 {
  padding: 4.6875rem;
}

.pl-2 {
  padding-left: 3.125rem;
}

.px-1 {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
}

.px-2 {
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

.px-3 {
  padding-left: 4.6875rem;
  padding-right: 4.6875rem;
}

.py-1 {
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}

.py-2, .wp-block-quote {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.py-3 {
  padding-top: 4.6875rem;
  padding-bottom: 4.6875rem;
}

.py-4 {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.py-6 {
  padding-top: 9.375rem;
  padding-bottom: 9.375rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-2 {
  padding-top: 3.125rem;
}

.pt-4 {
  padding-top: 6.25rem;
}

.pt-6 {
  padding-top: 9.375rem;
}

.pt-8 {
  padding-top: 12.5rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 1.5625rem;
}

.pr-2 {
  padding-right: 3.125rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 1.5625rem;
}

.pb-2 {
  padding-bottom: 3.125rem;
}

.pb-3 {
  padding-bottom: 4.6875rem;
}

.pb-4 {
  padding-bottom: 6.25rem;
}

.pb-7 {
  padding-bottom: 10.9375rem;
}

.pb-8 {
  padding-bottom: 12.5rem;
}

.pl-0 {
  padding-left: 0;
}

@media screen and (min-width: 640px) {
  .sm\:p-0 {
    padding: 0;
  }

  .sm\:p-2 {
    padding: 3.125rem;
  }

  .sm\:pr-1 {
    padding-right: 1.5625rem;
  }

  .sm\:pr-2 {
    padding-right: 3.125rem;
  }

  .sm\:px-2 {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }
  
  .sm\:px-3 {
    padding-left: 4.6875rem;
    padding-right: 4.6875rem;
  }

  .sm\:py-1 {
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem;
  }

  .sm\:py-2 {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }

  .sm\:py-3 {
    padding-top: 4.6875rem;
    padding-bottom: 4.6875rem;
  }

  .sm\:py-4 {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }

  .sm\:py-6 {
    padding-top: 9.375rem;
    padding-bottom: 9.375rem;
  }

  .sm\:pt-0 {
    padding-top: 0;
  }

  .sm\:pr-0 {
    padding-right: 0;
  }

  .sm\:pb-0 {
    padding-bottom: 0;
  }

  .sm\:pl-0 {
    padding-left: 0;
  }

  .sm\:pt-8 {
    padding-top: 12.5rem;
  }
}
@media screen and (min-width: 900px) {
  .md\:p-0 {
    padding: 0;
  }

  .md\:pt-0 {
    padding-top: 0;
  }

  .md\:pr-0 {
    padding-right: 0;
  }

  .md\:pb-0 {
    padding-bottom: 0;
  }

  .md\:pl-0 {
    padding-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .lg\:p-0 {
    padding: 0;
  }

  .lg\:pt-0 {
    padding-top: 0;
  }

  .lg\:pr-0 {
    padding-right: 0;
  }

  .lg\:pb-0 {
    padding-bottom: 0;
  }

  .lg\:pl-0 {
    padding-left: 0;
  }
}
.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.inset-10 {
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
}

.inset-y-0 {
  top: 0;
  bottom: 0;
}

.inset-x-0 {
  right: 0;
  left: 0;
}

.inset-y-center {
  top: 50%;
}

.inset-x-center {
  left: 50%;
}

.inset-center {
  top: 50%;
  left: 50%;
}

.top-0, .separator-horizontal {
  top: 0;
}

.top-1 {
  top: 1.5625rem;
}

.top-2 {
  top: 3.125rem;
}

.top-3 {
  top: 4.6875rem;
}

.top-4 {
  top: 6.25rem;
}

.top-6 {
  top: 9.375rem;
}

.top-center {
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

[data-js-carousel] .arrow-next.top-center  {
  transform: translate3d(-10px, -100%,0);
}

[data-js-carousel] .arrow-prev.top-center  {
  transform: translate3d(10px, -100%,0);
}

.\-top-2 {
  top: -3.125rem;
}

.\-top-4 {
  top: -6.25rem;
}

.right-0 {
  right: 0;
}

.bottom-0, .separator-horizontal {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.left-1 {
  left: 1.5625rem;
}

.top-2 {
  top: 1rem;
}

.right-2 {
  right: 1rem;
}

.bottom-2 {
  bottom: 1rem;
}

.left-2 {
  left: 1rem;
}

.inset-auto {
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}

.translate-center {
  transform: translate3d(-50%, -50%, 0);
}

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}

/*
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before,
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
  background-color: $themeColor;
}
*/

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  background-color: var(--color-blue);
}

.ic-theme .hamburger-inner, .ic-theme .hamburger-inner:after, .ic-theme .hamburger-inner:before {
  background-color: #084874;
}

.home .hamburger-inner, .home .hamburger-inner:after, .home .hamburger-inner:before {
  background-color: #fff;
}

.js-header-fixed .hamburger-inner, .js-header-fixed .hamburger-inner:after, .js-header-fixed .hamburger-inner:before {
  background-color: var(--color-green);
}
.js-header-fixed .ic-theme .hamburger-inner, .js-header-fixed .ic-theme .hamburger-inner:after, .js-header-fixed .ic-theme .hamburger-inner:before {
  background-color: #084874;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
  background-color: #fff;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 2px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
  border-radius: 4px;
  font-size: 0;
}

.hamburger-inner:before {
  top: -10px;
}

.hamburger-inner:after {
  bottom: -10px;
}

.hamburger--spin .hamburger-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.22s;
}

.hamburger-inner:after, .hamburger-inner:before {
  display: block;
  content: "";
}

.hamburger--spin.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  opacity: 0;
}

.hamburger--spin.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(-90deg);
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}

.hamburger.is-active:hover, .hamburger:hover {
  opacity: 0.7;
}

.hamburger--spin.is-active .hamburger-inner {
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(225deg);
}

/* flex order */
.order-first {
  order: -9999;
}

.order-last {
  order: 9999;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

@media screen and (min-width: 640px) {
  .sm\:order-first {
    order: -9999;
  }

  .sm\:order-last {
    order: 9999;
  }

  .sm\:order-1 {
    order: 1;
  }

  .sm\:order-2 {
    order: 2;
  }

  .sm\:order-3 {
    order: 3;
  }
}
@media screen and (min-width: 900px) {
  .md\:order-first {
    order: -9999;
  }

  .md\:order-last {
    order: 9999;
  }

  .md\:order-1 {
    order: 1;
  }

  .md\:order-2 {
    order: 2;
  }

  .md\:order-3 {
    order: 3;
  }
}
@media screen and (min-width: 1200px) {
  .lg\:order-first {
    order: -9999;
  }

  .lg\:order-last {
    order: 9999;
  }

  .lg\:order-1 {
    order: 1;
  }

  .lg\:order-2 {
    order: 2;
  }

  .lg\:order-3 {
    order: 3;
  }
}
/* positions */
.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute, .separator-horizontal {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

@media screen and (min-width: 640px) {
  .sm\:static {
    position: static;
  }

  .sm\:fixed {
    position: fixed;
  }

  .sm\:absolute {
    position: absolute;
  }

  .sm\:relative {
    position: relative;
  }

  .sm\:sticky {
    position: sticky;
  }
}
/* overflow */
.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-x-visible {
  overflow-x: visible;
}

.overflow-y-visible {
  overflow-y: visible;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.select-none {
  user-select: none;
}

.select-text {
  user-select: text;
}

.select-all {
  user-select: all;
}

.select-auto {
  user-select: auto;
}

/* list style */
.list-none {
  list-style-type: none;
}

.appearance-none {
  appearance: none;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.z-auto {
  z-index: auto;
}

.border-1 {
  border: 1px solid;
}

.border-2 {
  border: 2px solid;
}

.border-0 {
  border: none;
}

.border-t-1 {
  border-top: 1px solid currentColor;
}

.border-b-1 {
  border-bottom: 1px solid currentColor;
}

.hover\:border-b-1 {
  border-bottom: 1px solid currentColor;
}

.border-t-2 {
  border-top: 2px solid currentColor;
}

.border-b-2 {
  border-bottom: 2px solid currentColor;
}

.border-green-400 {
  border-color: #004F51;
}

.border-blue-400 {
  border-color: #084874;
}

.rounded {
  border-radius: 9999rem;
}

.rounded-0 {
  border-radius: 0;
}

/* alpha */
.opacity-0 {
  opacity: 0;
}

.opacity-08 {
  opacity: 0.8;
}

.opacity-85 {
  opacity: 0.85;
}

.opacity-1 {
  opacity: 1;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.z-auto {
  z-index: auto;
}

.separator-horizontal {
  background-color: rgba(248, 248, 248, 0.2);
  width: 2px;
  left: -1.5625rem;
}

@media screen and (max-width: 639px) {
  header:not(.js-navigation-open) nav {
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    height: 0px !important;
    overflow: hidden;
  }
}
.toggle-btn {
  top: 10px;
  right: 0;
}
@media screen and (min-width: 640px) {
  .toggle-btn {
    display: none;
  }
}

.span.hover\:arrow-animation {
  display: inline-flex;
  align-items: center;
}

span.hover\:arrow-animation > span {
  overflow: hidden;
  width: 24px;
  position: relative;
  height: 24px;
  display: inline-block;
  margin-left: 6px;
  transition: width 250ms ease-in-out;
}
span.hover\:arrow-animation > span object {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate3d(0, -50%, 0);
}

span.hover\:arrow-animation.ml-1 > span {
  margin-left: 0px;
}

span.hover\:arrow-animation:hover span,
a:hover span.hover\:arrow-animation span {
  width: 61px;
}

.js-open [js-close],
[js-open] {
  display: none;
}

.js-open [js-open] {
  display: inline-block;
}

.ic-theme .active\:arrow-rotate--big,
.ic-theme .active\:arrow-rotate {
  background: transparent url("/dev/assets/arrow-blue.svg") 50% 50% no-repeat;
}
.ic-theme .active\:arrow-rotate--big {
  background: transparent url("/dev/assets/arrow-collapse-blue.svg") 50% 50% no-repeat;
}

.active\:arrow-rotate--big,
.active\:arrow-rotate {
  background: transparent url("/dev/assets/arrow-green.svg") 50% 50% no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  transform: rotate3d(0, -1, 0, -180deg);
  transition: 250ms ease-in-out;
  margin-left: 1.5rem;
}

.active\:arrow-rotate--big {
  background: transparent url("/dev/assets/arrow-collapse.svg") 50% 50% no-repeat;
  width: 45px;
  height: 24px;
}

@media screen and (min-width: 640px) {
  .active\:arrow-rotate--big {
    background: transparent url("/dev/assets/arrow-collapse.svg") 50% 50% no-repeat;
    width: 45px;
    height: 32px;
  }
}
.js-open .active\:arrow-rotate--big,
.js-open .active\:arrow-rotate {
  transform: rotate3d(1, 0, 0, -180deg);
}

#applyForm input {
  padding: 1.5rem 0 0.25rem;
}

.form-label {
  display: block;
  padding: 0.5rem 0;
  margin-top: -1px;
  cursor: pointer;
}
.form-label input {
  padding-top: 1rem;
  height: 51px;
  line-height: 51px;
}
.form-label span:not(.wpcf7-form-control-wrap) {
  position: absolute;
  top: 25px;
  transition: top 250ms ease;

}
.form-label.is-filled span:not(.wpcf7-form-control-wrap) {
  top: 0.5rem;
}

span.wpcf7-not-valid-tip {
  color: #840414;
  top: 61px !important;
  width: 300px;
  display: block;
  font-size: 14px;
  text-transform: initial;
  letter-spacing: 0.05px;
}

.wp-block-column{
  position: relative;
}

textarea.wpcf7-not-valid {
  border: 1px solid #840414;
}

.form-input {
  background: transparent;
  border: 0;
  display: block;
  border-radius: 0;
  height: 33px;
  width: 100%;
  margin-top: 18px;
}

.form-textarea {
  display: block;
  width: 100%;
  height: 168px;
  border: 0;
  margin-top: 25px;
  background: none;
}

/* [class*=parallax-image] {
  height: 100%;
} */

.parallax-image--left {
  left: auto;
  right: -30px;
  top: -2.5rem;
  width: calc(90% - 30px);
}
.parallax-image--right {
  right: 2rem;
  top: -2rem;
}

.after-padding-100 {
  position: relative;
}
.after-padding-100:after {
  content: "";
  position: relative;
  padding-top: 100%;
  display: block;
}
.after-padding-100 > * {
  position: absolute;
  width: 100%;
  height: auto;
}
.after-padding-66,
.after-padding-75 {
  position: relative;
}
.after-padding-66:after {
  content: "";
  position: relative;
  padding-top: 66%;
  display: block;
}
.after-padding-75:after {
  content: "";
  position: relative;
  padding-top: 75%;
  display: block;
}
.after-padding-66 > *,
.after-padding-75 > * {
  position: absolute;
  width: 100%;
  height: auto;
}


.js-navigation-open a {
  background-color: inherit;
  color: white;
}

header.js-navigation-open .blue {
  background-color: #084874;
}

header.js-navigation-open .green {
  background-color: #004F51;
}

header.js-navigation-open nav {
  height: calc(100vh - 80px);
}

.js-navigation-open .ic-theme .sub-menu a {
  background-color: rgba(255, 255, 255, 0.2);
}

/* .slick-slider button {
  color: #004F51;
} */
.blue.slick-slider button,
.blue .slick-slider button {
  color: #084874;
}

.green.slick-slider button,
.green .slick-slider button {
  color: #004F51;
}

.slick-disabled {
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 640px) {
  nav a {
    position: relative;
  }

  nav a:after {
    content: "";
    bottom: 8px;
    height: 2px;
    left: 0;
    position: absolute;
    width: 0;
    transition: width 250ms ease;
  }

  nav a:hover:after,
nav .current_page_item a:after,
nav a.is-current:after {
    width: 100%;
    background-color: currentColor;
  }

  header nav a:after {
    left: 15px;
    bottom: 12px;
  }
  header nav a:hover:after,
header nav .current_page_item a:after,
header nav a.is-current:after {
    width: calc(100% - 30px);
  }
}
footer nav a {
  color: white;
}

.slick-slide:not(.js-open) [data-js-carousel-content] {
  display: none;
}
.slick-slide.js-open {
  height: auto !important;
}
.slick-slide.js-open [data-js-carousel-title] {
  display: none;
}

[data-js-accordion-item] [data-js-accordion-content] {
  max-height: 0;
  overflow: hidden;
  transition: max-height 250ms ease;
}
[data-js-accordion-item].js-open [data-js-accordion-content] {
  max-height: 100vh;
}

[data-js-carousel-title] {
  min-height: 136px;
}

[data-js-carousel] .slick-slide > div {
  padding: 15px;
}
[data-js-carousel] .slick-slide article {
  border-color: #004F51;
  border-style: solid;
  border-width: 1px 0;
}

[data-js-accordion-button] {
  cursor: pointer;
}

.navigation-item {
  padding: 15px;
}

.navigation-item.pr-0 {
  padding-right: 0;
}

.js-open-submenu main > * {
  padding-top: 3.125rem;
  transition: padding-top 250ms ease;
}
.article-grid article img {
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 640px) {
  .article-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    
  }
  .article-grid > *:first-child {
    grid-row: span 2;
    grid-column: span 2;
  }


  .no-button .slick-arrow {
    display: none !important;
  }
}
.more-article {
  margin: 0 -7.5px;
}
.more-article article {
  padding: 15px 7.5px;
}
.more-article article:first-child {
  padding-top: 0;
}

.js-header-fixed header {
  background-color: #eeeeee;
  position: fixed;
  transform: translate3d(0, -100%, 0);
  transition: transform 500ms ease;
  opacity: 0;
}

body:not(.home) .has-navigation-closed {
  display: none;
}
body:not(.home).js-main-navigation-open .has-navigation-closed {
  display: inline-block;
}
body:not(.home).js-main-navigation-open .is-homepage-scroll {
  display: none;
}

body.home .is-homepage-scroll {
  display: none;
}
body.home.js-main-navigation-open .has-navigation-closed {
  display: inline-block;
}
body.home.js-main-navigation-open .is-homepage-scroll {
  display: none;
}

.js-header-fixed.js-scroll-up:not(.js-main-navigation-open) .is-homepage-scroll {
  display: inline-block;
}
.js-header-fixed.js-scroll-up:not(.js-main-navigation-open) .has-navigation-closed {
  display: none;
}

.js-header-fixed.js-scroll-up header {
  transform: translate3d(0, 0%, 0);
  opacity: 1;
}
.js-header-fixed.js-scroll-up header nav > a {
  color: #004F51;
}
.js-header-fixed.js-scroll-up header .ic-theme nav > a {
  color: #084874;
}

@media screen and (max-width: 640px) {
  .js-main-navigation-open > header {
    position: fixed;
  }

  .js-header-fixed.js-scroll-up.js-main-navigation-open nav > a {
    color: white;
  }

  .logo-footer {
    max-width: 70%;
  }
}
form label {
  position: relative;
}

form label:after {
  content: attr(data-filecontent);
  position: absolute;
  color: black;
  font-size: 11px;
  top: 100%;
  left: 0;
}
@media screen and (min-width: 640px) {
  form label:after {
    top: 0;
    left: 110%;
  }

}


.to-reveal {
  max-height: 0;
  overflow: hidden;
}
.to-reveal.is-expandend {
  max-height: 1000vh;
}

.no-stylize,
.no-stylize > a {
  color: inherit;
  text-decoration: inherit;
}

a[href^=tel] {
  text-decoration: inherit;
  color: inherit;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.menu a {
  white-space: nowrap;
  position: relative;
  padding: 15px;
  text-decoration: none;
}

body.home .menu a {
  color: white;
}
.js-header-fixed.js-scroll-up .green .menu > li > a{
  color: #004F51;
}
.js-header-fixed.js-scroll-up .blue .menu > li > a{
  color: #084874;
}

body:not(.home) .green .menu a {
  color: #004F51;
}

body:not(.home) .blue .menu a {
  color: #084874;
}

.menu a:after {
  content: "";
  bottom: 8px;
  height: 2px;
  left: 0;
  position: absolute;
  width: 0;
  transition: width 250ms ease;
}

header .menu a:after {
  left: 15px;
  bottom: 12px;
}

.menu .sub-menu {
  padding: 0;
  width: 100vw;
  background: #084874;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  list-style-type: none;
  transition: opacity 200ms ease, transform 250ms ease;
}
@media screen and (max-width: 640px) {
  .menu .sub-menu {
    background-color: rgba(255,255,255,0.15);
  }
}
@media screen and (min-width: 640px) {
  .menu .sub-menu {
    position: absolute;
    top: calc(100% - 15px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.menu .sub-menu .menu-item a {
  color: white !important;
  display: inline-block;
}
.menu .has-subitem .sub-menu {
  z-index: -9999;
  pointer-events: none;
  transform: translate3d(0, -100%, 0);
}
.menu .js-open-subitem + .sub-menu {
  z-index: 1;
  pointer-events: auto;
  opacity: 1;
  max-height: 100vh;
  transform: translate3d(0, 0, 0);
}

.menu-item-has-children > a:before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 15px;
  background: transparent url("/dev/assets/arrow-white.svg") no-repeat 50% 50%;
}
@media screen and (min-width: 640px) {
  .js-header-fixed.js-scroll-up .menu-item-has-children > a:before,
  body:not(.home) .menu-item-has-children > a:before {
    background: transparent url("/dev/assets/arrow-blue.svg") no-repeat 50% 50%;
  }
}

.js-main-navigation-open .menu-item-has-children > a:before {
  background: transparent url("/dev/assets/arrow-white.svg") no-repeat 50% 50%;
}
.menu-item-has-children a{
  position: relative;
}
.menu-item-has-children > a:before {
  position: absolute;
  right: 15px;
  top: 16px;
}
@media screen and (min-width: 640px) {
  .menu-item-has-children > a {
  padding-right: 38px;
}

  .menu-item-has-children > a:before {
    right: 12.5px;
    top: 18px;
  }
}

input[type=date]{
  color: white
}
.is-filled input[type=date]{
  color: #030100
}
#menu-main-menu li {
    white-space: nowrap;
}
.menu-item-has-children.js-open-subitem > a:before {
  transform: rotate(180deg);
}




.type-fellows .entry-content p {
  width: 80%;
}
.type-fellows .wp-block-columns p {
  width: 100%;
}
.type-fellows a {
  text-decoration: none;
  color: #084773;
}

#menu-footer-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#menu-footer-menu a {
  text-decoration: none;
}
#menu-footer-menu a:after {
  bottom: -4px;
}

@media screen and (max-width: 640px) {
  .js-navigation-open .menu {
    flex-direction: column;
  }

  .js-navigation-open .menu a {
    color: white !important;
    display: inline-block;
    
    padding: 15px 50px;
  }
}
.entry-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.entry-content .attachment-post-thumbnail{
  width: 100%;
  margin-bottom: 3rem;
}

.wp-block-columns {
  width: 100%;
  overflow: hidden;
}
time a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-blue);
}

div.wpcf7-mail-sent-ok {
  font-size: 48px;
  position: absolute;
  top: 0;
  z-index: 2;
  margin: 0;
  bottom: 0;
  display: flex !important;
  text-align: center;
  align-items: center;
  background: #eeeeee;
  border: 0;
  font-family: canela;
  color: #084773;
}

section{ overflow: hidden }

[type="date"]{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  border-radius: 0;
}
[data-js-accordion-item]{
  position: relative;
}
@media screen and (max-width: 640px) {
  .images-accordion .active\:arrow-rotate--big{
    width: 33px;
    position: absolute;
    top: 70px;
    right: 0;

  }
}
/*# sourceMappingURL=style.css.map */

.invalid > div{

  border: 1px solid #840414;
}

.wpcf7-validation-errors {
  border: 0 !important;
  color: #840414;
}

.is-file .wpcf7-form-control-wrap{
  position: static;
}

.is-file .wpcf7-not-valid-tip{
  position: absolute;
  top: 41px !important;
  left: 0 !important;
}
[data-js-show-more]{
  display: none;
}
.has-message {
  color: #840414;
  display: block;
  font-size: 14px;
  text-transform: initial;
  letter-spacing: 0.05px;
}

div.wpcf7-response-output {
  margin: 2em 0.5em 1em;
  padding: 1em;
  text-align: center;
  border: 1px solid #840414 !important;
  max-width: 60%;
  margin: 0 auto;
}

div.wpcf7-response-output.wpcf7-mail-sent-ok{
  border: 0 !important;
  max-width: 100%;
  width: 100%;
}

[data-js-simple-carousel] .arrow-prev {
  left: -40px
}
[data-js-simple-carousel] .arrow-next {
  right: -40px
}

[data-js-simple-carousel] .arrow-prev,
[data-js-simple-carousel] .arrow-next{
  top: 50%;
  transform: translate3d(0,-50%,9);
}
.wp-block-column:not(:first-child),
.page-template-page-contact-php .wp-block-column:nth-child(2) {
  flex-basis: auto !important;
  margin-left: auto !important;
}

@media screen and (min-width: 640px) {
  .page-template-page-overview [class*=parallax-image]{
    height: auto !important
  }
}