.slick-slide {
  &:not(.js-open){
    [data-js-carousel-content]{
      display: none
    }
  }
  &.js-open{
    height: auto !important;
    [data-js-carousel-title]{
      display: none
    }
  }
}
[data-js-accordion-item]{

  [data-js-accordion-content]{
    max-height: 0;
    overflow: hidden;
    transition: max-height 250ms ease;
  }
  &.js-open [data-js-accordion-content]{
    max-height: 100vh;
  }
}
[data-js-carousel-title]{
  min-height: 136px;
}

[data-js-carousel] .slick-slide{
  > div{
    padding: 15px;
  }
  article{
    border-color: $green-400;
    border-style: solid;
    border-width: 1px 0;
  }
}
[data-js-accordion-button]{
  cursor: pointer;
}

.navigation-item{
  padding: 15px;
}
.navigation-item.pr-0{
  padding-right: 0;
}


.js-open-submenu main > * {
  padding-top: $module * 2;
  transition: padding-top 250ms ease;
}