/* display */
.block{ display: block }
.inline-block{ display: inline-block }
.inline{ display: inline }
.table{ display: table }
.table-row{ display: table-row }
.table-cell{ display: table-cell }
.hidden{ display: none }
.flex{ display: flex }
.flex-inline{ display: inline-flex }
.flex-row{ flex-direction: row; }
.flex-row-reverse{ flex-direction: row-reverse; }
.flex-column{ flex-direction: column; }
.flex-column-reverse{ flex-direction: column-reverse;}

/* flex wrap */
.flex-no-wrap{flex-wrap: nowrap;}
.flex-wrap{flex-wrap: wrap;}
.flex-wrap-reverse{flex-wrap: wrap-reverse;}

/* flex position */
.items-stretch{align-items: stretch;}
.items-start{align-items: flex-start;}
.items-center{align-items: center;}
.items-end{align-items: flex-end;}
.items-baseline{align-items: baseline;}
.content-start{align-content: flex-start;}
.content-center{align-content: center;}
.content-end{align-content: flex-end;}
.content-between{align-content: space-between;}
.content-around{align-content: space-around;}
.justify-start{justify-content: flex-start;}
.justify-center{justify-content: center;}
.justify-end{justify-content: flex-end;}
.justify-between{justify-content: space-between;}
.justify-around{justify-content: space-around;}

@media screen and (max-width: $mobile - 1) {
  .xs\:hidden{ display: none; }
}
@media screen and (min-width: $mobile) {
  .sm\:flex-row{ flex-direction: row; }
  .sm\:flex-row-reverse{ flex-direction: row-reverse; }
  .sm\:flex-column{ flex-direction: column; }
  .sm\:flex-column-reverse{ flex-direction: column-reverse;}
  .sm\:flex-no-wrap{flex-wrap: nowrap;}
  .sm\:flex-wrap{flex-wrap: wrap;}
  .sm\:flex-wrap-reverse{flex-wrap: wrap-reverse;}
  .sm\:hidden{ display: none; }
  .sm\:block{ display: block; }
  .sm\:flex{ display: flex; }
  
  .sm\:items-start{align-items: flex-start;}
}
@media screen and (min-width: 900px) {
  .md\:block{ display: block }
}