/* grid */
.container {
  max-width: calc(100% - 50px);
  margin: 0 auto;
  @media screen and (min-width: $tablet) {
    max-width: calc(100% - 75px);
  }
  @media screen and (min-width: $desktop) {
    max-width: $grid-max-width;
  }
}
@media screen and (min-width: $mobile) {
  .sm\:container{
    max-width: calc(100% - 50px);
  }
}
@media screen and (min-width: $tablet) {
  .md\:container{
    max-width: calc(100% - 75px);
  }
}
@media screen and (min-width: $desktop) {
  .lg\:container{ 
    max-width: $grid-max-width;
  }
}

.p-gutter{padding-left: $grid-gutters / 2; padding-right: $grid-gutters / 2;}

.w-full{width: 100%}
.w-auto{width: auto}
.w-px{width: 1px}
.w-1{width: 0.5rem}
.w-2{width: $module * 2}
.w-3{width: $module * 3}

.w-1\/2,
.w-2\/4,
.w-3\/6,
.w-6\/12 {
  width: percentage(1/2)
}
.w-1\/3,
.w-2\/6,
.w-4\/12 {
  width: percentage(1/3)
}
.w-2\/3,
.w-4\/6,
.w-8\/12 {
  width: percentage(2/3)
}
.w-1\/4,
.w-3\/12 {
  width: percentage(1/4)
}
.w-3\/4,
.w-9\/1 {
  width: percentage(3/4)
}
.w-1\/5 {
  width: percentage(1/5)
}
.w-2\/5 {
  width: percentage(2/5)
}
.w-3\/5 {
  width: percentage(3/5)
}
.w-4\/5 {
  width: percentage(4/5)
}
.w-1\/6,
.w-2\/12 {
  width: percentage(1/6)
}
.w-5\/6,
.w-10\/12 {
  width: percentage(5/6)
}
.w-1\/12 {
  width: percentage(1/12)
}
.w-5\/12 {
  width: percentage(5/12)
}
.w-7\/12 {
  width: percentage(7/12)
}
.w-11\/12{
  width: percentage(11/12)
}

@media screen and (min-width: $mobile) {
  .sm\:p-gutter{padding-left: $grid-gutters; padding-right: $grid-gutters;}
  .sm\:w-full{ width: 100% !important}
  .sm\:w-auto{ width: auto !important }
  .sm\:w-px{ width: 1px !important }
  .sm\:w-1\/2,
  .sm\:w-2\/4,
  .sm\:w-3\/6,
  .sm\:w-6\/12 {
    width: percentage(1/2)
  }
  .sm\:w-1\/3,
  .sm\:w-2\/6,
  .sm\:w-4\/12 {
    width: percentage(1/3)
  }
  .sm\:w-2\/3,
  .sm\:w-4\/6,
  .sm\:w-8\/12 {
    width: percentage(2/3)
  }
  .sm\:w-1\/4,
  .sm\:w-3\/12 {
    width: percentage(1/4)
  }
  .sm\:w-3\/4,
  .sm\:w-9\/1 {
    width: percentage(3/4)
  }
  .sm\:w-1\/5 {
    width: percentage(1/5)
  }
  .sm\:w-2\/5 {
    width: percentage(2/5)
  }
  .sm\:w-3\/5 {
    width: percentage(3/5)
  }
  .sm\:w-4\/5 {
    width: percentage(4/5)
  }
  .sm\:w-1\/6,
  .sm\:w-2\/12 {
    width: percentage(1/6)
  }
  .sm\:w-5\/6,
  .sm\:w-10\/12 {
    width: percentage(5/6)
  }
  .sm\:w-1\/12 {
    width: percentage(1/12)
  }
  .sm\:w-5\/12 {
    width: percentage(5/12)
  }
  .sm\:w-7\/12 {
    width: percentage(7/12)
  }
  .sm\:w-11\/12{
    width: percentage(11/12)
  }
}

@media screen and (min-width: 900px) {
  .md\:w-full{
    width: 100% !important
  }
  .md\:w-auto{
    width: auto !important
  }
  .md\:w-px{
    width: 1px !important
  }
  .md\:w-1\/2,
  .md\:w-2\/4,
  .md\:w-3\/6,
  .md\:w-6\/12 {
    width: percentage(1/2)
  }
  .md\:w-1\/3,
  .md\:w-2\/6,
  .md\:w-4\/12 {
    width: percentage(1/3)
  }
  .md\:w-2\/3,
  .md\:w-4\/6,
  .md\:w-8\/12 {
    width: percentage(2/3)
  }
  .md\:w-1\/4,
  .md\:w-3\/12 {
    width: percentage(1/4)
  }
  .md\:w-3\/4,
  .md\:w-9\/1 {
    width: percentage(3/4)
  }
  .md\:w-1\/5 {
    width: percentage(1/5)
  }
  .md\:w-2\/5 {
    width: percentage(2/5)
  }
  .md\:w-3\/5 {
    width: percentage(3/5)
  }
  .md\:w-4\/5 {
    width: percentage(4/5)
  }
  .md\:w-1\/6,
  .md\:w-2\/12 {
    width: percentage(1/6)
  }
  .md\:w-5\/6,
  .md\:w-10\/12 {
    width: percentage(5/6)
  }
  .md\:w-1\/12 {
    width: percentage(1/12)
  }
  .md\:w-5\/12 {
    width: percentage(5/12)
  }
  .md\:w-7\/12 {
    width: percentage(7/12)
  }
  .md\:w-11\/12{
    width: percentage(11/12)
  }
}

@media screen and (min-width: 1200px) {
  .lg\:w-full{
    width: 100% !important
  }
  .lg\:w-auto{
    width: auto !important
  }
  .lg\:w-px{
    width: 1px !important
  }
  .lg\:w-1\/2,
  .lg\:w-2\/4,
  .lg\:w-3\/6,
  .lg\:w-6\/12 {
    width: percentage(1/2)
  }
  .lg\:w-1\/3,
  .lg\:w-2\/6,
  .lg\:w-4\/12 {
    width: percentage(1/3)
  }
  .lg\:w-2\/3,
  .lg\:w-4\/6,
  .lg\:w-8\/12 {
    width: percentage(2/3)
  }
  .lg\:w-1\/4,
  .lg\:w-3\/12 {
    width: percentage(1/4)
  }
  .lg\:w-3\/4,
  .lg\:w-9\/1 {
    width: percentage(3/4)
  }
  .lg\:w-1\/5 {
    width: percentage(1/5)
  }
  .lg\:w-2\/5 {
    width: percentage(2/5)
  }
  .lg\:w-3\/5 {
    width: percentage(3/5)
  }
  .lg\:w-4\/5 {
    width: percentage(4/5)
  }
  .lg\:w-1\/6,
  .lg\:w-2\/12 {
    width: percentage(1/6)
  }
  .lg\:w-5\/6,
  .lg\:w-10\/12 {
    width: percentage(5/6)
  }
  .lg\:w-1\/12 {
    width: percentage(1/12)
  }
  .lg\:w-5\/12 {
    width: percentage(5/12)
  }
  .lg\:w-7\/12 {
    width: percentage(7/12)
  }
  .lg\:w-11\/12{
    width: percentage(11/12)
  }
}
