/* spacing */

// $increments: (0,1,2,3,4,6);
// @each $increment in $increments {}

.m-auto{ margin: auto }
.m-0{ margin: 0 }


.my-0{margin-top: 0; margin-bottom: 0;}
.my-1{margin-top: $module; margin-bottom: $module;}
.my-2{margin-top: $module * 2; margin-bottom: $module * 2;}
.my-3{margin-top: $module * 3; margin-bottom: $module * 3;}
.my-4{margin-top: $module * 3; margin-bottom: $module * 4;}
.my-6{margin-top: $module * 6; margin-bottom: $module * 6;}


.m-4{ margin-left: $module * 4 }

.mt-0{ margin-top: 0 }
.mt-1{ margin-top: 1 * $module }
.mt-12{ margin-top: 12px }
.mr-0{ margin-right: 0}
.mb-0{ margin-bottom: 0}
.ml-0{ margin-left: 0 }
.ml-1{ margin-left: $module }
.ml-1\/4 { margin-left: percentage(1/4) }
.\-mt-2{margin-top: ($module * 2) * -1}
.mt-2{margin-top: $module * 2;}
.mt-4{margin-top: $module * 4;}
.mr-px{ margin-right: 1px ;}
.mr-1{ margin-right: $module / 2; }
.mr-1\/4 { margin-right: percentage(1/4) }

.mb-1{ margin-bottom: $module; }
.mb-2{ margin-bottom: $module * 2; }
.mb-3{ margin-bottom: $module * 3; }
.mb-4{ margin-bottom: $module * 4; }
.mb-6{ margin-bottom: $module * 6; }

.\-ml-2{margin-left: ($module * 2) * -1}
.\-ml-3{margin-left: ($module * 3) * -1}

.mt-auto{ margin-top: auto;}
.mr-auto{ margin-right: auto;}
.ml-auto{ margin-left: auto;}
.mx-auto{ margin-left: auto; margin-right: auto; }
.\-m-gutter{ margin-left: -$gutter; margin-right: -$gutter; }
.\-mt-2px{ margin-top: -2px}

@media screen and (min-width: $mobile) {
  .sm\:m-4{ margin: $module * 4 }
  .sm\:my-1{margin-top: $module; margin-bottom: $module;}
  .sm\:my-0{margin-top: 0; margin-bottom: 0;}
  .sm\:my-3{margin-top: $module * 3; margin-bottom: $module * 3;}
  .sm\:my-6{margin-top: $module * 6; margin-bottom: $module * 6;}
  .sm\:mt-0{ margin-top: 0 }
  .sm\:mt-4{ margin-top: $module * 4 }
  .sm\:mt-8{ margin-top: 10rem }
  .sm\:mr-8{ margin-right: 10rem }
  .sm\:mb-1{ margin-bottom: $module }
  .sm\:mb-8{ margin-bottom: 10rem }
  .sm\:\-ml-2{margin-left: ($module * 2) * -1}
  .sm\:ml-3{ margin-left: 2rem; }
  .sm\:ml-0{ margin-left: 0 }
  .sm\:ml-8{ margin-left: 10rem }
  .sm\:mb-70 { margin-bottom: 70px; }
  .sm\:mt-140 { margin-top: 140px; }
  .sm\:ml-1\/4{ margin-left: percentage(1/4) }
  .sm\:mr-0{ margin-right: 0 }
  .sm\:mr-auto{ margin-right: auto }
  .sm\:ml-auto{ margin-left: auto }
}