@mixin applyClass($class) {
  @if $class == 'h1' {
    & {
      // font-size: 70px;
      font-size: 65px;
      line-height: 1.2;
      @content;
    }
  }

  @if $class == 'mobile-h1' {
    & {
      // font-size: 70px;
      font-size: 35px;
      line-height: 1.2;
      @content;
    }
  }

  
  @if $class == 'h2' {
    & {
      font-size: 24px;
      line-height: 32px;
      color: var(--color-dark);
      @content;
      
    }
  }
  @if $class == 'h3' {
    & {
      font-size: 48px;
      line-height: 1.29; // 62
      @content;
    }
  }
  @if $class == 'mobile-h3' {
    & {
      font-size: 25px;
      line-height: 1.25;
    }
  }
  @if $class == 'h4' {
    & {
      font-size: 35px; // 25px
      line-height: 24px; // 35px
      @content;
    }
  }
  @if $class == 'mobile-h4' {
    & {
      font-size: 25px;
      line-height: 1.25;
    }
  }
  @if $class == 'h5' {
    &{
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.1px;
      line-height: 24px;
    }
  }
	@if $class == 'caption' {
    &{
      // font-size: 24px; letter-spacing: 3.36px;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 2.24px
    }
  }
  @if $class == 'mobile-caption' {
    & {
      font-size: 16px;
      letter-spacing: 1.21px
    }
  }
  @if $class == 'display' {
    & {
      font-size: 56px;
      line-height: 60px;
      @content;
    }
  }

  @if $class == 'label' {
    & {
      // font-size: 25px / 25;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1.68px;
      line-height: 1.25; // 32px
      @content;
    }
  }

  @if $class == 'paragraph' {
    & {
      // font-size: 25px / 25;
      font-size: 20px;
      letter-spacing: -0.5px;
      line-height: 1.25; // 32px
      @content;
    }
  }
  @if $class == 'mobile-paragraph' {
    & {
      font-size: 16px;
      line-height: 1.25; // 32px
    }
  }
  @if $class == 'paragraph-small' {
    & {
      // font-size: 20px;
      // line-height: 25px;
      font-size: 16px;
      line-height: 1.25;
      @content;
    }
  }
  @if $class == 'blockquote' {
    & {
      font-size: 28px;
      line-height: 1.25;
      @content;
    }
  }

  @if $class == 'mobile-blockquote' {
    & {
      font-size: 22px;
      line-height: 1.25;
      @content;
    }
  }

  @if $class == 'blog-text' {
    & {
      font-size: 30px;
      line-height: 1.25;
      @content;
    }
  }

  @if $class == 'cta' {
    &{
      font-size: 20px;
      letter-spacing: 1.25px;
    }
  }

  @if $class == 'footer' {
    &{
      font-size: 17px
    }
  }

  @if $class == 'TITLEH1' {
    &{
      font-size: 65px;
      line-height: 1.2
    }
  }
  @if $class == 'TITLEH3' {
    &{
      font-size: 35px;
      line-height: 1.2
    }
  }
  @if $class == 'TITLEMINI' {
    &{
      font-size: 16px;
      line-height: 1.25
    }
  }
  @if $class == 'BODY' {
    &{
      font-size: 20px;
      line-height: 1.25
    }
  }
  @if $class == 'CTA' {
    &{
      font-size: 16px;
      line-height: 1.25
    }
  }
  @if $class == 'BUTTON' {
    &{
      font-size: 16px;
      line-height: 1.25
    }
  }

}