
.p-0{padding: 0;}
.p-1{padding: $module}
.p-2{padding: $module * 2}
.p-3{padding: $module * 3}

.pl-2{padding-left: $module * 2}
.px-1{padding-left: $module; padding-right: $module;}
.px-2{padding-left: $module * 2; padding-right: $module * 2;}
.px-3{padding-left: $module * 3; padding-right: $module * 3;}

.py-1{padding-top: $module; padding-bottom: $module;}
.py-2{padding-top: $module * 2; padding-bottom: $module * 2;}
.py-3{padding-top: $module * 3; padding-bottom: $module * 3;}
.py-4{padding-top: $module * 4; padding-bottom: $module * 4;}
.py-6{padding-top: $module * 6; padding-bottom: $module * 6;}

.pt-0{padding-top: 0;}
.pt-2{padding-top: $module * 2}
.pt-4{padding-top: $module * 4}
.pt-6{padding-top: $module * 6}
.pt-8{padding-top: $module * 8}

.pr-0{padding-right: 0;}
.pr-1{padding-right: $module}
.pr-2{padding-right: $module * 2}

.pb-0{padding-bottom: 0;}
.pb-1{padding-bottom: $module * 1;}
.pb-2{padding-bottom: $module * 2;}
.pb-3{padding-bottom: $module * 3;}
.pb-4{padding-bottom: $module * 4;}
.pb-7{padding-bottom: $module * 7;}
.pb-8{padding-bottom: $module * 8;}
.pl-0{padding-left: 0;}
@media screen and (min-width: $mobile) {
  .sm\:p-0{padding: 0;}
  .sm\:p-2{padding: $module * 2}

  .sm\:pr-1{padding-right: $module}
  .sm\:pr-2{padding-right: $module * 2}
  .sm\:px-3{padding-left: $module * 3; padding-right: $module * 3;}
  .sm\:py-1{padding-top: $module; padding-bottom: $module;}
  .sm\:py-2{padding-top: $module * 2; padding-bottom: $module * 2;}
  .sm\:py-3{padding-top: $module * 3; padding-bottom: $module * 3;}
  .sm\:py-4{padding-top: $module * 4; padding-bottom: $module * 4;}
  .sm\:py-6{padding-top: $module * 6; padding-bottom: $module * 6;}
  
  .sm\:pt-0{padding-top: 0;}
  .sm\:pr-0{padding-right: 0;}
  .sm\:pb-0{padding-bottom: 0;}
  .sm\:pl-0{padding-left: 0;}
  .sm\:pt-8{padding-top: $module * 8}
}
@media screen and (min-width: $tablet) {
  .md\:p-0{padding: 0;}
  .md\:pt-0{padding-top: 0;}
  .md\:pr-0{padding-right: 0;}
  .md\:pb-0{padding-bottom: 0;}
  .md\:pl-0{padding-left: 0;}
}
@media screen and (min-width: $desktop) {
  .lg\:p-0{padding: 0;}
  .lg\:pt-0{padding-top: 0;}
  .lg\:pr-0{padding-right: 0;}
  .lg\:pb-0{padding-bottom: 0;}
  .lg\:pl-0{padding-left: 0;}
}