.inset-0{top: 0; right: 0; bottom: 0; left: 0;}
.inset-10{top: 10px; right: 10px; bottom: 10px; left: 10px;}
.inset-y-0{top: 0; bottom: 0;}
.inset-x-0{right: 0; left: 0;}
.inset-y-center{top: 50%}
.inset-x-center{left: 50%;}
.inset-center{top: 50%; left: 50%;}
.top-0{top: 0;}
.top-1{top: $module}
.top-2{top: $module * 2}
.top-3{top: $module * 3}
.top-4{top: $module * 4}
.top-6{top: $module * 6}
.top-center{
  top: 50%;
  transform: translate3d(0,-50%,0);
}
.\-top-2{top: ($module * 2) * -1}
.\-top-4{top: ($module * 4) * -1}
.right-0{right: 0;}
.bottom-0{bottom: 0;}
.left-0{left: 0;}
.left-1{left: $module}
.top-2{top: 1rem;}

.right-2{right: 1rem;}
.bottom-2{bottom: 1rem;}
.left-2{left: 1rem;}
.inset-auto{top: auto; right: auto; bottom: auto; left: auto;}
.translate-center{transform: translate3d(-50%, -50%, 0);}