/* typography - weight */
.font-hairline{font-weight: 100;}
.font-thin{font-weight: 200;}
.font-light{font-weight: 300;}
.font-normal{font-weight: 400;}
.font-medium{font-weight: 500;}
.font-semibold{font-weight: 600;}
.font-bold{font-weight: 700;}
.font-extrabold{font-weight: 800;}
.font-black{font-weight: 900;}
.underline{text-decoration: underline;}
.line-through{text-decoration: line-through;}
.no-underline{text-decoration: none;}
.break-words{word-break: break-word}
.serif{font-family: $serif-font, serif}
.sans-serif{font-family: $sans-serif-font, sans-serif}
/* typography - format */
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-justify{text-align: justify;}
.uppercase{ text-transform: uppercase;}
.lowercase{ text-transform: lowercase;}
.camelcase{ text-transform: capitalize;}

/* typography - rules */

.text-h1{ 
  @include applyClass('mobile-h1');
  @media screen and (min-width: 640px){
    @include applyClass('h1');
  }
}

.text-h2{ @include applyClass('h2');}
.text-h3{ 
  @include applyClass('mobile-h3');
  @media screen and (min-width: 640px){
    @include applyClass('h3')
  }
}

.text-h4{ 
  @include applyClass('mobile-h4');
  @media screen and (min-width: 640px){
    @include applyClass('h4')
  }
}


.text-h5{ @include applyClass('h5');}
.text-display{ @include applyClass('display');}
.text-p{ 

  @include applyClass('mobile-paragraph');

  @media screen and (min-width: 640px){
    @include applyClass('paragraph');
  }

}

.text-c{ @include applyClass('paragraph-small');}
.text-caption{ 
  @include applyClass('mobile-caption');
  @media screen and (min-width: 640px){
    @include applyClass('caption');
  }

}
.text-blockquote{ 
  @include applyClass('mobile-blockquote');

  @media screen and (min-width: 640px){
    @include applyClass('blockquote');
  }
}


.text-cta{ @include applyClass('cta');}
.text-footer{ @include applyClass('footer');}
.text-label { @include applyClass('label'); }
.text-blog { @include applyClass('blog-text'); }


@media screen and (min-width: $mobile) {
  .sm\:text-left{text-align: left;}
  .sm\:text-center{text-align: center;}
  .sm\:text-right{text-align: right;}
  .sm\:text-justify{text-align: justify;}
  .sm\:text-h1{
    @include applyClass('h1')
  }
  .sm\:text-h2{
    @include applyClass('h2')
  }
  .sm\:text-h3{
    @include applyClass('h3')
  }
  .sm\:text-display{
    @include applyClass('display')
  }
  .sm\:text-p{
    @include applyClass('paragraph')
  }
  .sm\:text-blog { @include applyClass('blog-text'); }
}

@media screen and (min-width: 900px) {
  .md\:text-h1{
    @include applyClass('h1')
  }
  .md\:text-h2{
    @include applyClass('h2')
  }
  .md\:text-h3{
    @include applyClass('h3')
  }
  .md\:text-display{
    @include applyClass('display')
  }
  .md\:text-p{
    @include applyClass('paragraph')
  }
}
@media screen and (min-width: 1200px) {
  .lg\:text-h1{
    @include applyClass('h1');
  }
  .lg\:text-h2{
    @include applyClass('h2');
  }
  .lg\:text-h3{
    @include applyClass('h3');
  }
  .lg\:text-display{
    @include applyClass('display');
  }
  .lg\:text-p{
    @include applyClass('paragraph');
  }
}

.lh-1{ line-height: $module }
.lh-2{ line-height: $module * 1.2 }
.lh-3{ line-height: $module * 1.8 }
.lh-4{ line-height: $module * 2 }

.ls-custom{
  letter-spacing: 3.36px
}

h1,h2,h3,h4,h5,h6{
  @extend .font-normal;
}