$green-100: #699A9A;
$green-200: #6B7F7F;
$green-400: #004F51;

$blue-400: #084874;

$grey-100: #F8F8F8;
$grey-200: #ECEBEB;
$grey-300: #D8D8D8;
$grey-400: #979797;
$grey-700: #030100;

$grey-100a: transparency($grey-100, 0.12);

$module: rem(25);

$grid-max-width: rem(1232);
$grid-offset: 120px;
$grid-gutters: rem(30);
$grid-columns: 12;

$mobile: 640px;
$tablet: 900px;
$desktop: 1200px;
$large: 1920px;

$bp: (sm: 640px, md: 900px, lg: 1200px, xl: 1920px);

$gutter: 15px;
$accent: var(--color-accent);
$accent-light: rgba(252,13,28,0.4);

$main-font: 'Untitled Sans Web';

$serif-font: 'Canela Web';
$sans-serif-font: 'Untitled Sans Web';