
- $backgroundColors = locals[:backgroundColors] ? locals[:backgroundColors] : 'bg-blue-400'
- $textColors = locals[:textColors] ? locals[:textColors] : 'blue-400'
- $assetColor = locals[:assetColor] ? locals[:assetColor] : 'blue'
- $prefix = locals[:prefix] ? locals[:prefix] : 'ic-'
- $alternativeColor = locals[:prefix] ? locals[:prefix] : 'bg-green-400'
- $contentContact = locals[:assetColor] === 'green' ? '<p class="my-2"> Insight Partners<br> 199 Sudbury Road<br> Concord, MA 01742 </p> <p class="mb-2"> +1.617.948.0006<br> info@insightpartnersonline.com </p> <p> <span class="font-medium">Our Operations Manager</span><br> Kathy Adams<br> kadams@insightpartnersonline.com </p>' : '<p class="my-2"> Insight Collaborative<br> 199 Sudbury Road<br> Concord, MA 01742 </p> <p class="mb-2"> +1.617.948.0006<br> info@insightcollaborative.org </p> <p> <span class="font-medium">Our Operations Manager</span><br> Kathy Adams<br> kadams@insightcollaborative.org </p>'

:plain
  <section style="background-image: url(/img/bg-contact-us.jpg);">
    <div class="py-2 sm:py-4 pt-4 sm:pt-8 background-cover" >
      <div class="flex flex-wrap container mx-auto">
        <h2 class="w-full mt-0 mb-4 text-h3 serif text-center">
          Get in touch to find out more about our work
        </h2>
        <div class="w-full sm:w-1/2 p-gutter">
          <div class="p-1 bg-white-opacity">
            <form action="sendmail.php" method="POST" enctype="multipart/form-data">
              <label for="contact_email" class="form-label border-t-1 border-b-1 relative">
                <input type="text" id="contact_email" name="contact_email" class="form-input">
                <span class="serif">You email address</span>
              </label>

              <label for="contact_object" class="form-label border-t-1 border-b-1 relative">
                <textarea id="mail_object" name="contact_object" class="form-textarea"></textarea>
                <span class="serif">Type your message</span>
              </label>

              <button class="border-0 background-none #{$textColors} mt-2 text-c" type="submit"> 
                <span class="hover:arrow-animation items-center flex-inline justify-center">
                  Submit
                  &nbsp;<span><object data="/assets/long-arrow-next-#{$assetColor}.svg" type="image/svg+xml"></object></span>
                </span>
              </button>

              <div class="message"></div>
            </form>
          </div>
        </div>
        <div class="sm:w-5/12 sm:ml-auto  p-gutter text-c">
          #{$contentContact}
        </div>
      </div>
    </div>
  </section>
