
- $backgroundColors = locals[:backgroundColors] ? locals[:backgroundColors] : 'bg-blue-400'
- $textColors = locals[:textColors] ? locals[:textColors] : 'blue-400'
- $assetColor = locals[:assetColor] ? locals[:assetColor] : 'blue'
- $prefix = locals[:prefix] ? locals[:prefix] : 'ic-'
- $alternativeColor = locals[:prefix] ? locals[:prefix] : 'bg-green-400'

- $theme = current_page.data.navigation_source === 'collaborative' ? 'ic-theme' : '';


:plain
	<section style="background-image: url(/img/bg-hp-what-we-do.jpg);" class="background-cover background-fixed">
		<div class="container mx-auto pt-4 sm:pt-8 py-2 sm:py-4" data-aos="fade-up" data-aos-delay="250" data-aos-duration="2000">
			<div class="sm:w-5/6 mx-auto text-center">
				<h3 class="uppercase text-caption mb-2 text-center w-full sm:hidden">what we do</h3>
				<p class="serif text-h3 m-0 mb-2 #{$textColors}">
					As trusted partners to our clients we get<br class="xs:hidden"> high potential individuals and teams <br class="xs:hidden">working better together. </p>
				<hr class="#{$textColors} h-0 w-2 mb-2 border-1">
				<div class="text-p">
					<p class="m-0 mb-1">By gaining a deep understanding of our clients we quickly see what’s holding <br class="xs:hidden"> them back. Drawing on our well-tested combination of case studies, theory, and<br class="xs:hidden"> practical exercises, we equip them to take on the specific challenges they are facing.</p>
					<p class="m-0 mb-1">Whether we are building a stronger culture, providing individual coaching<br class="xs:hidden"> and consulting, or facilitating conferences and workshops, our role is <br class="xs:hidden"> to stretch thinking and challenge behaviors that get in the way of success.</p>
					
					
				</div>
			</div>
		</div>
	</section>



	<section class="container mx-auto #{$theme}">
		<div class="py-2 sm:p-0 sm:py-4 sm:w-5/6 mx-auto" data-js-accordion>
			<div id="grouptraining" data-js-accordion-item  class="flex border-t-2 flex-wrap #{$textColors} py-2">
				<div class="w-full sm:w-2/12 pr-1 sm:pr-2">
					<figure class="h-3 w-3 mb-1 sm:mb-0 relative sm:w-full sm:h-auto">
						<img src="/img/#{$prefix}group-training.svg" class="w-full inset-center">
					</figure>
				</div>
				<div class="w-full sm:w-10/12">
					<h2 data-js-accordion-button class="flex text-h4 m-0 mb-1 serif">Group Training<button class="ml-auto border-0 background-none" type="button"><span class=" active:arrow-rotate--big #{$prefix}asset mr-1"></span></button></h2>
					<div class="sm:w-3/4 text-c grey-700 font-medium">Strengthening communication, negotiation and relationship management skills to help individuals and teams perform better.</div>
					<div data-js-accordion-content class="grey-700 text-c w-10/12">
						<p>Our workshops are fully tailored to each organization’s unique context and goals. We typically begin by discussing real-life examples from the participants’ world to help them better understand the patterns of behavior to which we all turn when under pressure.</p>
						<p>Through group activities and discussions we share the specific theory, tools and skills participants need to excel in all their conversations and negotiations. We strengthen this learning through tailored case studies, role playing different responses to the most difficult situations participants are set to encounter.</p>
						<p>Participants leave the room with increased confidence, equipped with the tools to excel in the most difficult challenges they face now and in the future. </p>
						<p><a class="#{$assetColor}-400 no-underline flex-inline items-center font-medium text-c" href="contact_us.html">Contact us to learn more
							<span class="hover:arrow-animation ml-1" rel="next">
								<span><object data="/assets/long-arrow-next-#{$assetColor}.svg" type="image/svg+xml"></object></span>
							</span>
						</a></p>
					</div>
				</div>
			</div>
			<div id="coachingmentoring" data-js-accordion-item  class="flex border-t-2 flex-wrap #{$textColors} py-2">
				<div class="w-full sm:w-2/12 pr-1 sm:pr-2">
					<figure class="h-3 w-3 mb-1 sm:mb-0 relative sm:w-full sm:h-auto">
						<img src="/img/#{$prefix}coaching.svg" class="w-full inset-center">
					</figure>
				</div>




				<div class="w-full sm:w-10/12">
					<h2 data-js-accordion-button class="flex text-h4 m-0 mb-1 serif">Coaching<button class="ml-auto border-0 background-none" type="button"><span class=" active:arrow-rotate--big #{$prefix}asset mr-1"></span></button></h2>
					<div class="sm:w-3/4 text-c grey-700 font-medium">Preparing leaders to achieve the best outcomes in high-stakes moments, and to grow personally and professionally throughout their careers.</div>
					<div data-js-accordion-content class="grey-700 text-c w-10/12">
						<p>As leaders prepare for particularly critical moments or new phases of their career, we equip, challenge and motivate them to excel. </p>
						<p>Through our fully tailored consulting and coaching sessions, we stretch individuals and teams to see situations differently, discover how best to navigate problems and practice the skills they need to succeed. </p>
						<p>With our ongoing support, clients feel confident to perform consistently at their best through whatever challenges they face. </p>
						<p><a class="#{$assetColor}-400 no-underline flex-inline items-center font-medium text-c" href="contact_us.html">Contact us to learn more
							<span class="hover:arrow-animation ml-1" rel="next">
								<span><object data="/assets/long-arrow-next-#{$assetColor}.svg" type="image/svg+xml"></object></span>
							</span>
						</a></p>
					</div>
				</div>
			</div>
			<div id="cultureshaping" data-js-accordion-item  class="flex border-t-2 flex-wrap #{$textColors} py-2">
				<div class="w-full sm:w-2/12 pr-1 sm:pr-2">
					<figure class="h-3 w-3 mb-1 sm:mb-0 relative sm:w-full sm:h-auto">
						<img src="/img/#{$prefix}culture-shaping.svg" class="w-full inset-center">
					</figure>
				</div>
				<div class="w-full sm:w-10/12">
					<h2 data-js-accordion-button class="flex text-h4 m-0 mb-1 serif">Culture Shaping<button class="ml-auto border-0 background-none" type="button"><span class=" active:arrow-rotate--big #{$prefix}asset mr-1"></span></button></h2>
					<div class="sm:w-3/4 text-c grey-700 font-medium">Aligning organizations through shared values and purpose, driving results and building stronger relationships.</div>
					<div data-js-accordion-content class="grey-700 text-c w-10/12">
						<p>We believe the most successful companies appreciate the value of  culture, which we define as the mindsets and behaviors that characterize an organization.</p>
						<p>We quickly analyze current internal dynamics and then work with the client to develop or refine a set of cultural principles that fully align with the organization and its teams.</p>
						<p>We embed these principles through a range of customized workstreams and well-tested approaches to reshape mindsets and challenge behaviors getting in the way of success. We then enable periodic culture monitoring to ensure the organization continues to thrive. </p>
						<p><a class="#{$assetColor}-400 no-underline flex-inline items-center font-medium text-c" href="#">Read more on LinkedIn
						<span class="hover:arrow-animation ml-1" rel="next">
								<span><object data="/assets/long-arrow-next-#{$assetColor}.svg" type="image/svg+xml"></object></span>
							</span>
						</a></p>
						<p><a class="#{$assetColor}-400 no-underline flex-inline items-center font-medium text-c" href="contact_us.html">Contact us to learn more
							<span class="hover:arrow-animation ml-1" rel="next">
								<span><object data="/assets/long-arrow-next-#{$assetColor}.svg" type="image/svg+xml"></object></span>
							</span>
						</a></p>
					</div>
				</div>
			</div>
			<div id="mediation" data-js-accordion-item  class="flex border-t-2 flex-wrap #{$textColors} py-2">
				<div class="w-full sm:w-2/12 pr-1 sm:pr-2">
					<figure class="h-3 w-3 mb-1 sm:mb-0 relative sm:w-full sm:h-auto">
						<img src="/img/#{$prefix}mediation.svg" class="w-full inset-center">
					</figure>					
				</div>
				<div class="w-full sm:w-10/12">
					<h2 data-js-accordion-button class="flex text-h4 m-0 mb-1 serif">Mediation<button class="ml-auto border-0 background-none" type="button"><span class=" active:arrow-rotate--big #{$prefix}asset mr-1"></span></button></h2>
					<div class="sm:w-3/4 text-c grey-700 font-medium">Creating value as a neutral third party in moments of conflict, or representing the interests of a single client.</div>
					<div data-js-accordion-content class="grey-700 text-c w-10/12">
						<p>In addition to training leaders in how to mediate effectively, we also work directly as mediators to create value and improve relationships in personal and professional disputes, including family, corporate and government contexts. </p>
						<p>As neutral third parties, we help others reach creative solutions that satisfy the interests of everyone involved. When we work on behalf of one party in a conflict, we articulate their interests and find solutions to meet them.</p>
						<p><a class="#{$assetColor}-400 no-underline flex-inline items-center font-medium text-c" href="contact_us.html">Contact us to learn more
							<span class="hover:arrow-animation ml-1" rel="next">
								<span><object data="/assets/long-arrow-next-#{$assetColor}.svg" type="image/svg+xml"></object></span>
							</span>
						</a></p>
					</div>
				</div>
			</div>
			<div id="meetingfacilitation" data-js-accordion-item  class="flex border-t-2 flex-wrap #{$textColors} border-b-2 py-2">
				<div class="w-full sm:w-2/12 pr-1 sm:pr-2">
					<figure class="h-3 w-3 mb-1 sm:mb-0 relative sm:w-full sm:h-auto">
						<img src="/img/#{$prefix}meeting-facilitation.svg" class="w-full inset-center">
					</figure>
				</div>
				<div class="w-full sm:w-10/12">
					<h2 data-js-accordion-button class="flex text-h4 m-0 mb-1 serif">Meeting Facilitation<button class="ml-auto border-0 background-none" type="button"><span class=" active:arrow-rotate--big #{$prefix}asset mr-1"></span></button></h2>
					<div class="sm:w-3/4 text-c grey-700 font-medium">Keeping important conversations on track and helping teams get the most out of coming together.</div>
					<div data-js-accordion-content class="grey-700 text-c w-10/12">
						<p>We work as facilitators in a range of different contexts to keep difficult conversations and routine meetings focused and productive. </p>
						<p>This work includes taking a seat around the executive table, observing, questioning and steering in the right places to keep things running smoothly and efficiently. We also facilitate dialogue between groups in tension, promoting more constructive conversations to find peaceful solutions which benefit both parties. </p>
						<p>We play the role of master-of-ceremonies at larger gatherings including conferences and offsites. This involves designing sessions which unite and challenge high-potential groups to think differently, stretch their ambitions and perform at their best.</p>
						<p><a class="#{$assetColor}-400 no-underline flex-inline items-center font-medium text-c" href="contact_us.html">Contact us to learn more
							<span class="hover:arrow-animation ml-1" rel="next">
								<span><object data="/assets/long-arrow-next-#{$assetColor}.svg" type="image/svg+xml"></object></span>
							</span>
						</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>





