- $backgroundColors = locals[:backgroundColors] ? locals[:backgroundColors] : 'bg-blue-400'
- $textColors = locals[:textColors] ? locals[:textColors] : 'blue-400'
- $assetColor = locals[:assetColor] ? locals[:assetColor] : 'blue'

= partial "_partials/_hero/hero--partner",
  locals: { backgroundImage: '../img/bg-hp-what-we-do.jpg',
  author: 'Dan Green',
  role: 'Partner',
  quote: '<p class="m-0 mb-1">Dan supports leaders and organizations across the world, from helping investment banks build more effective teams, to mediating investment disputes between governments and corporations, to negotiating the release of political prisoners. Dan joined Insight after being awarded the Insight Fellowship in 2005, which saw him spend a year studying the role of emotions in negotiation in China, India, Uganda and the US. </p><p class="m-0">Dan studied at McGill and Columbia Universities, has guest lectured at Harvard Law School and held a professorship at EAFIT University. He speaks fluent Spanish.</p>'}
-# dan_bottom.jpg
= partial "_partials/_editorial/editorial-parallax",
  locals: {backgroundColor: "bg-#{$assetColor}-400",
    quote: 'We fill the role of that trusted advisor, providing clients with insight they don’t get anywhere else.',
    image: '../img/dan_top.jpg',
    content: '<p><strong class="font-medium">Tell us about one of your most memorable client engagements.</strong></p> <p>A few years ago I was asked to support one of the central commanders of the ELN Guerillas in Colombia during the peace process with the Government. I knew it would be exciting, but I hadn’t anticipated how far from my comfort zone I was going  to be. I was escorted to our meetings by armed guards in bulletproof SUVs and I  had to undergo a series of tests to earn the commander’s trust. However, we quickly built a strong and respectful friendship as we worked together during the peace negotiations with the government and on his eventual demobilization from the ELN.  Working on something that has the potential to save thousands of lives, while helping someone change their own, felt immensely meaningful.</p>'}

= partial "_partials/_editorial/editorial-parallax",
  locals: {backgroundColor: 'bg-grey-300',
    backgroundImage: '../img/bg-hp-what-we-do-two.jpg',
    imagePosition: 'parallax-image--right',
    textColor: "#{$assetColor}-400",
    quoteColor: "#{$assetColor}",
    textPosition: 'sm:mr-auto',
    quote: 'Years of analyzing the same underlying human dynamics in diverse situations results in an ability to read patterns of behaviour very quickly.',
    image: '../img/dan_middle.jpg',
    content: '<p><strong class="font-medium">Which aspect of your experience do you think  clients find most useful? </strong></p> <p>On the surface, negotiating multibillion dollar transactions, responding to death threats from organized criminal groups and becoming a more effective management team have very little in common. However, years of analyzing the same underlying human dynamics in these diverse situations results  in an ability to read patterns of behaviour very quickly. You develop an ability to understand what’s really behind complex client situations and see what’s most important to the people involved. Clients value that perspective, especially when facing  challenges  they haven’t seen before.</p> <p><strong class="font-medium">What is one of the most common pitfalls  leaders fall into?</strong></p> <p>A leader’s greatest strength can sometimes become their greatest weakness. For example, a brilliant strategic thinker may struggle to get the best ideas out of their team. Leaders who inspire true loyalty from their direct reports can have difficulty making tough decisions about them. What makes this hard is that  the more senior you get, the less feedback you receive.  It’s a pattern we see play out in every industry. We fill the role of that trusted advisor, providing clients with insight they don’t get anywhere else, which helps  them to perform  at their best. </p> </div> </div>'}
= partial '_partials/_editorial/editorial-parallax',
  locals: { backgroundColor: "bg-#{$assetColor}-400",
            imagePosition: 'parallax-image--left',
            image: '../img/dan_bottom.jpg',
            textColor: 'white',
            quoteColor: 'white',
            quote: 'We often reach a powerful moment when the client suddenly sees themselves and their challenges in a new light.',
            content: '<p><strong>Which leader do you admire?</strong></p> <p>I have a lot of admiration for many of my coaching clients. Andrée Simon, who is the President and CEO of FINCA Impact Finance, a company widening financial inclusion for low-income individuals, is one of the people at the top of that list. She has a fantastic mix of qualities as a leader. She projects immense competence and gravitas while simultaneously living and breathing her organization’s values of warmth, trust and responsibility. What never ceases to impress me is how she consistently does this whether she is leading through change, crisis or opportunity.</p> <p><strong>When do you know you’ve got it right?</strong></p> <p>We often reach a powerful moment when the client suddenly sees themselves and their challenges in a new light. At this breakthrough moment they reach an unambiguous level of clarity and finally see how they can break through current obstacles to find success.</p>'}

%section.relative.bg-white(data-aos-duration="2000" data-aos="fade-up" data-aos-delay="500")
  .container.mx-auto.flex-wrap.flex.py-3.justify-center
    %h2(class="uppercase text-caption m-0 mb-3 w-full text-center") The other partners
    %div(class="sm:w-1/3 -mt-2px sm:mt-0")
      = partial "../_partials/_cards/card--quote",
        locals: {alternativeClass:'h-full',
              quote: 'Every problem has a solution; you just need the time and the right approach to find it.', 
              author: 'Patrick McWhinney<br>Co-Founder and CEO</p>', 
              cta: 'Hear more<br> from Patrick', 
              color: $assetColor,
              url: 'who_we_are-patrick.html'}
    %div(class="sm:w-1/3 -mt-2px sm:mt-0")
      = partial "../_partials/_cards/card--quote",
        locals: {alternativeClass:'h-full', 
              quote: 'I really admire leaders who can get curious in the toughest moments.', 
              author: 'David Seibel<br>Co-Founder and President', 
              cta: 'Hear more<br> from David', 
              color: $assetColor,
              url: 'who_we_are-david.html'}
