- $backgroundColors = locals[:backgroundColors] ? locals[:backgroundColors] : 'bg-blue-400'
- $textColors = locals[:textColors] ? locals[:textColors] : 'blue-400'
- $assetColor = locals[:assetColor] ? locals[:assetColor] : 'blue'

= partial "_partials/_hero/hero--partner"
// img/bg-hp-what-we-do.jpg


= partial '_partials/_editorial/editorial-parallax',
  locals: { backgroundColor: $backgroundColors,
            imagePosition: 'parallax-image--left',
            image: '../img/patrick_top.jpg',
            textColor: 'white',
            quoteColor: 'white',
            paddingTop: 100,
            quote: 'Every problem has got a solution; you just need the time and the right approach to find it.',
            content: '<p><strong class="font-medium">What has been the most exciting moment of your career?</strong></p> <p>The most exciting moments are usually the small ones - moments when our clients make breakthroughs and start seeing their potential completely differently.  I’m there to help them refine that vision  and turn it into reality.</p> <p><strong class="font-medium">Which aspect of your experience do you think clients find most useful?</strong></p> <p>The training we went through at Harvard taught us some fundamental ways of thinking which help us understand how people’s motivations lead them to make certain decisions. This means we can get them thinking more broadly when they get stuck. I’m also optimistic about everyone’s potential to solve challenges. Every problem has a solution; you just need  the time and the right approach to find it.  </p>'}
= partial '_partials/_editorial/editorial-parallax', 
  locals: { backgroundColor: 'bg-grey-300',
            textColor: $textColors,
            backgroundImage: '../img/bg-hp-what-we-do-two.jpg',
            imagePosition: 'parallax-image--right',
            image: '../img/patrick_middle.jpg',
            quoteColor: $assetColor,
            quote: 'For me, the most underrated leaders are the selfless ones serving quietly in  the background who aren’t interested in the limelight.',
            content: '<p><strong class="font-medium">Which quality do you think is underrated in a leader? </strong></p> <p>For me, the most underrated leaders are the selfless ones serving quietly in the background who aren’t interested in the limelight. They operate behind the scenes but their teams couldn’t exist or succeed without them.</p> <p><strong class="font-medium">When do you know you’ve got it right? </strong></p> <p>I know I’ve got it right in those rare and fleeting moments when everything in my life is in balance -  when I am best serving my clients, and finding enough time to look after my family and think about my own needs. This constant struggle to fit everything into our lives is something I really enjoy helping my clients work through as well. </p> <p><strong class="font-medium">Where do you find inspiration beyond work?</strong></p> <p>I love transforming things - whether it’s organizations and leaders, or old houses and interiors. Travelling with my family is also a big part of my life. There’s nothing like seeing  a new place through their eyes.</p>'}

%section.relative.bg-white(data-aos-duration="2000" data-aos="fade-up" data-aos-delay="500")
  .container.mx-auto.flex-wrap.flex.py-3.justify-center
    %h2(class="uppercase text-caption m-0 mb-3 w-full text-center") The other partners

    %div(class="sm:w-1/3 -mt-2px sm:mt-0")
      = partial "../_partials/_cards/card--quote",
      locals: {alternativeClass:'h-full',
              quote: 'I really admire leaders who can get curious in the toughest moments.', 
              author: 'David Seibel<br>Co-Founder and President', 
              cta: 'Hear more<br> from David',
              color: $assetColor, 
              url: 'who_we_are-david.html'}
    %div(class="sm:w-1/3 -mt-2px sm:mt-0")
      = partial "../_partials/_cards/card--quote",
      locals: {alternativeClass:'h-full',
              quote: 'We fill the role of trusted advisor, providing clients with insight they don’t get anywhere else. ', 
              author: 'Dan Green<br>Partner', 
              cta: 'Hear more<br> from Dan',
              color: $assetColor,
              url: 'who_we_are-dan.html'}
