- $backgroundColors = locals[:backgroundColors] ? locals[:backgroundColors] : 'bg-blue-400'
- $textColors = locals[:textColors] ? locals[:textColors] : 'blue-400'
- $assetColor = locals[:assetColor] ? locals[:assetColor] : 'blue'


= partial "_partials/_hero/hero--partner",
  locals: { backgroundImage: '../img/bg-hp-what-we-do.jpg',
            author: 'David Seibel',
            role: 'Co-Founder and President',
            quote: '<p class="m-0 mb-1">David has spent decades creating value and improving relationships across a wide range of corporate and non-profit contexts, from coaching top CEOs to training Iraqi Members of Parliament. In addition to advising leaders and teams, David runs the Insight Fellowship and Peace Education Programs, and teaches at the Harvard Mediation Program and Program on Negotiation. </p><p class="m-0">Before forming Insight, David studied at Middlebury College and Harvard Law School, and practiced corporate law for five years.</p>'}

= partial "_partials/_editorial/editorial-parallax",
  locals: {backgroundColor: "bg-#{$assetColor}-400",
    quote: 'We aim to help people make decisions based on a deeper understanding of themselves and others.',
    image: '../img/david_top_smaller.jpg',
    paddingTop: 100,
    content: '<p><strong class="font-medium">What achievement are you most proud of?</strong></p> <p>In everything that we do, we aim to help people make decisions based on a deeper understanding of themselves and others. I’m proud that we’ve created two organizations that help people follow their interests, and as a result have a bigger impact on the world in which they operate, whether that’s in corporate or non-profit contexts. </p> <p><strong class="font-medium">What has been the most exciting moment of your career?</strong></p> <p>In the mid-2000s, I travelled to the Green Zone in Baghdad to help recently-elected Iraqi MPs improve their working relationships. It was the first time I’d been  to an active conflict zone. The plane had  to spiral down rather than make a direct landing, and we had to wear body armor and travel in a bulletproof convoy. At the time it was unnerving, but I feel privileged  to have played a role supporting governance in that country.</p>'}

= partial "_partials/_editorial/editorial-parallax",
  locals: {backgroundColor: 'bg-grey-300',
    backgroundImage: '../img/bg-hp-what-we-do-two.jpg',
    imagePosition: 'parallax-image--right',
    textColor: "#{$assetColor}-400",
    quoteColor: "#{$assetColor}",
    textPosition: 'sm:mr-auto',
    quote: 'I really admire leaders who can get curious in the toughest moments without sacrificing decisiveness or efficiency.',
    image: '../img/david_middle.jpg',
    content: '<p><strong class="font-medium">What leadership quality do you most admire?</strong></p> <p>When big decisions need to be made, leaders feel pressure to demonstrate high levels of certainty when, in fact, curiosity would be more powerful. I really admire leaders who can get curious in the toughest moments without sacrificing decisiveness or efficiency.</p> <p><strong class="font-medium">Which aspect of your experience do you think clients find most useful?</strong></p> <p>Nearly all of the theory and skills I rely on can be traced back to my experience in mediating family matters, and in teaching others to do the same. Nothing can trigger us quite like family! What my colleagues and I have learned trying to create value, resolve conflict and improve working relationships in disagreements like complex divorces has been incredibly useful to all our other clients.</p> <p><strong class="font-medium">Where do you find inspiration beyond work?</strong></p> <p>I love the natural world and enjoy spotting traits of negotiation and cooperation in animal behavior. The extent to which collaboration is wired into us as creatures fascinates me. My kids’ favorite stories are the ones I tell about animals that really work together to meet their goals.</p>'}


%section.relative.bg-white(data-aos-duration="2000" data-aos="fade-up" data-aos-delay="500")
  .container.mx-auto.flex-wrap.flex.py-3.justify-center
    %h2(class="uppercase text-caption m-0 mb-3 w-full text-center") The other partners
    %div(class="sm:w-1/3 -mt-2px sm:mt-0")
      = partial "../_partials/_cards/card--quote",
        locals: {alternativeClass:'h-full', 
              quote: 'Every problem has a solution; you just need the time and the right approach to find it.', 
              author: 'Patrick McWhinney<br>Co-Founder and CEO</p>', 
              cta: 'Hear more<br> from Patrick', 
              color: $assetColor,
              url: 'who_we_are-patrick.html'}
    %div(class="sm:w-1/3 -mt-2px sm:mt-0")
      = partial "../_partials/_cards/card--quote",
        locals: {alternativeClass:'h-full', 
              quote: 'We fill the role of trusted advisor, providing clients with insight they don’t get anywhere else. ', 
              author: 'Dan Green<br>Partner', 
              cta: 'Hear more<br> from Dan',
              color: $assetColor,
              url: 'who_we_are-dan.html'}
