- $backgroundColors = locals[:backgroundColors] ? locals[:backgroundColors] : 'bg-blue-400'
- $textColors = locals[:textColors] ? locals[:textColors] : 'blue-400'
- $assetColor = locals[:assetColor] ? locals[:assetColor] : 'blue'

:plain
  <section style="background-image: url(/img/bg-hp-what-we-do.jpg);" class="background-cover">
    <div class="container mx-auto py-2 sm:py-8 pt-4 sm:pt-8 flex flex-wrap">
      <figure class="w-full sm:w-1/2 p-gutter relative mb-2 sm:mb-0" data-aos="fade-up" data-aos-delay="500" data-aos-duration="2000">
        <img src="/img/top.jpg" class="z-20 responsive relative">
        <img src="/img/bg-top.jpg" class="z-10 absolute responsive parallax-image--left">
      </figure>
      <div class="sm:w-5/12 p-gutter sm:ml-auto" data-aos="fade-up" data-aos-delay="250" data-aos-duration="2000">
        <h2 class="uppercase text-caption m-1 mb-2 mt-2 sm:mt-0">founders' story</h2>
        <p class="text-h3 serif">We’ve evolved from conflict management specialists to a boutique leadership advisory firm.</p>
        <div class="text-c">
          <p>
            We built our reputation as conflict management consultants, drawing on negotiation and mediation training from Harvard to help our clients approach difficult conversations, strengthen critical relationships and resolve high-stakes financial, political and commercial disputes around the world.
          </p>
        </div>
      </div>
    
    </div>
  </section>


  <section class="sm:py-3">
    <article class="mx-auto container flex flex-wrap py-2 items-center">
      
      <figure class="w-full sm:w-1/2 p-gutter relative sm:order-2 mb-2 sm:mb-0" data-aos="fade-up" data-aos-delay="500" data-aos-duration="2000">
        <img src="/img/middle.jpg" class="z-20 responsive relative">
        <img src="/img/bg-middle.jpg" class="z-10 absolute responsive parallax-image--right">
      </figure>
      <div class="sm:w-5/12 sm:mr-auto p-gutter sm:order-1 text-c" data-aos="fade-up" data-aos-delay="250" data-aos-duration="2000">
        <p class="mb-2">As our practice grew, we found that we could have an even greater impact using the same approach to build stronger and more effective relationships across top teams.</p>
        <p>Instead of just helping clients manage disputes, we could prevent them, and create an environment for individuals and organizations to thrive. </p>
      </div>
    </article>
  </section>

  <section class="sm:py-3" style="background-image: url(/img/bg-hp-what-we-do-two.jpg);" class="background-cover">
    <article class="mx-auto container flex flex-wrap py-2 items-center">
      <figure class="sm:w-1/2 p-gutter relative mb-2 sm:mb-0" data-aos="fade-up" data-aos-delay="500" data-aos-duration="2000">
        <img src="/img/bottom.jpg" class="z-20 responsive relative">
        <img src="/img/bg-bottom.jpg" class="z-10 absolute responsive parallax-image--left">
      </figure>
      <div class="sm:w-5/12 p-gutter text-c sm:ml-auto" data-aos-delay="250" data-aos-duration="2000">
        <p>Teaching at institutions like Harvard allows us to absorb and influence current academic thinking, and through Insight Partners - and our non-profit arm, Insight Collaborative - we apply that thinking to real-life challenges from resolving conflict to reshaping culture.</p>
      </div>
    </article>
  </section>

%section.relative(data-aos="fade-down")
  .container.mx-auto.flex-wrap.flex.py-3
    %h2(class="uppercase text-caption m-0 mb-3 w-full text-center") The partners
    = partial "../_partials/_cards/card--quote",
      locals: { quote: "Every problem has a solution; you just need the time and the right approach to find it.",
              author: "Patrick McWhinney<br>Co-Founder and CEO",
              color: $assetColor,
              cta: "Hear more<br> from Patrick",
              url: "who_we_are-patrick.html" }
    
    = partial "../_partials/_cards/card--quote",
      locals: { quote: "I really admire leaders who can get curious in the toughest moments.",
              author: "David Seibel<br>Co-Founder and President",
              color: $assetColor,
              cta: "Hear more<br> from David",
              url: "who_we_are-david.html"}
    
    = partial "../_partials/_cards/card--quote",
      locals: { quote: "We fill the role of trusted advisor, providing clients with insight they don’t get anywhere else.",
              author: "Dan Green<br>Partner",
              color: $assetColor,
              cta: "Hear more<br> from Dan",
              url: "who_we_are-dan.html"}
