%section.background-cover(style="background-image: url(/img/bg-hp-what-we-do.jpg);")
  %div(class="container mx-auto py-2 sm:py-8 pt-4 sm:pt-8 flex flex-wrap")
        <figure class="w-full sm:w-1/2 p-gutter relative" data-aos="fade-down" data-aos-delay="900">
          <img src="img/IP_photo_treatment_action_2-2.jpg" class="z-20 responsive relative">
          <img src="img/IP_photo_treatment_portrait.jpg" class="z-10 absolute responsive parallax-image--left">
        </figure>
        <div class="sm:w-5/12 p-gutter sm:ml-auto" data-aos="fade-down" >
          <h2 class="uppercase text-caption m-1 mb-2">founders' story</h2>
          <p class="text-h3 serif">We’ve evolved from conflict management specialists to a boutique leadership advisory firm.</p>
          <div class="text-p">
            <p>
              We built our reputation as conflict management consultants, drawing on negotiation and mediation training from Harvard to help our clients approach difficult conversations, strengthen critical relationships and resolve high-stakes financial, political and commercial disputes around the world.
            </p>
          </div>
        </div>
      
      </div>
    </section>