- $alternativeClass = locals[:alternativeClass] ? locals[:alternativeClass] : '';
%section{:class => "#{backgroundClass}  p-gutter"}
  .mx-auto.container.flex.flex-column.justify-end.aos-init.aos-animate{"data-aos" => "fade-down", "data-aos-duration" => "1500"}
    %h2(class="#{$alternativeClass}  text-h1 serif white m-0 py-3 pt-6 sm:py-6 sm:pt-8 text-center sm:text-left font-normal")
      = content
