- $backgroundImage = locals[:backgroundImage] ? locals[:backgroundImage] : '/img/bg-hp-what-we-do.jpg';
- $author = locals[:author] ? locals[:author] : 'Patrick McWhinney';
- $role = locals[:role] ? locals[:role] : 'Co-Founder and CEO';
- $quote = locals[:quote] ? locals[:quote] : '<p class="m-0 mb-1">Patrick has spent two decades as a trusted partner to senior executives and leading organizations, including as the Special Advisor on Negotiations to the Chief Prosecutor at the International Criminal Court in The Hague. </p><p class="m-0">Patrick trained at McGill and Harvard Universities and has been recognized as a Young Global Leader by the World Economic Forum, joining a group of exceptional individuals working to tackle global humanitarian issues. </p>';
%section(style="background-image: url(#{$backgroundImage});" class="background-cover")
  %div(class="container mx-auto py-3 pt-6 sm:py-6 sm:pt-8")
    %div(class="sm:w-3/4 p-gutter" data-aos-duration="2000" data-aos="fade-up" data-aos-delay="500")
      %h1.text-h3.m-0.mb-2.serif
        =$author
        %span(class="block grey-400")= $role
      .text-p= $quote