---
title: Insight Partners Online - homepage
body_class: frontpage
layout: layout
navigation_source: 'collaborative'
theme_color: 'blue'
favicon: 'favicon_ic'
---

%section.bg-white
  %div(class="container mx-auto py-2 sm:py-1 pt-4 sm:pt-8 flex flex-wrap text-center justify-center")
    %h2.blue-400.mb-2.text-h3 Thank you <br>for submitting your application!
    %p.text-c Thank you for applying to the 2020 Insight Fellowship Program.<br>The Selection Committee looks forward to reviewing your application. 

%section.bg-blue-400.py-2
  %h2.text-caption.uppercase.text-center.m-0.mb-2.white
    timeline
  - $array = [ ['Application Deadline', 'January 7, 2020'] , ['Selection', 'February 18, 2020'], ['Online Interview', 'March 7&8, 2020'], ['Fellowship Decision', 'March 30, 2020'], ['Concord, MA Placement Begins', 'June 1, 2020'] ];
  %ul.container.mx-auto.p-gutter.serif
    - $i = 1;
    - $array.each do |item|
      %li.flex.justify-between.white.my-1
        %h2.text-h3.m-0= "#{$i}. #{item[0]}"
        %time.text-h3.text-right= item[1]
      - $i = $i + 1;

= partial "_partials/_separators/separator--text", 
  locals: { backgroundClass: 'bg-white',
            color: 'black',
            colorCta: 'blue-400',
            caption: '',
            content: 'Get in touch if you have<br> any questions',
            title: 'contact us',
            target: '',
            url: ''}