---
title: Insight Partners Online - homepage
body_class: front-page
layout: layout
navigation_source: 'collaborative'
theme_color: 'blue'
favicon: 'favicon_ic'
---
%section
  %div.py-3.container.mx-auto(class="pt-4 sm:pt-6")
    .flex.flex-wrap
      %h1.text-h3.m-0.w-full.text-center.serif.blue-400.mb-1 Stories from Palau
      %h3.w-full.text-center(class="uppercase text-caption m-0 mb-2")
        WRITTEN BY 
        = link_to "KARTIK MADIRAJU", "blog-archive.html", :class => "no-underline blue-400"
        KOROR, PALAU
      %img(src="http://placehold.it/1920x800" class="responsive mb-1")
      
      %div(class="sm:w-2/3 p-gutter text-c mb-1")
        %h3(class="uppercase text-caption m-0 mb-1") The Workshop Story
        %p As a site coordinator for Palau’s Protected Area Network, I have learned that one is not simply tasked with the protection and conservation of Palau’s ecological heritage, but also with the engagement of relevant parties in a rather interdisciplinary conservation effort. What I mean by this is that site coordinators cannot only be equipped with the technical expertise to analyze data; they are faced with engaging communities residing near protected areas on a daily basis, leading groups of rangers and conservation officers to ensure compliance with environmental regulations, having difficult conversations with those that work with and under them when laws are violated or conservation goals are not met, and negotiating within and without their own state to represent their interests in conservation, and funding. 
      %div(class="sm:w-1/2 p-gutter text-c mb-1")
        %p As a site coordinator for Palau’s Protected Area Network, I have learned that one is not simply tasked with the protection and conservation of Palau’s ecological heritage, but also with the engagement of relevant parties in a rather interdisciplinary conservation effort. What I mean by this is that site coordinators cannot only be equipped with the technical expertise to analyze data; they are faced with engaging communities residing near protected areas on a daily basis, leading groups of rangers and conservation officers to ensure compliance with environmental regulations, having difficult conversations with those that work with and under them when laws are violated or conservation goals are not met, and negotiating within and without their own state to represent their interests in conservation, and funding. 
      %div(class="sm:w-1/2 p-gutter text-c mb-1")
        %p As a site coordinator for Palau’s Protected Area Network, I have learned that one is not simply tasked with the protection and conservation of Palau’s ecological heritage, but also with the engagement of relevant parties in a rather interdisciplinary conservation effort. What I mean by this is that site coordinators cannot only be equipped with the technical expertise to analyze data; they are faced with engaging communities residing near protected areas on a daily basis, leading groups of rangers and conservation officers to ensure compliance with environmental regulations, having difficult conversations with those that work with and under them when laws are violated or conservation goals are not met, and negotiating within and without their own state to represent their interests in conservation, and funding. 
      .p-gutter
        %blockquote.w-full.bg-blue-400.white.text-h3.w-full.m-0.py-2.p-gutter.serif.text-center.mb-1 “The importance of developing skills in negotiation  and communication and conflict management  is so crucial for conservation professionals.”

      %div(class="sm:w-1/2 p-gutter text-c mb-1")
        %p As a site coordinator for Palau’s Protected Area Network, I have learned that one is not simply tasked with the protection and conservation of Palau’s ecological heritage, but also with the engagement of relevant parties in a rather interdisciplinary conservation effort. What I mean by this is that site coordinators cannot only be equipped with the technical expertise to analyze data; they are faced with engaging communities residing near protected areas on a daily basis, leading groups of rangers and conservation officers to ensure compliance with environmental regulations, having difficult conversations with those that work with and under them when laws are violated or conservation goals are not met, and negotiating within and without their own state to represent their interests in conservation, and funding. 
      %div(class="sm:w-1/2 p-gutter text-c mb-1")

        %blockquote.wp-block-quote
          %p “The importance of developing skills in negotiation and communication and conflict management is so crucial for conservation professionals.”
        
        
        %blockquote “The importance of developing skills in negotiation  and communication and conflict management  is so crucial for conservation professionals.”

      %hr.h-0.w-full.border-t-1.border-blue-400.my-2

      %div(class="sm:w-1/2 p-gutter text-c mb-1")
        %p As a site coordinator for Palau’s Protected Area Network, I have learned that one is not simply tasked with the protection and conservation of Palau’s ecological heritage, but also with the engagement of relevant parties in a rather interdisciplinary conservation effort. What I mean by this is that site coordinators cannot only be equipped with the technical expertise to analyze data; they are faced with engaging communities residing near protected areas on a daily basis, leading groups of rangers and conservation officers to ensure compliance with environmental regulations, having difficult conversations with those that work with and under them when laws are violated or conservation goals are not met, and negotiating within and without their own state to represent their interests in conservation, and funding. 
      %div(class="sm:w-1/2 p-gutter text-c mb-1")
        %img(src="http://placehold.it/1920x800" class="responsive")

      %hr.h-0.w-full.border-t-1.border-blue-400.my-2
      %div(class="sm:w-1/2 p-gutter text-c mb-1")
        %img(src="http://placehold.it/1920x800" class="responsive")
      %div(class="sm:w-1/2 p-gutter text-c mb-1")
        %img(src="http://placehold.it/1920x800" class="responsive")


        