---
title: Insight Partners Online - homepage
body_class: front-page
layout: layout
navigation_source: 'collaborative'
theme_color: 'blue'
favicon: 'favicon_ic'
---

%section.bg-white
  %div(class="container mx-auto py-3 pt-4 sm:py-4 sm:pt-8 flex flex-wrap justify-center")
    %h3(class="uppercase text-caption mb-2 text-center w-full")the fellows' blog
    .article-grid
      %article.border-1.p-1.border-blue-400(class="flex flex-column flex-start mb-1")
        %time
          04.04.2014 |
          = link_to "Kartik Madiraju" , "blog-archive.html", :class => "blue-400 no-underline"
        %h2.serif.text-h4.lh-2
          = link_to "blog-single.html" , :class => "no-underline blue-400 flex align-center" do
            Stories from Palau
            
        %div(class="sm:text-blog")
          %p As a site coordinator for Palau’s Protected  Area Network, I have learned that one is not  simply tasked with the protection and conservation of Palau’s ecological heritage…
        %div(class="background-cover" style="flex-grow: 1; min-height: 45vw; background-image: url(http://placehold.it/600x400)")

      %article.border-1.p-1.border-blue-400.mb-1
        %time 
          04.04.2014  |  
          = link_to "Kartik Madiraju" , "blog-archive.html", :class => "blue-400 no-underline"
        %h2.serif.text-h4.lh-2
          = link_to "blog-single.html" , :class => "no-underline blue-400 flex align-center" do
            Stories from Palau

        %p As a site coordinator for Palau’s Protected  Area Network, I have learned that one is not  simply tasked with the protection and conservation of Palau’s ecological heritage…
        = image_tag 'http://placehold.it/600x400', :class => 'responsive'

      -1.times do
        %article.border-1.p-1.border-blue-400.mb-1
          %time 
            04.04.2014  |  
            = link_to "Kartik Madiraju" , "blog-archive.html", :class => "blue-400 no-underline"
          %h2.serif.text-h4.lh-2
            = link_to "blog-single.html" , :class => "no-underline blue-400 flex align-center" do
              Stories from Palau
              
          %p As a site coordinator for Palau’s Protected  Area Network, I have learned that one is not  simply tasked with the protection and conservation of Palau’s ecological heritage…
          = image_tag 'http://placehold.it/600x400', :class => 'responsive'
    %div.flex.flex-wrap.more-article
      -3.times do
        
        %article(class="w-full sm:w-1/3")
          .border-1.border-blue-400.p-1
            %time 
              04.04.2014  |  
              = link_to "Kartik Madiraju" , "blog-archive.html", :class => "blue-400 no-underline"
            %h2.serif.text-h4.lh-2
              = link_to "blog-single.html" , :class => "no-underline blue-400 flex align-center" do
                Stories from Palau
                
            %p As a site coordinator for Palau’s Protected  Area Network, I have learned that one is not  simply tasked with the protection and conservation of Palau’s ecological heritage…
            = image_tag 'http://placehold.it/600x400', :class => 'responsive'

      

- $linkClasses = "text-c block white lh-2";
%section.bg-blue-400.py-2.white.p-gutter
  %h2.text-caption.uppercase.text-center.m-0.mb-2
    insight fellows

  - $array = [ ['2018-2019', 'Lorem ipsum'], ['2017-2018', 'Elise Willer'], ['2015-2016', 'Nicole Carli'], ['2013-2014','Kartik Madiraju'], ['2009-2010', 'Roxanne Krystalli'], ['2008 - 2009', 'Carl Conradi','Carrie Stefansky','Michelle Kissenkotter'], ['2007 - 2008','Rebecca Brubaker', 'Seisei Tatebe-Goddu', 'Eve de la Mothe Karoubi'], ['2006 - 2007', 'Victoria Fram', 'Jared Leiderman', 'Julia Gegenheimer'], ['2005 - 2006','Dan Green'] ]; 
  .container.mx-auto.flex.flex-wrap
    - $array.each do |item|

      %div(class="p-gutter white w-1/2 sm:w-1/4")
        .border-t-1.py-1.pb-3
          %h3.serif.text-h4= item[0]
          - if item.length > 2
            - $newArray = item.slice(1, item.length - 1)
            - $newArray.each do |subitem|
              = link_to subitem , subitem, :class => $linkClasses
          - else
            = link_to item[1] , item[1], :class => $linkClasses
  %h2.text-caption.uppercase.text-center.m-0.mb-2
    summers fellow

  .container.mx-auto.flex.flex-wrap
    - $array = [ ['2008', 'Holly Dranginis'] ]
    - $array.each do |item|
      %div(class="p-gutter white w-1/2 sm:w-1/4")
        .border-t-1.py-1.pb-3
          %h3.serif.text-h4= item[0]
          - if item.length > 2
            - $newArray = item.slice(1, item.length - 1)
            - $newArray.each do |subitem|
              = link_to subitem , subitem, :class => $linkClasses
          - else
            = link_to item[1] , item[1], :class => $linkClasses


= partial "_partials/_separators/separator--text", 
  locals: { backgroundClass: 'bg-white',
            color: 'black',
            colorCta: 'blue-400',
            caption: 'Support us',
            content: 'Help us reach underserved groups and communities with the tools they need to thrive.',
            title: 'make a donation',
            url: ''}