---
title: Insight Partners Online - homepage
body_class: front-page
layout: layout
navigation_source: 'collaborative'
theme_color: 'blue'
favicon: 'favicon_ic'
---

%section.bg-white
  %div(class="container mx-auto py-2 sm:py-1 pt-4 sm:pt-8 flex flex-wrap justify-center")
    %h3(class="uppercase text-caption m-0 text-center w-full")apply
    %h2.blue-400.mb-2.text-h3.text-center.serif Fellowship Program 2020
    .p-gutter.text-p
      .w-full
        <p>Before making your application, please read the Insight Partners Fellowship Principles.</p><p>Apply for the Fellowship through the form below by <span class="font-medium">January 7 2020</span>.</p><p>To complete the application, you will need to submit:</p>
      %ul
        %li Your resume/CV
        %li Post-secondary educational records and transcripts
        %li A personal statement 
        %li A proposal for how you will use your Fellowship, including desired placements
        %li Short paragraphs describing your cultural experience, your interest in alternative dispute resolution and the challenges you foresee during the Fellowship
        %li Three letters of recommendation
        %li Photograph of you (optional)

#applyForm.form-apply.sm:p-gutter.py-2
  %form.container.mx-auto
    %div(class="border-1 sm:p-2 p-1")
      .text-h4.blue-400.py-1.sm:mb-1.lh-2.serif.p-gutter 1. Your Contact Information
      .flex.flex-wrap
        %div(class="w-full sm:w-1/4 p-gutter mt-1")
          %label.uppercase.blue-400.text-label.relative.form-label.border-b-1.border-blue-400
            %input.border-0.block.p-px.w-full
            %span name
        %div(class="w-full sm:ml-auto sm:w-2/3 p-gutter mt-1")
          %label.uppercase.blue-400.text-label.relative.form-label.border-b-1.border-blue-400
            %input.border-0.block.p-px.w-full
            %span surname
        %div(class="w-full sm:w-1/3 p-gutter mt-1")
          %label.uppercase.blue-400.text-label.relative.form-label.border-b-1.border-blue-400
            %input.border-0.block.p-px.w-full
            %span current address
        %div(class="w-full sm:w-2/3 p-gutter mt-1")
          %label.uppercase.blue-400.text-label.relative.form-label.border-b-1.border-blue-400
            %input.border-0.block.p-px.w-full
            %span until

        %div(class="w-full p-gutter mt-1")
          %label.uppercase.blue-400.text-label.relative.form-label.border-b-1.border-blue-400
            %input.border-0.block.p-px.w-full
            %span permanent address
        %div(class="w-full p-gutter mt-1")
          %label.uppercase.blue-400.text-label.relative.form-label.border-b-1.border-blue-400
            %input.border-0.block.p-px.w-full
            %span phone number
        %div(class="w-full p-gutter mt-1")
          %label.uppercase.blue-400.text-label.relative.form-label.border-b-1.border-blue-400
            %input.border-0.block.p-px.w-full
            %span email


      .p-gutter
        .text-h4.blue-400.py-1.mb-0.lh-2.serif 2. Post-Secondary Education History and Transcripts
        %textarea.bg-white.border-0.w-full.p-2.mb-1

      .p-gutter
        .text-h4.blue-400.py-1.mb-1.lh-2.serif 3. Three Letters of Recommendation
        %p.text-p
          Please provide three letters of recommendation. At least one of the letters should be from a faculty member. Letters of recommendation should address the applicant’s personal qualities, academic abilities, and fit with the role and responsibilities of serving as an Insight Fellow. 
          <br>
          Please upload your letters in a .zip file below:
        :plain
          <label for="recommendation" class="blue-400 border-2 sm:mt-2 mt-1 mb-1 sm:mb-3 flex-inline items-center lh-3 ls-custom no-underline px-2 space-no-wrap text-c uppercase hover:bg-blue-400 hover:white" href="" target="_blank">
            <span>Upload file</span>
            <input id="recommendation" class="visually-hidden" type="file">
          </label>

      .p-gutter
        .text-h4.blue-400.py-1.mb-1.lh-2.serif 4. Resume / Curriculum Vitae
        %p.text-p Please upload a one-page resume or curriculum vitae below:
        :plain
          <label for="curriculum" class="blue-400 border-2 sm:mt-2 mt-1 mb-1 sm:mb-3 flex-inline items-center lh-3 ls-custom no-underline px-2 space-no-wrap text-c uppercase hover:bg-blue-400 hover:white" href="" target="_blank">
            <span>Upload file</span>
            <input id="curriculum" class="visually-hidden" type="file">
          </label>
      .p-gutter
        .text-h4.blue-400.py-1.mb-1.lh-2.serif 5. Cultural Experience
        %p.text-p In no more than 750 words, please list any traveling you have done, cultural experiences you have had, and any ability to speak foreign languages. 
        %textarea.bg-white.border-0.w-full.p-2.mb-1(class=".sm:mb-2" js-data-count=750)
        %span.word-counter
      .p-gutter
        .text-h4.blue-400.py-1.mb-1.lh-2.serif 6. Interest in Albg-white.border-0.w-full.p-2.mb-1.sm\:mb-2ternative Dispute Resolution
        %p.text-p In no more than 250 words, please describe your interest and any applicable experience in alternative dispute resolution and conflict management. 
        %textarea.bg-white.border-0.w-full.p-2.mb-1.sm\:mb-2(js-data-count=250)
        %span.word-counter
      .p-gutter
        .text-h4.blue-400.py-1.mb-1.lh-2.serif 7. Fellowship Proposal
        %p.text-p In no more than 1000 words, please propose placements you would like to experience during the Fellowship. Describe in as much detail as possible where you might go, with what individuals or organizations you might work, what activities or opportunities each placement might involve, and any specific goals you might set for your time during the placement. Be sure to note any connections you see between the placement and the Insight Fellowship Principles. 
        %textarea.bg-white.border-0.w-full.p-2.mb-1.sm\:mb-2(js-data-count=1000)
        %span.word-counter
      .p-gutter
        .text-h4.blue-400.py-1.mb-1.lh-2.serif 8. Personal Statement
        %p.text-p In no more than 1000 words, please describe who you are and who you would like to be. Your response is an opportunity to provide Insight Collaborative with a sense of who you are as a person. You might address why the Insight Fellowship interests you, what you hope to achieve during the Fellowship year and beyond, or anything else that you think will help Insight Collaborative understand why you are suited to be an Insight Fellow.
        %textarea.bg-white.border-0.w-full.p-2.mb-1.sm\:mb-2(js-data-count=1000)
        %span.word-counter
      .p-gutter
        .text-h4.blue-400.py-1.mb-1.lh-2.serif 9. Challenges
        %p.text-p In no more than 250 words, please describe any obstacles or challenges that you face and/or hope to overcome during the Fellowship (e.g. pre-existing commitments, family obligations, fear of flying). 
        %textarea.bg-white.border-0.w-full.p-2.mb-1.sm\:mb-2(js-data-count=250)
        %span.word-counter
      .p-gutter
        .text-h4.blue-400.py-1.mb-1.lh-2.serif 10. Application Survey
        %p.text-p
          In the interest of promoting this unique Fellowship opportunity to as many qualified individuals as possible, it would be helpful for us to get your feedback on the following questions. 
        
        
        %p.text-p &bull; How did you hear about the Insight Fellowship (e.g., via a friend, via a university communiqué, via your own search methods, etc.; please be as specific as possible)?
        %textarea.bg-white.border-0.w-full.p-2.mb-2
        %p.text-p &bull; When did you hear about the Insight Fellowship?
        %textarea.bg-white.border-0.w-full.p-2.mb-2
        %p.text-p &bull; How did you find the application deadline date in terms of other commitments and obligations? Would you recommend a different application deadline earlier in the academic year that would allow you more time to focus on the application?
        %textarea.bg-white.border-0.w-full.p-2.mb-2
        %p.text-p &bull; Do you have any suggestions as to how we could better promote the Insight Fellowship in the future (e.g., newsletters, advertisements, notification of specific university departments ororganizations, better application deadline dates, etc.)?
        %textarea.bg-white.border-0.w-full.p-2.mb-2
        %p.text-p &bull; Do you have any suggestions as to how to improve the application process (e.g., were the questions we asked clear enough, were certain aspects of the application process particularly onerous, did you feel that you had the opportunity to best promote yourself to us, etc.)?
        %textarea.bg-white.border-0.w-full.p-2.mb-2
      .p-gutter
        .text-h4.blue-400.py-1.mb-1.lh-2.serif 11. Your Photograph (Optional)
        %p.text-p Please upload a photo of yourself below:
        :plain
          <label for="photo" class="blue-400 border-2 sm:mt-2 mt-1 mb-1 sm:mb-3 flex-inline items-center lh-3 ls-custom no-underline px-2 space-no-wrap text-c uppercase hover:bg-blue-400 hover:white" href="" target="_blank">
            <span>Upload file</span>
            <input id="photo" class="visually-hidden" type="file">
          </label>
    .text-center.pt-4.pb-3
      :plain
        <button class="bg-blue-400 white flex-inline items-center lh-3 ls-custom no-underline px-2 space-no-wrap text-c uppercase" type="button" target="_blank">
          <span>submit application</span>
        </button>
%section.bg-blue-400.py-3
  %h2.text-caption.uppercase.text-center.m-0.mb-2.white
    timeline
  - $array = [ ['Application Deadline', 'January 7, 2020'] , ['Selection', 'February 18, 2020'], ['Online Interview', 'March 7&8, 2020'], ['Fellowship Decision', 'March 30, 2020'], ['Concord, MA Placement Begins', 'June 1, 2020'] ];
  %ul.container.mx-auto.p-gutter.serif
    - $i = 1;
    - $array.each do |item|
      %li.flex.justify-between.white.my-1
        %h2.text-h4.m-0= "#{$i}. #{item[0]}"
        %time.text-h4.text-right= item[1]
      - $i = $i + 1;

= partial "_partials/_separators/separator--text", 
  locals: { backgroundClass: 'bg-white',
            color: 'black',
            colorCta: 'blue-400',
            caption: '',
            content: 'Get in touch if you have<br> any questions',
            title: 'contact us',
            target: '',
            url: 'contact_us.html'}