---
title: Insight Partners Online - homepage
body_class: home
layout: layout
navigation_source: 'collaborative'
theme_color: 'blue'
favicon: 'favicon_ic'
---

= partial "_partials/_hero/hero--editorial", 
  :locals => {:backgroundClass => 'bg-blue-400',
              :alternativeClass => 'sm:w-10/12',
              :content => 'Insight Collaborative supports underserved groups around the world to manage conflict, improve pivotal relationships and work better together.'}

%section.container.mx-auto.text-center.py-3(data-aos-duration="2000" data-aos="fade-up" data-aos-delay="500")
  %h2.uppercase.text-caption.m-0.mb-2 What we do
  %h3.text-h3.serif Informed by our work with world-leading organizations, we share the best leadership and conflict management theory and skills with those who cannot usually access them, from NGO field staff to political officials.
-# %section.bg-white
-#   %img(src="/img/map.jpg" class="w-full")
:plain
  <section class="bg-blue-400">
    <div class="container mx-auto text-center py-2 sm:py-4">

      <p class="serif text-h3 m-0 mb-3 white sm:w-11/12 mx-auto">We have helped individuals, non-profits and governments in over 60 countries to have more impact.</p>
      <ul class="flex flex-wrap list-none m-0 p-0">
        <li class="w-5/6 mx-auto sm:w-1/5 p-gutter mb-1">
          <a href="what_we_do.html#grouptraining" class="flex sm:flex-column items-center white no-underline h-full mb-1 sm:mb-0">
            <figure class="h-3 w-3 relative sm:w-5/6 sm:h-auto" >
              <img src="/img/ic-group-training.svg" class="w-3/4 inset-center">
            </figure>
            <hr class="white w-0 h-full sm:h-0 sm:w-full my-1 border-1">
            <h3 class="w-1/3 sm:w-auto text-p font-normal m-0 sm:mb-1 text-left sm:text-center">Group Training</h3>
            <span class="sm:mt-auto">
              <span class="hover:arrow-animation">
                <span><object data="/assets/long-arrow-next-white.svg" type="image/svg+xml"></object></span>
              </span>
            </span>
          </a>
        </li>
        <li class="w-5/6 mx-auto sm:w-1/5 p-gutter mb-1">
          <a href="what_we_do.html#coachingmentoring" class="flex sm:flex-column items-center white no-underline h-full">
            <figure class="h-3 w-3 relative sm:w-5/6 sm:h-auto">
              <img src="/img/ic-coaching.svg" class="w-3/4 inset-center">
            </figure>
            <hr class="white w-0 h-full sm:h-0 sm:w-full my-1 border-1">
            <h3 class="w-1/3 sm:w-auto text-p font-normal m-0 sm:mb-1 text-left sm:text-center">Coaching</h3>
            <span class="sm:mt-auto">
              <span class="hover:arrow-animation">
                <span><object data="/assets/long-arrow-next-white.svg" type="image/svg+xml"></object></span>
              </span>
            </span>
          </a>
        </li>
        <li class="w-5/6 mx-auto sm:w-1/5 p-gutter mb-1">
          <a href="what_we_do.html#cultureshaping" class="flex sm:flex-column items-center white no-underline h-full">
            <figure class="h-3 w-3 relative sm:w-5/6 sm:h-auto">
              <img src="/img/ic-culture-shaping.svg" class="w-3/4 inset-center">
            </figure>
            <hr class="white w-0 h-full sm:h-0 sm:w-full my-1 border-1">
            <h3 class="w-1/3 sm:w-auto text-p font-normal m-0 sm:mb-1 text-left sm:text-center">Culture Shaping</h3>
            <span class="sm:mt-auto">
              <span class="hover:arrow-animation">
                <span><object data="/assets/long-arrow-next-white.svg" type="image/svg+xml"></object></span>
              </span>
            </span>
          </a>
        </li>
        <li class="w-5/6 mx-auto sm:w-1/5 p-gutter mb-1">
          <a href="what_we_do.html#mediation" class="flex sm:flex-column items-center white no-underline h-full">
            <figure class="h-3 w-3 relative sm:w-5/6 sm:h-auto">
              <img src="/img/ic-mediation.svg" class="w-3/4 inset-center">
            </figure>
            <hr class="white w-0 h-full sm:h-0 sm:w-full my-1 border-1">
            <h3 class="w-1/3 sm:w-auto text-p font-normal m-0 sm:mb-1 text-left sm:text-center">Mediation</h3>
            <span class="sm:mt-auto">
              <span class="hover:arrow-animation">
                <span><object data="/assets/long-arrow-next-white.svg" type="image/svg+xml"></object></span>
              </span>
            </span>
          </a>
        </li>
        <li class="w-5/6 mx-auto sm:w-1/5 p-gutter mb-1">
          <a href="what_we_do.html#meetingfacilitation" class="flex sm:flex-column items-center white no-underline h-full">
            <figure class="h-3 w-3 relative sm:w-5/6 sm:h-auto">
              <img src="/img/ic-meeting-facilitation.svg" class="w-3/4 inset-center">
            </figure>
            <hr class="white w-0 h-full sm:h-0 sm:w-full my-1 border-1">
            <h3 class="w-1/3 sm:w-auto text-p font-normal m-0 sm:mb-1 text-left sm:text-center">Meeting Facilitation</h3>
            <span class="sm:mt-auto">
              <span class="hover:arrow-animation">
                <span><object data="/assets/long-arrow-next-white.svg" type="image/svg+xml"></object></span>
              </span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </section>




%section.py-3
  .container.mx-auto
    %h2.text-h3.m-0.mb-3.text-center.serif
      Through our fellowships and projects, we enable individuals to pursue their interests and strengthen their skills in conflict management around the world.
    .flex.flex-wrap
      %div(class="sm:w-1/2 w-full p-gutter")
        = partial '_partials/_cards/card--article', 
          locals: { caption: 'fellowships',
                    color: 'blue',
                    image: '/img/PEACE.jpg',
                    content: '<p>Support talented individuals as they develop into the next generation of peacemakers and global citizens.</p>',
                    url: 'program.html'}
      %div(class="sm:w-1/2 w-full p-gutter")
        = partial '_partials/_cards/card--article', 
          locals: { caption: 'projects',
                    color: 'blue',
                    image: '/img/FELLOWSHIP.jpg',
                    content: '<p>Help us reach underserved populations through collaborations with other individuals and organizations.</p>',
                    url: 'projects.html'}
  

%section(class="sm:py-4 ic-theme")
  %div(data-js-carousel class="container mx-auto overflow-hidden" data-aos-duration="2000" data-aos="fade-up" data-aos-delay="500")
    = partial "_partials/_cards/card--carousel", 
      locals: { color: 'blue'}
    = partial "_partials/_cards/card--carousel", 
      locals: { color: 'blue',
                quote: 'Insight Partners has played a key role in supporting us on our cultural journey over several years.',
                content: 'Insight Partners has played a key role in supporting us on our cultural journey over several years. That includes the co-design and facilitation of our top leadership conferences and supporting senior executive teams to ensure the desired outcomes are realized.  In short, our strong partnership with Insight Partners has helped generate tangible business outcomes.',
                caption: 'Peter Schneider, Managing Director, UBS'}
    = partial "_partials/_cards/card--carousel", 
      locals: { color: 'blue',
                quote: 'Insight Partners’ work with my team has been extraordinary.',
                content: 'Insight Partners’ work with my team has been extraordinary. They combine observation and participation at team meetings with private coaching for team members. Their outside perspective and expertise contribute massively to my team’s effectiveness. Their impact on team dynamics has been so powerful, members of my team have asked Insight Partners to work in turn with their own teams.',
                caption: 'Mike Dargan, Group Chief Information Officer, UBS'}

:plain
  <section class="background-cover" style="background-image: url(img/bg-section.jpg);">
    <article class="mx-auto container flex flex-wrap py-3 sm:py-4" data-aos-duration="1500" data-aos-duration="2000" data-aos="fade-up" data-aos-delay="500">
      <figure class="mb-3 sm:mb-0 sm:w-5/12 p-gutter relative" data-aos="fade-up" data-aos-delay="250" data-aos-duration="2000" >
        <img src="/img/homepage.jpg" class="z-20 w-full relative">
        <img src="/img/bg_homepage.jpg" class="z-10 absolute responsive opacity-08 parallax-image--left">
      </figure>
      <div class="w-full sm:w-1/2 sm:ml-auto p-gutter" data-aos-duration="2000" data-aos="fade-up" data-aos-delay="500">
        <h2 class="uppercase text-caption m-0 mb-2">Who we are</h2>
        <p class="text-h3 serif">We built our reputation as conflict management consultants. We now use our negotiation and mediation expertise to create environments where individuals can thrive, from top executive teams to underprivileged communities.</p>
        <footer>
          <a href="who_we_are.html" class="blue-400 no-underline flex-inline items-center font-medium text-c">
            Read more
            <span class="hover:arrow-animation ml-1 flex-inline items-center" rel="next">
              <span><object data="/assets/long-arrow-next-blue.svg" type="image/svg+xml"></object></span>
            </span>
          </a>
        </footer>
      </div>
    </article>
  </section>

-# = partial '_partials/parallax-images', 
-#   :locals => {:imageFront => 'img/IP_photo_treatment_action_2-3.jpg', 
-#              :imageBack => 'img/IP_photo_treatment_portrait2-2.jpg',
-#              :alignment => 'parallax-image--left'}
-# = partial "_partials/_separators/separator--text", 
-#   locals: { backgroundClass: 'bg-blue-400', 
-#             content: 'Through our non-profit sister organization, we share the same insights and skills with underserved groups around the world.',
-#             title: 'VISIT OUR SITE',
-#             url: ''}
= partial "_partials/_separators/separator--text", 
  locals: { backgroundClass: 'bg-white',
            color: 'black',
            colorCta: 'blue-400',
            caption: 'Support us',
            content: 'Help us reach underserved groups and communities with the tools they need to thrive.',
            title: 'make a donation',
            url: ''}
= partial "_partials/_separators/separator--text",
  locals: { backgroundClass: 'bg-green-400',
            logo: "/assets/IP_LOGO_MAIN_NEGATIVE.png", 
            content: 'Our sister organization Insight Partners is a global leadership advisory firm, challenging exceptional individuals and teams to be their best.',
            title: 'VISIT OUR SITE',
            url: '/inside_partner/'}



-# %section.bg-blue-400.py-2
-#   %h2.text-caption.uppercase.text-center.m-0.mb-2.white
-#     timeline
-#   - $array = [ ['Application Deadline', 'January 7, 2020'] , ['Selection', 'February 18, 2020'], ['Online Interview', 'March 7&8, 2020'], ['Fellowship Decision', 'March 30, 2020'], ['Concord, MA Placement Begins', 'June 1, 2020'] ];
-#   %ul.container.mx-auto.p-gutter.serif
-#     - $i = 1;
-#     - $array.each do |item|
-#       %li.flex.justify-between.white.my-1
-#         %h2.text-h3.m-0= "#{$i}. #{item[0]}"
-#         %time.text-h3.text-right= item[1]
-#       - $i = $i + 1;



-# - $linkClasses = "text-c block white lh-2";
-# %section.bg-blue-400.py-2.white.p-gutter
-#   %h2.text-caption.uppercase.text-center.m-0.mb-2
-#     insight fellow

-#   - $array = [ ['2018-2019', 'Lorem ipsum'], ['2017-2018', 'Elise Willer'], ['2015-2016', 'Nicole Carli'], ['2013-2014','Kartik Madiraju'], ['2009-2010', 'Roxanne Krystalli'], ['2008 - 2009', 'Carl Conradi','Carrie Stefansky','Michelle Kissenkotter'], ['2007 - 2008','Rebecca Brubaker', 'Seisei Tatebe-Goddu', 'Eve de la Mothe Karoubi'], ['2006 - 2007', 'Victoria Fram', 'Jared Leiderman', 'Julia Gegenheimer'], ['2005 - 2006','Dan Green'] ]; 
-#   .container.mx-auto.flex.flex-wrap
-#     - $array.each do |item|

-#       %div(class="border-t-1 white w-1/2 sm:w-1/4")
-#         %h3= item[0]
-#         - if item.length > 2
-#           - $newArray = item.slice(1, item.length - 1)
-#           - $newArray.each do |subitem|
-#             = link_to subitem , subitem, :class => $linkClasses
-#         - else
-#           = link_to item[1] , item[1], :class => $linkClasses

-#   .container.mx-auto.flex.flex-wrap
-#     - $array = [ ['2008', 'Holly Dranginis'] ]
-#     - $array.each do |item|
-#       %div(class="border-t-1 white w-1/2 sm:w-1/4")
-#         %h3= item[0]
-#         - if item.length > 2
-#           - $newArray = item.slice(1, item.length - 1)
-#           - $newArray.each do |subitem|
-#             = link_to subitem , subitem, :class => $linkClasses
-#         - else
-#           = link_to item[1] , item[1], :class => $linkClasses