---
title: Insight Partners Online - homepage
body_class: front-page
layout: layout
navigation_source: 'collaborative'
theme_color: 'blue'
favicon: 'favicon_ic'
---

- $colorCta = "blue-400"
- $url = ""
%section.background-cover.bg-white
  .container.mx-auto.sm:py-6.py-2.pt-4.sm:pt-8{"data-aos" => "fade-down"}
    .mx-auto.text-center
      %h3.text-caption.uppercase.text-center.m-0.mb-2 Principles and faq
      %p.serif.text-h3.m-0.mb-2.blue-400.aos-init.aos-animate{"data-aos" => "fade-down"}
        The Insight Fellowship allows exceptional individuals <br>to grow professionally and personally as they study<br> and promote conflict management at non-profits<br>they choose outside of their home country.
      %hr.blue-400.h-0.w-2.mb-2.border-1.aos-init.aos-animate{"data-aos" => "fade-down"}/
      .text-p.aos-init.aos-animate{"data-aos" => "fade-down"}
        %p.m-0.mb-1 The Fellowship supports entrepreneurial individuals with a passion for conflict<br> management to help organizations work more effectively - whether that’s through training <br> teams, conducting research or strengthening pivotal relationships in the field. 
        %p.m-0.mb-2 Fellows complete the year with strengthened conflict management expertise, significant <br>field experience and increased self-awareness, equipped to pursue their interests as<br> global citizens throughout their personal and professional lives.         
        %a.flex-inline.border-2.uppercase.no-underline.lh-3.items-center.px-2.space-no-wrap.text-c.ls-custom{:class => "#{$colorCta}", :href => "#{$url}", :target => "_blank"}
          %span apply


%section.bg-blue-400.py-2.p-gutter
  %h2.text-caption.uppercase.text-center.m-0.mb-2.white
    priciples
  .container.mx-auto.white.border-t-1
    .border-b-2.py-1.pt-2
      %h3.text-h4.m-0.mb-1.serif 1. Communication
      %div.text-p
        %p.m-0.mb-1 Effective communication lies at the heart of the Fellowship. Fellows may put theory  into practice by teaching workshops, mediating disputes or improving communication between organizations in conflict.
    .border-b-2.py-1.pt-2
      %h3.text-h4.m-0.mb-1.serif 2. Self-Development
      %div.text-p
        %p.m-0.mb-1 Fellows direct their own learning throughout the year, whether that’s through writing articles or pursuing additional training. Fellows also receive coaching which encourages them to reflect on their own values and personal development.
    .border-b-2.py-1.pt-2
      %h3.text-h4.m-0.mb-1.serif 3. Volunteering
      %div.text-p
        %p.m-0.mb-1 Fellows are expected to offer their time and skills to communities in need, such as working as a teaching assistant or taking part in community projects outside of the core remit  of their placement. 
    .border-b-2.py-1.pt-2
      %h3.text-h4.m-0.mb-1.serif 4. Entrepreneurship
      %div.text-p
        %p.m-0.mb-1 As self-starters, Fellows help partner organizations become more effective  by setting up new business ventures or leading restructure and cultural  change within teams.
    .border-b-2.py-1.pt-2
      %h3.text-h4.m-0.mb-1.serif 5. Sustainability
      %div.text-p
        %p.m-0.mb-1 Fellows have an awareness and respect for the different environments, cultures  and traditions which they encounter, and work to improve every situation for the better. This includes refilling the pot for the next fellow, building new relationships with individuals  and organizations, and caring for the environments they encounter. 




- $faqArray = ['What does the Fellowship year involve?', 'How are my placements chosen?', 'How is the Fellowship funded?', 'Am I eligible to apply?', 'How does the application process work?', 'How can I find out more?']
%section.p-gutter.py-2.ic-theme
  %h2.text-caption.uppercase.text-center.m-0.mb-2
    faq
  .container.mx-auto
    - $faq = [ 'The first three-month placement is held in Concord, Massachusetts at the offices of Insight Collaborative and its sister organisation, Insight Partners. During this placement, Fellows undergo rigorous training and coaching in communication, negotiation and mediation theory and skills. Fellows put learning into practice by observing and assisting Insight Partners consultants, and also gain access to Insight’s network of academics and practitioners. During this period, Fellows often volunteer to support local conflict management organizations, and pursue additional training they may need for their placements, such as language lessons. The remaining nine months typically include three foreign placements which the Fellows design and arrange during their Concord placement, with guidance from Insight Collaborative. Each Fellow identifies a broad theme upon which they will focus during their Fellowship, such as conflict and the environment, or methods of creating trust. Within a month of their return from their final placement, Fellows submit a written paper and provide a presentation on their Fellowship experience to Insight Collaborative. Each fellow is expected to submit journal entries to the Insight Collaborative blog during their placements.', 'Each Fellow is responsible for researching and securing their placements, which they can choose based upon their own personal interests. It is expected that these placements will be outside of their home country. Insight Collaborative will provide guidance on the choice of these placements based on safety, practicality, and the degree to which they meet the Fellowship Principles. ', 'The Fellowship includes a US $25,000 expense allowance for the entire year, provided by our generous donors. Each Fellow pledges to ‘refill the pot’ for the next fellow through fundraising and sponsorship by the end of the calendar year in which their Fellowship ends, primarily during their first placement in Concord. ', '<p>To be eligible for the Fellowship, you must be:</p> <ul> <li>A graduate of an accredited college or university or set to graduate prior to the start of the Fellowship. </li> <li>Committed to serving 12 consecutive months from the start of the Fellowship. - Dedicated to fulfilling the objectives of the Fellowship program, following the Fellowship Principles and willing to pledge to raise the funds required to ‘refill the pot’ for the next fellow. </li> <li>Fluent in English. </li> <li>Experience related to the study or practice of conflict management or alternative dispute resolution is preferred, but not essential.</li> </ul> ', 'The next application deadline is January 7th, 2020. Finalists will be invited to participate in an online interview, typically in February, with members of the application review committee. Final decisions are typically made by the first week of March. The Fellowship begins in during the first week of June, unless otherwise agreed. ', 'If you have further questions about the Fellowship, please write to Operations Manager Kathy Adams at kadams@insightcollaborative.org.' ]
    %div(data-js-accordion="" class="border-t-2 border-blue-400")
      - $faqArray.each_with_index do |faq, index|
        %div(id="item-#{index}" data-js-accordion-item="" class="border-b-2 border-blue-400")
          %h2.flex.justify-between(data-js-accordion-button="")
            %span.serif= faq
            %button(class="ml-auto border-0 background-none" type="button")
              %span(class="active:arrow-rotate--big mr-1")>
          %div(data-js-accordion-content)
            %div(class="text-c pt-0 pb-1 sm:w-10/12")= $faq[index]



