---
title: Insight Partners Online - homepage
body_class: front-page
layout: layout
navigation_source: 'collaborative'
theme_color: 'blue'
favicon: 'favicon_ic'
---



:plain
  <section style="background-image: url(/img/bg-hp-what-we-do.jpg);" class="background-cover"  >
    <div class="container mx-auto py-2 sm:py-8 pt-6 sm:pt-8 flex flex-wrap">
      <figure class="w-full sm:w-1/2 p-gutter relative sm:order-last mb-2" data-aos-duration="2000" data-aos="fade-up" data-aos-delay="500">
        <img src="/img/PEP-FRONT.jpg" class="z-20 responsive relative">
        <img src="/img/PEP-BACK.jpg" class="z-10 absolute responsive parallax-image--left">
      </figure>
      <div class="sm:w-5/12 p-gutter sm:mr-auto sm:order-first" data-aos-duration="2500" data-aos="fade-up" data-aos-delay="250" >
        <h2 class="uppercase text-caption m-1 mb-2">THE PEACE EDUCATION PROJECT</h2>
        <p class="text-h3 serif">Preventing violence  through youth education</p>
        <div class="text-p">
          <p>
            The Insight Peace Education Project (IPEP) equips young people living in war-torn areas with the tools they need to create lasting peace in their communities. 
            <br>By providing the skills for prevention rather than just reaction, IPEP ensures the next generation can shape a more peaceful and prosperous future for their communities.
          </p>
          <p class="is-hidden to-reveal">
            IPEP currently builds peace education into primary school curricula and after-school activities in northern Uganda, an area which has experienced decades of violence. A dedicated team of local teachers, under the leadership of IPEP Local Expert, Romanson Mathew Komakec, work with students on how to deal with the effects of armed conflict, counter discrimination, and communicate effectively in the face of disagreement. 
 
            Drawing on the latest expertise in conflict resolution and communication used by Insight Partners and Insight Collaborative, together with content developed by Facing History,
            IPEP works with leaders, state officials, parents and teachers to tailor materials to each local context. This gives local people ownership over the program and ensures children, and others in their communities, can apply the teaching to their day-to-day lives.

          </p>
          <button js-expand-toggle=".to-reveal" type="button" class="ic-theme py-1 border-0 background-none p-0 blue-400 flex-inline items-center text-c mt-auto blue-400 font-medium">Read&nbsp;<span js-close>more</span><span js-open>less</span> <span class="active:arrow-rotate"></span></button>

        </div>
      </div>
    
    </div>
  </section>


  <section class="py-3 sm:py-4">
    <div class="container mx-auto">
    <h2 class="uppercase text-caption m-0 mb-2 w-full text-center">Other Insight Collaborative projects</h2>
    <article class="flex justify-center">
      <div class="pl-2 relative border-t-2 border-b-2 h-full py-1 border-blue-400 flex flex-column items-start sm:w-2/3">
        <p class="text-c">
          <span class="font-medium">The Radio Project</span> <br>by Peter Richardson
        </p>

        <div aria-hidden="true" >
          <div class="content text-p pt-1 sm:w-10/12">
            <blockquote class="text-blockquote m-0 mb-2">Interactive Radio for Justice (IRfJ) encouraged dialogue between communities targeted by investigations of the International Criminal Court (ICC) and the national and international authorities who were responsible for bringing justice to these populations.</blockquote>
            <p>
              Working mainly in the Democratic Republic of Congo (DRC) and the Central African Republic (CAR), IRfJ used interactive local-language radio programming to trigger discussions about the purpose and impact of justice across communities who had suffered human rights abuses and sometimes had little understanding of the law. 
            </p>
            <p class="text-c mb-1">The project was led by Wamda Hall and supported by the MacArthur Foundation and Humanity United.</p>
          </div>
        </div>
      </div>
    </article>
  </section>

  

= partial "_partials/_separators/separator--text", 
  locals: { backgroundClass: 'bg-white',
            color: 'black',
            colorCta: 'blue-400',
            caption: 'Support us',
            content: 'Help us reach underserved groups and communities with the tools they need to thrive.',
            title: 'make a donation',
            url: ''}

= partial "_partials/_separators/separator--text",
  locals: { backgroundClass: 'bg-green-400',
            logo: "/assets/IP_LOGO_MAIN_NEGATIVE.svg", 
            content: 'Our sister organization Insight Partners is a global leadership advisory firm, challenging exceptional individuals and teams to be their best.',
            title: 'VISIT OUR SITE',
            url: '/inside_partner/'}
