---
title: Insight Partners Online - homepage
body_class: front-page
layout: layout
navigation_source: 'collaborative'
theme_color: 'blue'
favicon: 'favicon_ic'

---
= partial '_commons/what_we_do'

= partial "_partials/_separators/separator--text",
  locals: { backgroundClass: 'bg-green-400',
            logo: "/assets/IP_LOGO_MAIN_NEGATIVE.svg",
            content: 'Our sister organization Insight Partners is a global leadership advisory firm, challenging exceptional individuals and teams to be their best.',
            title: 'VISIT OUR SITE',
            url: ''}
