/* GLOBAL */
$global-radius: 0;
/* GRID */

/* FONT */
$f-family: 'avenir';
$f-icon  : 'ui';

/* TYPOGRAPHY */
$global-fontcolor : #888888;
$global-linkcolor : #ef3f39;
$global-resetlink : $global-fontcolor;
$global-titlecolor: $global-linkcolor;
$global-titlebordercolor: $global-linkcolor;
$global-bordercolor: $global-fontcolor;

/* BUTTONS */
$global-buttonpadding: 3px