---
title: Insight Partners Online - homepage
body_class: front-page
layout: layout
navigation_source: 'partners'
---

= partial "_partials/_hero/hero--editorial", 
  :locals => {:backgroundClass => 'bg-green-400',
              :content => 'We are a global leadership advisory firm, challenging exceptional individuals and teams to perform at their best.'}


:plain
  <section class="background-cover background-fixed" style="background-image: url(img/bg-hp-what-we-do.jpg);">
    <div class="container mx-auto text-center py-2 sm:py-4" data-aos-duration="1500" data-aos="fade-down" >
      <h2 class="uppercase text-caption m-0 mb-3">What we do</h2>
      <p class="serif text-h3 m-0 mb-2">By building the skills and culture they need to work better together we enable them to achieve more than they ever thought possible.</p>
      <ul class="flex flex-wrap list-none m-0 p-0">
        <li class="w-5/6 mx-auto sm:w-1/5 p-gutter mb-1">
          <a href="what_we_do.html#grouptraining" class="flex sm:flex-column items-center green-400 no-underline h-full">
            <figure class="rounded boxed-full h-3 w-3 bg-white relative sm:w-5/6 sm:h-auto opacity-85">
              <img src="assets/group%20training%20homepage@1x.svg" class="w-3/4 inset-center translate-center">
            </figure>
            <hr class="green-400 w-0 h-full sm:h-0 sm:w-full my-1 border-1">
            <h3 class="w-1/3 sm:w-auto text-p font-normal m-0 mb-1 text-left sm:text-center">Group<br>Training</h3>
            <span class="mt-auto">
              <span class="hover:arrow-animation">
                <span><object data="assets/long-arrow-next.svg" type="image/svg+xml"></object></span>
              </span>
            </span>
          </a>
        </li>
        <li class="w-5/6 mx-auto sm:w-1/5 p-gutter mb-1">
          <a href="what_we_do.html#coachingmentoring" class="flex sm:flex-column items-center green-400 no-underline h-full">
            <figure class="rounded boxed-full h-3 w-3 bg-white relative sm:w-5/6 sm:h-auto opacity-85">
              <img src="assets/one-2-one%20homepage@1x.svg" class="w-3/4 inset-center translate-center">
            </figure>
            <hr class="green-400 w-0 h-full sm:h-0 sm:w-full my-1 border-1">
            <h3 class="w-1/3 sm:w-auto text-p font-normal m-0 mb-1 text-left sm:text-center">Coaching</h3>
            <span class="mt-auto">
              <span class="hover:arrow-animation">
                <span><object data="assets/long-arrow-next.svg" type="image/svg+xml"></object></span>
              </span>
            </span>
          </a>
        </li>
        <li class="w-5/6 mx-auto sm:w-1/5 p-gutter mb-1">
          <a href="what_we_do.html#cultureshaping" class="flex sm:flex-column items-center green-400 no-underline h-full">
            <figure class="rounded boxed-full h-3 w-3 bg-white relative sm:w-5/6 sm:h-auto opacity-85">
              <img src="assets/culture%20shaping%20homepage@1x.svg" class="w-3/4 inset-center translate-center">
            </figure>
            <hr class="green-400 w-0 h-full sm:h-0 sm:w-full my-1 border-1">
            <h3 class="w-1/3 sm:w-auto text-p font-normal m-0 mb-1 text-left sm:text-center">Culture Shaping</h3>
            <span class="mt-auto">
              <span class="hover:arrow-animation">
                <span><object data="assets/long-arrow-next.svg" type="image/svg+xml"></object></span>
              </span>
            </span>
          </a>
        </li>
        <li class="w-5/6 mx-auto sm:w-1/5 p-gutter mb-1">
          <a href="what_we_do.html#mediation" class="flex sm:flex-column items-center green-400 no-underline h-full">
            <figure class="rounded boxed-full h-3 w-3 bg-white relative sm:w-5/6 sm:h-auto opacity-85">
              <img src="assets/mediation%20homepage@1x.svg" class="w-3/4 inset-center translate-center">
            </figure>
            <hr class="green-400 w-0 h-full sm:h-0 sm:w-full my-1 border-1">
            <h3 class="w-1/3 sm:w-auto text-p font-normal m-0 mb-1 text-left sm:text-center">Mediation</h3>
            <span class="mt-auto">
              <span class="hover:arrow-animation">
                <span><object data="assets/long-arrow-next.svg" type="image/svg+xml"></object></span>
              </span>
            </span>
          </a>
        </li>
        <li class="w-5/6 mx-auto sm:w-1/5 p-gutter mb-1">
          <a href="what_we_do.html#meetingfacilitation" class="flex sm:flex-column items-center green-400 no-underline h-full">
            <figure class="rounded boxed-full h-3 w-3 bg-white relative sm:w-5/6 sm:h-auto opacity-85">
              <img src="assets/facilitation%20homepage@1x.svg" class="w-3/4 inset-center translate-center">
            </figure>
            <hr class="green-400 w-0 h-full sm:h-0 sm:w-full my-1 border-1">
            <h3 class="w-1/3 sm:w-auto text-p font-normal m-0 mb-1 text-left sm:text-center">Meeting Facilitation</h3>
            <span class="mt-auto">
              <span class="hover:arrow-animation">
                <span><object data="assets/long-arrow-next.svg" type="image/svg+xml"></object></span>
              </span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="bg-green-400 text-center white">
    <div class="container mx-auto flex flex-column py-4 items-center" data-aos-duration="1500" data-aos="fade-down" >
      
      <p class="text-h3 serif m-0">
        Applying decades of experience, we quickly understand what matters most to our clients, and accompany them as they tackle some of the world's toughest leadership challenges.
      </p>
      
    </div>
  </section>

  <section data-js-map>
    <div data-js-map-navigation class="flex bg-white">
      <button data-js-map-items="partners" class="border-0 background-none flex-inline items-center p-1"><span style="background-color: #699A9A;" class="w-1 h-1 block rounded mr-1"></span> Insight Partners</button>
      <button data-js-map-items="collaborative" class="border-0 background-none flex-inline items-center p-1"><span style="background-color: #6F91B3;" class="w-1 h-1 block rounded mr-1"></span> Insight Collaborative</button>
      <button data-js-map-items="both" class="border-0 background-none flex-inline items-center p-1"><span style="background-color: #030100;" class="w-1 h-1 block rounded mr-1"></span> Both</button>
    </div>
    <object data="img/map.svg" type="image/svg+xml" style="width: 100%;"></object>
  </section>




  <section class="sm:py-4">
    <div data-js-carousel class="container mx-auto overflow-hidden" data-aos="fade-down" >

      <article data-js-carousel-item>
        <div class="pl-2 relative border-t-2 border-b-2 h-full border-green-400 flex flex-column items-start">
          <img src="assets/blockquote.svg" class="absolute top-1 left-0">
          <div class="text-p mt-2" data-js-carousel-title>The quality of their strategic advice, vision and intellect has been unlike any other firm I’ve worked with.</div>

          <div aria-hidden="true" data-js-carousel-content>
            <div class="content text-p pt-2 sm:w-10/12">
              <blockquote class="text-blockquote m-0">The quality of their strategic advice, vision and intellect has been unlike any other firm I’ve worked with.</blockquote>
              <p>
                “Insight Partners have played a critical role in the early years of our firm, helping us to put culture firmly at the centre of our growth. The quality of their strategic advice, vision and intellect has been unlike any other firm I’ve worked with. Their involvement has included research across the business to understand our biggest challenges and working with our top team and across the firm through workshops and coaching. Most importantly, they supported us to define and embed a set of cultural principles which guide all that we do and enable us to create value for our portfolio companies, investors, employees, and society.”
              </p>
              <p class="text-c">
                Catherine Lenson, Managing Partner and CHRO, SoftBank Investment Advisers
              </p>
            </div>
          </div>
          
          <button data-js-carousel-toggle type="button" class="py-2 border-0 background-none p-0 green-400 flex-inline items-center text-c mt-auto green-400 font-medium">Read&nbsp;<span js-close>more</span><span js-open>less</span> <span class="active:arrow-rotate"></span></button>
        </div>
      </article>

      <article data-js-carousel-item>
        <div class="pl-2 relative border-t-2 border-b-2 h-full border-green-400 flex flex-column items-start">
          <img src="assets/blockquote.svg" class="absolute top-1 left-0">
          <div class="text-p mt-2" data-js-carousel-title>Insight Partners has played a key role in supporting us on our cultural journey over the last several years.</div>

          <div aria-hidden="true" data-js-carousel-content>
            <div class="content text-p pt-2 sm:w-10/12">
              <blockquote class="text-blockquote m-0">Insight Partners has played a key role in supporting us on our cultural journey over the last several years.</blockquote>
              <p>
                “Insight Partners has played a key role in supporting us on our cultural journey over the last several years. That includes the co-design and facilitation of our top leadership conferences and supporting senior executive teams to ensure the desired outcomes are realized.  In short, our strong partnership with Insight Partners has helped generate tangible business outcomes.”
              </p>
              <p class="text-c m-0 mt-2">
                Peter Schneider, Managing Director, UBS
              </p>
            </div>
          </div>

          <button data-js-carousel-toggle type="button" class="py-2 border-0 background-none p-0 green-400 flex-inline items-center text-c mt-auto green-400 font-medium">Read&nbsp;<span js-close>more</span><span js-open>less</span> <span class="active:arrow-rotate"></span></button>
        </div>
      </article>

      <article data-js-carousel-item>
        <div class="pl-2 relative border-t-2 border-b-2 h-full border-green-400 flex flex-column items-start">
          <img src="assets/blockquote.svg" class="absolute top-1 left-0">
          <div class="text-p mt-2" data-js-carousel-title>Insight Partners’ work with my team has been extraordinary</div>

          <div aria-hidden="true" data-js-carousel-content>
            <div class="content text-p pt-2 sm:w-10/12">
              <blockquote class="text-blockquote m-0">Insight Partners’ work with my team has been extraordinary</blockquote>
              <p>
                Insight Partners’ work with my team has been extraordinary. They combine observation and participation at team meetings with private coaching for team members. Their outside perspective and expertise contribute massively to my team’s effectiveness. Their impact on team dynamics has been so powerful, members of my team have asked Insight Partners to work in turn with their own teams.
              </p>
              <p class="text-c">
                Mike Dargan, Group Chief Information Officer, UBS
              </p>
            </div>
          </div>

          <button data-js-carousel-toggle type="button" class="py-2 border-0 background-none p-0 green-400 flex-inline items-center text-c mt-auto green-400 font-medium">Read&nbsp;<span js-close>more</span><span js-open>less</span> <span class="active:arrow-rotate"></span></button>
        </div>
      </article>

    </div>
  </section>


  <section class="background-cover" style="background-image: url(img/bg-section.jpg);">
    <article class="mx-auto container flex flex-wrap py-2 sm:py-4" data-aos-duration="1500" data-aos="fade-down">
      <figure class="sm:w-1/2 p-gutter relative">
        <img src="img/IP_photo_treatment_action_2-3.jpg" class="z-20 w-full relative">
        <img src="img/IP_photo_treatment_portrait2-2.jpg" class="z-10 absolute responsive opacity-08 parallax-image--left">
      </figure>
      <div class="sm:w-1/2 p-gutter">
        <h2 class="uppercase text-caption m-0 mb-2">Who we are</h2>
        <p class="text-h3 serif">We built our reputation as conflict management consultants and now use our negotiation and mediation expertise to create environments where individuals can thrive, from top executive teams to underprivileged communities.</p>
        <footer>
          <a href="who_we_are.html" class="green-400 no-underline flex-inline items-center font-medium text-c">
            Read more
            <span class="hover:arrow-animation ml-1"rel="next">
              <span><object data="assets/long-arrow-next.svg" type="image/svg+xml"></object></span>
            </span>
          </a>
        </footer>
      </div>
    </article>
  </section>

= partial '_partials/parallax-images', 
  :locals => {:imageFront => 'img/IP_photo_treatment_action_2-3.jpg', 
             :imageBack => 'img/IP_photo_treatment_portrait2-2.jpg',
             :alignment => 'parallax-image--left'}
= partial "_partials/_separators/separator--text", 
  locals: { backgroundClass: 'bg-blue-400', 
            content: 'Through our non-profit sister organization, we share the same insights and skills with underserved groups around the world.',
            title: 'VISIT OUR SITE',
            url: ''}
= partial "_partials/_separators/separator--text", 
  locals: { backgroundClass: 'bg-green-400', 
            content: 'Our sister organization Insight Partners is a global leadership advisory firm, challenging exceptional individuals and teams to be their best.',
            title: 'VISIT OUR SITE',
            url: ''}
= partial "_partials/_separators/separator--text", 
  locals: { backgroundClass: 'bg-white',
            color: 'black',
            colorCta: 'blue-400',
            caption: 'Support us',
            content: 'Help us reach underserved groups and communities with the tools they need to thrive.',
            title: 'make a donation',
            url: ''}

%section
  .container.mx-auto.flex.flex-wrap
    %div(class="sm:w-1/2 w-full p-gutter")
      = partial '_partials/_cards/card--article', 
        locals: { caption: 'fellowships',
                  content: '<p>Support talented individuals as they develop into the next generation of peacemakers and global citizens.</p>'}
    %div(class="sm:w-1/2 w-full p-gutter")
      = partial '_partials/_cards/card--article', 
        locals: { caption: 'fellowships',
                  content: '<p>Support talented individuals as they develop into the next generation of peacemakers and global citizens.</p>'}
%section.bg-blue-400.p-gutter.py-2
  .container.mx-auto.white
    %h2.text-caption.uppercase.text-center
      the fellow blog
    %h2.text-h3.mb-2.serif.text-center
      Check out the latest posts by our Fellows
    .flex.flex-wrap
      = partial '_partials/_cards/card--post', locals: {alternativeClass: "w-full sm:w-1/3 white p-gutter"}
      = partial '_partials/_cards/card--post', locals: {alternativeClass: "w-full sm:w-1/3 white p-gutter"}
      = partial '_partials/_cards/card--post', locals: {alternativeClass: "w-full sm:w-1/3 white p-gutter"}



%section.bg-blue-400.py-2.p-gutter
  %h2.text-caption.uppercase.text-center.m-0.mb-2.white
    priciples
  .container.mx-auto.white.border-t-1
    .border-b-1.py-1
      %h3.text-h3.m-0.mb-1 1. Communication
      %div.text-c
        %p.m-0.mb-1 Effective communication lies at the heart of the Fellowship. Fellows may put theory  into practice by teaching workshops, mediating disputes or improving communication between organizations in conflict.
    .border-b-1.py-1
      %h3.text-h3.m-0.mb-1 2. Self-Development
      %div.text-c
        %p.m-0.mb-1 Fellows direct their own learning throughout the year, whether that’s through writing articles or pursuing additional training. Fellows also receive coaching which encourages them to reflect on their own values and personal development.
    .border-b-1.py-1
      %h3.text-h3.m-0.mb-1 3. Volunteering
      %div.text-c
        %p.m-0.mb-1 Fellows are expected to offer their time and skills to communities in need, such as working as a teaching assistant or taking part in community projects outside of the core remit  of their placement. 
    .border-b-1.py-1
      %h3.text-h3.m-0.mb-1 4. Entrepreneurship
      %div.text-c
        %p.m-0.mb-1 As self-starters, Fellows help partner organizations become more effective  by setting up new business ventures or leading restructure and cultural  change within teams.
    .border-b-1.py-1
      %h3.text-h3.m-0.mb-1 5. Sustainability
      %div.text-c
        %p.m-0.mb-1 Fellows have an awareness and respect for the different environments, cultures  and traditions which they encounter, and work to improve every situation for the better. This includes refilling the pot for the next fellow, building new relationships with individuals  and organizations, and caring for the environments they encounter. 

%section
  %h2.text-caption.uppercase.text-center.m-0.mb-2
    faq
  .container.mx-auto.border-t-1
    %div(data-js-accordion="" class="border-t-1")
      %div(id="item-1" data-js-accordion-item="" class="border-b-1")
        %h2.flex.justify-between
          %span titolo
          %button a
        %div(data-js-accordion-content)
          contenuto

%section.bg-blue-400.py-2
  %h2.text-caption.uppercase.text-center.m-0.mb-2.white
    faq
  - $array = [ ['Application Deadline', 'January 7, 2020'] , ['Selection', 'February 18, 2020'], ['Online Interview', 'March 7&8, 2020'], ['Fellowship Decision', 'March 30, 2020'], ['Concord, MA Placement Begins', 'June 1, 2020'] ];
  %ul.container.mx-auto.p-gutter.serif
    - $i = 1;
    - $array.each do |item|
      %li.flex.justify-between.white.my-1
        %h2.text-h3.m-0= "#{$i}. #{item[0]}"
        %time.text-h3= item[1]
        - $i = $i + 1;