%head
	%title #{data.page.title || "Insight Partners Online"}
	%meta(http-equiv="content-type" content="text/html" charset="utf-8")
	%meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
	%meta(name="description" content="")
	%meta(name="author" content="")
	%meta(charset="UTF-8")
	-# Standard viewport tag to set the viewport to the device's width,
	-# Android 2.3 devices need this so 100% width works properly and
	-# doesn't allow children to blow up the viewport width
	%meta(name="format-detection" content="telephone=no")
	%link(rel="icon" type="image/png" href="/#{current_page.data.favicon}.png")
	%meta{content: "initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width", name: "viewport"}
	%script( src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous" defer)
	%script( src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" defer)
	%script( src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer)
	%script( src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.0.2/dist/simpleParallax.min.js" defer)
	%script( src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js" defer)
	%link(rel="preload" href="https://unpkg.com/aos@2.3.1/dist/aos.css" as="style" onload="this.onload=null;this.rel='stylesheet'")>
	%noscript
		%link(rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css")
	:plain
		<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"></noscript>
		<link rel="preload" href="../assets/stylesheets/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="../assets/stylesheets/style.css"></noscript>
	-# %meta(name="google-site-verification")
	-# %link(href='https://fonts.googleapis.com/css?family=Yantramanav:500' rel='stylesheet' type='text/css')
	-# App Icons
	-# %link(rel="shortcut icon" href="/images/favicon.ico")
	-# %link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css')

	-#= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js'

	-# Stylesheets
	-# <link href='https://fonts.googleapis.com/css?family=Roboto:400,700italic,700,500italic,500,400italic,300italic,300,100italic,100,900,900italic' rel='stylesheet' type='text/css'>

	:css

		@font-face {
			font-family: 'Untitled Sans Web';
			src: url('/assets/UntitledSansWeb-Regular.woff') format('woff');
			font-weight:  400;
			font-style:   normal;
			font-stretch: normal;
		}

		@font-face {
			font-family: 'Untitled Sans Web';
			src: url('/assets/UntitledSansWeb-RegularItalic.woff') format('woff');
			font-weight:  400;
			font-style:   italic;
			font-stretch: normal;
		}

		@font-face {
			font-family: 'Untitled Sans Web';
			src: url('/assets/UntitledSansWeb-Medium.woff') format('woff');
			font-weight:  500;
			font-style:   normal;
			font-stretch: normal;
		}

		@font-face {
			font-family: 'Untitled Sans Web';
			src: url('/assets/UntitledSansWeb-MediumItalic.woff') format('woff');
			font-weight:  500;
			font-style:   italic;
			font-stretch: normal;
		}

		@font-face {
			font-family: 'Canela Web';
			src: url('/assets/Canela-Regular-Web.woff') format('woff');
			font-weight:  400;
			font-style:   normal;
			font-stretch: normal;
		}

		:root {
			--color-grey: #030100;
			--color-green: #004F51;
			--color-blue: #084874;
			}
	%noscript
		= stylesheet_link_tag 'style'
