

- if current_page.data.body_class != 'front-page'
  - $color = 'white'
  - $img = current_page.data.navigation_source === 'partners' ? '/assets/IP_LOGO_NEGATIVE@1.5x.svg' : '/assets/IC_LOGO_NEGATIVE.svg';
- else
  - $color = current_page.data.navigation_source === 'partners' ? 'green-400' : 'blue-400';
  - $img = current_page.data.navigation_source === 'partners' ? '/assets/IP_LOGO_POSITIVE@1.5x.svg' : '/assets/IC_LOGO_POSITIVE.svg';

- $positiveLogo = current_page.data.navigation_source === 'partners' ? '/assets/IP_LOGO_POSITIVE@1.5x.svg' : '/assets/IC_LOGO_POSITIVE.svg';
- $alternativeClass = current_page.data.navigation_source === 'partners' ? '' : 'ic-theme';

- $alternativeImg = current_page.data.navigation_source === 'partners' ? '/assets/IP_LOGO_NEGATIVE@1.5x.svg' : '/assets/IC_LOGO_NEGATIVE.svg';

- $currentPage = current_page.path.split('/').reject { |c| c.empty? };

%header(class="absolute top-0 left-0 w-full z-30")
  %div(class="#{$alternativeClass} #{current_page.data.theme_color}  mx-auto flex flex-wrap sm:container md:container lg:container sm:flex-no-wrap justify-between items-center")
    %h1(class="ml-1 sm:ml-0")
      %a{:href => "index.html", :title => "Insight Partners Online"}
        %img.has-navigation-closed{:alt => "Insight #{current_page.data.navigation_source} Online Logo", :src => $alternativeImg, :class=>"w-3/4 sm:w-auto", :height=>"37" }/
        %img.is-homepage-scroll{:alt => "Insight #{current_page.data.navigation_source} Online Logo", :src => $positiveLogo, :class=>"w-3/4 sm:w-auto", :height=>"37" }/
        
    %nav(class="flex flex-column sm:flex-row w-full justify-center sm:h-auto sm:w-auto text-center #{current_page.data.theme_color}" aria-expanded="true")
      %ul.menu
        - data.navigation[current_page.data.navigation_source].each_with_index do |item, index|
          - $currentItems = item.path.split('/').reject { |c| c.empty? };
          - $Class = $currentPage === $currentItems ? item.activeClass : '';
          - $Class += " "
          -# $Class += index == data.navigation[current_page.data.navigation_source].length - 1 ? " pr-0" : ""
          %li(class="menu-item menu-item-object-page #{$Class}")
            = link_to item.path , :class => $Class, :target => item.target, :title => item.name do
              = item.name
            - if item.items
              %ul.sub-menu
                %li(class="menu-item menu-item-object-page #{$Class}")
                  - item.items.each do |subitem|
                    = link_to subitem.path , :class => $Class, :target => subitem.target, :title => subitem.name do
                      = subitem.name
    %button.border-0.background-none.absolute.toggle-btn{"aria-hidden" => "true"}
      .hamburger.hamburger--spin.js-hamburger
        .hamburger-box
          .hamburger-inner
