%nav.o-nav
	- if locals[:hasback]
		= link_to "#", :class => "t-left" do
			%i.f-arrow_left
	- if locals[:isLastStep] || locals[:hasnext]
		= link_to "Finish", "", :class => "t-right"
	- elsif locals[:nextlink]
		= link_to "Next", "#{nextlink}", :class => "t-right"
