%figure.p-gutter.relative{:class => "sm:w-1/2"}
  %img.z-20.w-full.relative{:src => "#{imageFront}"}/
  %img.z-10.absolute.responsive.opacity-08.parallax-image--left{:src => "#{imageBack}", :class => "#{alignment}"}/
