@mixin reset-ul ()
	&
		padding-left: 0
		margin: 0
		list-style-type: none

@mixin list-numbered ($element)
	&
		counter-reset: my-counter
		> $element:before
			content: counter(my-counter)
			counter-increment: my-counter
