---
title: Insight Partners Online - homepage
body_class: home
layout: layout
navigation_source: 'partners'
theme_color: 'green'
favicon: 'favicon_ip'
---



= partial "_partials/_hero/hero--editorial", 
  :locals => {:backgroundClass => "bg-#{current_page.data.theme_color}-400",
              :content => 'We are a global leadership advisory firm, challenging exceptional individuals and teams to perform at their best.'}

:plain
  <section class="background-cover background-fixed" style="background-image: url(img/bg-hp-what-we-do.jpg);">
    <div class="container mx-auto text-center py-2 sm:py-4" data-aos-duration="1500" data-aos-duration="2000" data-aos="fade-up" data-aos-delay="500" >
      <h2 class="uppercase text-caption m-0 mb-3">What we do</h2>
      <p class="serif text-h3 m-0 mb-3 sm:w-11/12 mx-auto">By building the skills and culture our clients need to work better together, we enable them to achieve more than they ever thought possible.</p>
      <ul class="flex flex-wrap list-none m-0 p-0">
        <li class="w-5/6 mx-auto sm:w-1/5 p-gutter mb-1">
          <a href="what_we_do.html#grouptraining" class="flex sm:flex-column items-center #{current_page.data.theme_color}-400 no-underline h-full mb-1 sm:mb-0">
            <figure class="h-3 w-3 relative sm:w-5/6 sm:h-auto">
              <img src="/img/group-training.svg" class="w-3/4 inset-center">
            </figure>
            <hr class="#{current_page.data.theme_color}-400 w-0 h-full sm:h-0 sm:w-full my-1 border-1">
            <h3 class="w-1/3 sm:w-auto text-p font-normal m-0 sm:mb-1 text-left sm:text-center">Group Training</h3>
            <span class="sm:mt-auto">
              <span class="hover:arrow-animation">
                <span><object data="/assets/long-arrow-next-#{current_page.data.theme_color}.svg" type="image/svg+xml"></object></span>
              </span>
            </span>
          </a>
        </li>
        <li class="w-5/6 mx-auto sm:w-1/5 p-gutter mb-1">
          <a href="what_we_do.html#coachingmentoring" class="flex sm:flex-column items-center #{current_page.data.theme_color}-400 no-underline h-full mb-1 sm:mb-0">
            <figure class="h-3 w-3 relative sm:w-5/6 sm:h-auto">
              <img src="/img/coaching.svg" class="w-3/4 inset-center">
            </figure>
            <hr class="#{current_page.data.theme_color}-400 w-0 h-full sm:h-0 sm:w-full my-1 border-1">
            <h3 class="w-1/3 sm:w-auto text-p font-normal m-0 sm:mb-1 text-left sm:text-center">Coaching</h3>
            <span class="sm:mt-auto">
              <span class="hover:arrow-animation">
                <span><object data="/assets/long-arrow-next-#{current_page.data.theme_color}.svg" type="image/svg+xml"></object></span>
              </span>
            </span>
          </a>
        </li>
        <li class="w-5/6 mx-auto sm:w-1/5 p-gutter mb-1">
          <a href="what_we_do.html#cultureshaping" class="flex sm:flex-column items-center #{current_page.data.theme_color}-400 no-underline h-full mb-1 sm:mb-0">
            <figure class="h-3 w-3 relative sm:w-5/6 sm:h-auto">
              <img src="/img/culture-shaping.svg" class="w-3/4 inset-center">
            </figure>
            <hr class="#{current_page.data.theme_color}-400 w-0 h-full sm:h-0 sm:w-full my-1 border-1">
            <h3 class="w-1/3 sm:w-auto text-p font-normal m-0 sm:mb-1 text-left sm:text-center">Culture Shaping</h3>
            <span class="sm:mt-auto">
              <span class="hover:arrow-animation">
                <span><object data="/assets/long-arrow-next-#{current_page.data.theme_color}.svg" type="image/svg+xml"></object></span>
              </span>
            </span>
          </a>
        </li>
        <li class="w-5/6 mx-auto sm:w-1/5 p-gutter mb-1">
          <a href="what_we_do.html#mediation" class="flex sm:flex-column items-center #{current_page.data.theme_color}-400 no-underline h-full mb-1 sm:mb-0">
            <figure class="h-3 w-3 relative sm:w-5/6 sm:h-auto">
              <img src="/img/mediation.svg" class="w-3/4 inset-center">
            </figure>
            <hr class="#{current_page.data.theme_color}-400 w-0 h-full sm:h-0 sm:w-full my-1 border-1">
            <h3 class="w-1/3 sm:w-auto text-p font-normal m-0 sm:mb-1 text-left sm:text-center">Mediation</h3>
            <span class="sm:mt-auto">
              <span class="hover:arrow-animation">
                <span><object data="/assets/long-arrow-next-#{current_page.data.theme_color}.svg" type="image/svg+xml"></object></span>
              </span>
            </span>
          </a>
        </li>
        <li class="w-5/6 mx-auto sm:w-1/5 p-gutter mb-1">
          <a href="what_we_do.html#meetingfacilitation" class="flex sm:flex-column items-center #{current_page.data.theme_color}-400 no-underline h-full mb-1 sm:mb-0">
            <figure class="h-3 w-3 relative sm:w-5/6 sm:h-auto">
              <img src="/img/meeting-facilitation.svg" class="w-3/4 inset-center">
            </figure>
            <hr class="#{current_page.data.theme_color}-400 w-0 h-full sm:h-0 sm:w-full my-1 border-1">
            <h3 class="w-1/3 sm:w-auto text-p font-normal m-0 sm:mb-1 text-left sm:text-center">Meeting Facilitation</h3>
            <span class="sm:mt-auto">
              <span class="hover:arrow-animation">
                <span><object data="/assets/long-arrow-next-#{current_page.data.theme_color}.svg" type="image/svg+xml"></object></span>
              </span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="bg-#{current_page.data.theme_color}-400 text-center white">
    <div class="container mx-auto flex flex-column py-4 items-center" data-aos-duration="1500" data-aos-duration="2000" data-aos="fade-up" data-aos-delay="500" >
      
      <p class="text-h3 serif m-0">
        Applying decades of experience, we quickly understand what matters most to our clients, and accompany them as they tackle some of the world's toughest leadership challenges.
      </p>
      
    </div>
  </section>

-# %section.bg-white
-#   %img(src="/img/map.jpg" class="w-full")

%section(class="sm:py-4")
  %div(data-js-carousel class="pt-2 sm:pt-0 container mx-auto overflow-hidden" data-aos-duration="2000" data-aos="fade-up" data-aos-delay="500")
    = partial "_partials/_cards/card--carousel", 
      locals: { color: 'green',
                quote: 'We trust Insight to help with our toughest conversations.',
                content: 'After hosting an Insight Fellow for three months, we wanted Insight to play a larger role with us. During the past two years, Insight has helped every member of the Saha team. Many concepts from their trainings are now foundational pillars of our organizational culture. From field staff to executives, we trust Insight to help with our toughest conversations. Their coaching and advising pushes our team to communicate more effectively and efficiently, both internally as a team and externally with our customers. Our work with Insight has improved our understanding of interpersonal dynamics in a multi-national, multi-ethnic organization. It\'s been transformative.',
                caption: 'Kate Cincotta, Co-Founder and Executive Director, Saha Global'}
    = partial "_partials/_cards/card--carousel", 
      locals: { color: 'green',
                quote: 'I trust Insight to design and deliver anything for our organization. They “get it” so quickly.',
                content: 'I trust Insight to design and deliver anything for our organization. They “get it” so quickly, often helping us articulate our own needs more effectively, and always designing innovative and efficient options to meet those needs. They pick up on and manage organizational and interpersonal dynamics so well that we had them work with our leadership team as a group and on a one-on-one basis. Leadership was so impressed, we brought Insight back repeatedly to design and deliver highly engaging professional development offsites for our large manager population. ',
                caption: 'Lydia Greene, SVP & Chief Human Resources Officer, Tufts Health Plan'}
    = partial "_partials/_cards/card--carousel", 
      locals: { color: 'green',
                quote: 'Insight is helping us empower the next generation of female leaders.',
                content: 'Through their highly tailored training workshops, Insight is helping us empower a diverse range of young women from over 20 different countries with the communication and negotiation skills they need to become the next generation of female leaders. The participants give incredible feedback:“Dan did a great job with the training. It felt very relevant to work and skill development and I\'m already putting the ideas taught to use right now. He did a great job of making it interactive and engaging.” “The negotiation workshop was amazing. It was a perfect balance of theory and practice and the facilitator was great - engaging, warm and insightful.',
                caption: 'Heather Barnabe, CEO, G(irls)20'}

:plain
  <section class="background-cover" style="background-image: url(img/bg-section.jpg);">
    <article class="mx-auto container flex flex-wrap py-3 sm:py-4" data-aos-duration="1500" data-aos-duration="2000" data-aos="fade-up" data-aos-delay="500">
      <figure class="mb-3 sm:mb-0 sm:w-5/12 p-gutter relative" data-aos="fade-up" data-aos-delay="250" data-aos-duration="2000" >
        <img src="/img/homepage.jpg" class="z-20 w-full relative">
        <img src="/img/bg_homepage.jpg" class="z-10 absolute responsive opacity-08 parallax-image--left">
      </figure>
      <div class="w-full sm:w-1/2 sm:ml-auto p-gutter" data-aos-duration="2000" data-aos="fade-up" data-aos-delay="500">
        <h2 class="uppercase text-caption m-0 mb-2">Who we are</h2>
        <p class="text-h3 serif">We built our reputation as conflict management consultants. We now use our negotiation and mediation expertise to create environments where individuals can thrive, from top executive teams to underprivileged communities.</p>
        <footer>
          <a href="who_we_are.html" class="green-400 no-underline flex-inline items-center font-medium text-c">
            Read more
            <span class="hover:arrow-animation ml-1 flex-inline items-center" rel="next">
              <span><object data="/assets/long-arrow-next-green.svg" type="image/svg+xml"></object></span>
            </span>
          </a>
        </footer>
      </div>
    </article>
  </section>

-# = partial '_partials/parallax-images', 
-#   :locals => {:imageFront => 'img/IP_photo_treatment_action_2-3.jpg', 
-#              :imageBack => 'img/IP_photo_treatment_portrait2-2.jpg',
-#              :alignment => 'parallax-image--left'}
= partial "_partials/_separators/separator--text", 
  locals: { backgroundClass: 'bg-blue-400', 
            content: 'Through our non-profit sister organization, we share the same insights and skills with underserved groups around the world.',
            title: 'VISIT OUR SITE',
            url: '/inside_collaborative/'}

-# = partial "_partials/_separators/separator--text", 
-#   locals: { backgroundClass: 'bg-green-400', 
-#             content: 'Our sister organization Insight Partners is a global leadership advisory firm, challenging exceptional individuals and teams to be their best.',
-#             title: 'VISIT',
-#             url: ''}
-# = partial "_partials/_separators/separator--text", 
-#   locals: { backgroundClass: 'bg-white',
-#             color: 'black',
-#             colorCta: 'blue-400',
-#             caption: 'Support us',
-#             content: 'Help us reach underserved groups and communities with the tools they need to thrive.',
-#             title: 'make a donation',
-#             url: ''}

-# %section
-#   .container.mx-auto.flex.flex-wrap
-#     %div(class="sm:w-1/2 w-full p-gutter")
-#       = partial '_partials/_cards/card--article', 
-#         locals: { caption: 'fellowships',
-#                   content: '<p>Support talented individuals as they develop into the next generation of peacemakers and global citizens.</p>'}
-#     %div(class="sm:w-1/2 w-full p-gutter")
-#       = partial '_partials/_cards/card--article', 
-#         locals: { caption: 'fellowships',
-#                   content: '<p>Support talented individuals as they develop into the next generation of peacemakers and global citizens.</p>'}
-# %section.bg-blue-400.p-gutter.py-2
-#   .container.mx-auto.white
-#     %h2.text-caption.uppercase.text-center
-#       the fellow blog
-#     %h2.text-h3.mb-2.serif.text-center
-#       Check out the latest posts by our Fellows
-#     .flex.flex-wrap
-#       = partial '_partials/_cards/card--post', locals: {alternativeClass: "w-full sm:w-1/3 white p-gutter"}
-#       = partial '_partials/_cards/card--post', locals: {alternativeClass: "w-full sm:w-1/3 white p-gutter"}
-#       = partial '_partials/_cards/card--post', locals: {alternativeClass: "w-full sm:w-1/3 white p-gutter"}



-# %section.bg-blue-400.py-2.p-gutter
-#   %h2.text-caption.uppercase.text-center.m-0.mb-2.white
-#     priciples
-#   .container.mx-auto.white.border-t-1
-#     .border-b-1.py-1
-#       %h3.text-h3.m-0.mb-1 1. Communication
-#       %div.text-c
-#         %p.m-0.mb-1 Effective communication lies at the heart of the Fellowship. Fellows may put theory  into practice by teaching workshops, mediating disputes or improving communication between organizations in conflict.
-#     .border-b-1.py-1
-#       %h3.text-h3.m-0.mb-1 2. Self-Development
-#       %div.text-c
-#         %p.m-0.mb-1 Fellows direct their own learning throughout the year, whether that’s through writing articles or pursuing additional training. Fellows also receive coaching which encourages them to reflect on their own values and personal development.
-#     .border-b-1.py-1
-#       %h3.text-h3.m-0.mb-1 3. Volunteering
-#       %div.text-c
-#         %p.m-0.mb-1 Fellows are expected to offer their time and skills to communities in need, such as working as a teaching assistant or taking part in community projects outside of the core remit  of their placement. 
-#     .border-b-1.py-1
-#       %h3.text-h3.m-0.mb-1 4. Entrepreneurship
-#       %div.text-c
-#         %p.m-0.mb-1 As self-starters, Fellows help partner organizations become more effective  by setting up new business ventures or leading restructure and cultural  change within teams.
-#     .border-b-1.py-1
-#       %h3.text-h3.m-0.mb-1 5. Sustainability
-#       %div.text-c
-#         %p.m-0.mb-1 Fellows have an awareness and respect for the different environments, cultures  and traditions which they encounter, and work to improve every situation for the better. This includes refilling the pot for the next fellow, building new relationships with individuals  and organizations, and caring for the environments they encounter. 

-# %section.p-gutter.py-2
-#   %h2.text-caption.uppercase.text-center.m-0.mb-2
-#     faq
-#   .container.mx-auto.border-t-1
-#     %div(data-js-accordion="" class="border-t-1")
-#       %div(id="item-1" data-js-accordion-item="" class="border-b-1")
-#         %h2.flex.justify-between
-#           %span titolo
-#           %button(class="ml-auto border-0 background-none" type="button")
-#             %span(class="active:arrow-rotate--big mr-1")>
-#         %div(data-js-accordion-content)
-#           contenuto

-# %section.bg-blue-400.py-2
-#   %h2.text-caption.uppercase.text-center.m-0.mb-2.white
-#     faq
-#   - $array = [ ['Application Deadline', 'January 7, 2020'] , ['Selection', 'February 18, 2020'], ['Online Interview', 'March 7&8, 2020'], ['Fellowship Decision', 'March 30, 2020'], ['Concord, MA Placement Begins', 'June 1, 2020'] ];
-#   %ul.container.mx-auto.p-gutter.serif
-#     - $i = 1;
-#     - $array.each do |item|
-#       %li.flex.justify-between.white.my-1
-#         %h2.text-h3.m-0= "#{$i}. #{item[0]}"
-#         %time.text-h3.text-right= item[1]
-#       - $i = $i + 1;



-# - $linkClasses = "text-c block white lh-2";
-# %section.bg-blue-400.py-2.white.p-gutter
-#   %h2.text-caption.uppercase.text-center.m-0.mb-2
-#     insight fellow

-#   - $array = [ ['2018-2019', 'Lorem ipsum'], ['2017-2018', 'Elise Willer'], ['2015-2016', 'Nicole Carli'], ['2013-2014','Kartik Madiraju'], ['2009-2010', 'Roxanne Krystalli'], ['2008 - 2009', 'Carl Conradi','Carrie Stefansky','Michelle Kissenkotter'], ['2007 - 2008','Rebecca Brubaker', 'Seisei Tatebe-Goddu', 'Eve de la Mothe Karoubi'], ['2006 - 2007', 'Victoria Fram', 'Jared Leiderman', 'Julia Gegenheimer'], ['2005 - 2006','Dan Green'] ]; 
-#   .container.mx-auto.flex.flex-wrap
-#     - $array.each do |item|

-#       %div(class="border-t-1 white w-1/2 sm:w-1/4")
-#         %h3= item[0]
-#         - if item.length > 2
-#           - $newArray = item.slice(1, item.length - 1)
-#           - $newArray.each do |subitem|
-#             = link_to subitem , subitem, :class => $linkClasses
-#         - else
-#           = link_to item[1] , item[1], :class => $linkClasses

-#   .container.mx-auto.flex.flex-wrap
-#     - $array = [ ['2008', 'Holly Dranginis'] ]
-#     - $array.each do |item|
-#       %div(class="border-t-1 white w-1/2 sm:w-1/4")
-#         %h3= item[0]
-#         - if item.length > 2
-#           - $newArray = item.slice(1, item.length - 1)
-#           - $newArray.each do |subitem|
-#             = link_to subitem , subitem, :class => $linkClasses
-#         - else
-#           = link_to item[1] , item[1], :class => $linkClasses