---
title: Insight Partners Online - homepage
body_class: front-page
layout: layout
navigation_source: 'partners'
theme_color: 'green'
favicon: 'favicon_ip'
---


= partial '_commons/who_we_are', 
	locals: {	backgroundColors: "bg-#{current_page.data.theme_color}-400",
						textColors: "#{current_page.data.theme_color}-400", 
						assetColor: "#{current_page.data.theme_color}",
						prefix: current_page.data.assetPrefix}


= partial "_partials/_separators/separator--text", 
  locals: { backgroundClass: "bg-blue-400", 
            content: "Through our non-profit sister organization, we share the same insights and skills with underserved groups around the world.",
            title: "Visit the website",
            target: "_blank",
            url: ""}