- $image = locals[:image] ? locals[:image] : 'http://placehold.it/602x585';
- $caption = locals[:caption] ? locals[:caption] : 'PROJECTS';
- $content = locals[:content] ? locals[:content] : 'Help us reach underserved populations through collaborations with other individuals and organizations. ';
- $url = locals[:url] ? locals[:url] : '#'
- $color = locals[:color] ? locals[:color] : 'green'
%article.bg-white.px-1.sm:px-3.pb-3.mt-2.mb-2.sm:mb-0
  %figure.-ml-3.relative.-top-2
    %img(src="#{$image}" class="w-full")
  %h2(class="uppercase text-caption")= $caption
  %div(class="text-p")= $content
  = link_to "#{$url}" , :class => "#{$color}-400 no-underline flex-inline items-center font-medium text-c" do
    Learn more
    %span.hover:arrow-animation.ml-1.flex-inline.items-center(rel="next")
      %span
        %object(data="/assets/long-arrow-next-#{$color}.svg" type="image/svg+xml")


