
- $alternativeClass = locals[:alternativeClass] ? locals[:alternativeClass] : '';
- $time = locals[:time] ? locals[:time] : '04.04.2019';
- $color = locals[:color] ? locals[:color] : 'white';
- $title = locals[:title] ? locals[:title] : 'Article 1';
- $content = locals[:content] ? locals[:content] : '<p>Lorem ipsum dolor sit amet, consectetu sed do eiusmod sed dores eiusmod temporaliant incididunt ut laborem des tempor incididunt ut labore</p>';
- $image = locals[:image] ? locals[:image] : 'http://placehold.it/235x133';
- $url = locals[:url] ? locals[:url] : '#';
%article(class="#{$alternativeClass}")
  = link_to $url, :class => "block p-2 sm:p-3 border-1 no-underline #{$color}" do
    .sm:-ml-2
      %time= $time
      %h2.serif= $title
    %div.text-p= $content
    %figure.mt-1.sm:mt-0
      %img(src="#{$image}" class="w-full")
