- $convertedColor = locals[:color] ? locals[:color] : 'green'
- $quote = locals[:quote] ? locals[:quote] : 'The quality of their strategic advice, vision and intellect has been unlike any other firm I’ve worked with.'
- $content = locals[:content] ? locals[:content] : 'Insight Partners have played a critical role in the early years of our firm, helping us to put culture firmly at the centre of our growth. The quality of their strategic advice, vision and intellect has been unlike any other firm I’ve worked with. Their involvement has included research across the business to understand our biggest challenges and working with our top team and across the firm through workshops and coaching. Most importantly, they supported us to define and embed a set of cultural principles which guide all that we do and enable us to create value for our portfolio companies, investors, employees, and society.'
- $caption = locals[:caption] ? locals[:caption] : 'Catherine Lenson, Managing Partner and CHRO, SoftBank Investment Advisers'
%article(data-js-carousel-item="")
  %div(class="px-2 relative border-t-1 border-b-1 h-full border-#{$convertedColor}-400 flex flex-column items-start")
    %img(src="/assets/blockquote-#{$convertedColor}.svg" class="absolute top-1 left-0")
    %div(class="text-p mt-2" data-js-carousel-title )= $quote

    %div(aria-hidden="true" data-js-carousel-content)
      %div(class="content text-p pt-2 sm:w-10/12")
        %blockquote.text-blockquote.m-0= $quote
        %p= $content
        %p.text-c= $caption

    %button(data-js-carousel-toggle="" type="button" class="py-2 border-0 background-none p-0 green-400 flex-inline items-center text-c mt-auto green-400 font-medium")
      Read &nbsp;
      %span(js-close)more
      %span(js-open)less
      %span(class="active:arrow-rotate")
