- $altclass = locals[:alternativeClass] ? locals[:alternativeClass] : 'sm:w-1/3';
- $quote = locals[:quote] ? locals[:quote] : 'I really admire leaders who can get curious in the toughest moments.';
- $author = locals[:author] ? locals[:author] : 'David Seibel<br>Co-Founder and President';
- $cta = locals[:cta] ? locals[:cta] : 'Hear more<br> from David';
- $url = locals[:url] ? locals[:url] : 'who_we_are-david.html';
- $color = locals[:color] ? locals[:color] : 'green';
%article(class="#{$altclass} p-gutter sm:mt-0 -mt-2px")
  %div(class="pl-2 relative border-t-2 border-b-2 h-full border-#{$color}-400 flex flex-column items-start")
    %img(src="/assets/blockquote-#{$color}.svg" class="absolute top-1 left-0")
    .text-p.mt-2= $quote 
    %p.text-c.mb-0= $author
    %a(href="#{$url}" class="text-c py-2 mt-auto #{$color}-400 flex-inline items-center no-underline font-medium")
      = $cta
      %span(class="hover:arrow-animation ml-1")
        %span
          %object(data="/assets/long-arrow-next-#{$color}.svg" type="image/svg+xml")


