@import './sass/functions.scss';
@import './sass/variables.scss';

@import './sass/mixins.scss';

@import './sass/normalize.scss';

body{
  font-family: 'Untitled Sans Web', sans-serif;
  font-size: 16px;
  color: var(--color-grey);
}
button, a {
  cursor: pointer
}
/* Helpers */ 
.visually-hidden { 
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.boxed-full{
  &:after{
    content: '';
    padding-top: 100%;
    display: table;
    position: relative;
  }
  > * {
    position: absolute;
  }
}

.space-no-wrap{white-space: nowrap}
.serif{ font-family: $serif-font }
.responsive{max-width: 100%}
/* Slider */ 
.slick-slider {position: relative; display: block; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; } .slick-list {position: relative; overflow: hidden; display: block; margin: 0; padding: 0; &:focus {outline: none; } &.dragging {cursor: pointer; cursor: hand; } } .slick-slider .slick-track, .slick-slider .slick-list {-webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } .slick-track {position: relative; left: 0; top: 0; display: block; margin-left: auto; margin-right: auto; &:before, &:after {content: ""; display: table; } &:after {clear: both; } .slick-loading & {visibility: hidden; } } .slick-slide {float: left; height: 100%; min-height: 1px; [dir="rtl"] & {float: right; } img {display: block; } &.slick-loading img {display: none; } display: none; &.dragging img {pointer-events: none; } .slick-initialized & {display: block; } .slick-loading & {visibility: hidden; } .slick-vertical & {display: block; height: auto; border: 1px solid transparent; } } .slick-arrow.slick-hidden {display: none; }
/* background */
[class*=background-]:not(.background-repeat){
  background-repeat: no-repeat;
}
.background-none { background: transparent none; }
.background-top{ background-position: top center; }
.background-center{ background-position: center center; }
.background-bottom{ background-position: bottom center; }
.background-cover{ background-size: cover; }
.background-contains{ background-size: contain; }
.background-repeat{ background-repeat: repeat; }
.background-fixed{ background-attachment: fixed; }

@media screen and (min-width: $tablet) {
  .sm\:background-none{ background: transparent none; }
}
// background-color: #e6e6e6
/* colors */
.hover\:bg-white:hover,
.active\:bg-white:active,
.bg-white { background-color: $grey-100;}
.hover\:bg-white-opacity:hover,
.active\:bg-white-opacity:active,
.bg-white-opacity { background-color: transparentize($grey-100, 0.3);}

.hover\:bg-blue-400:hover,
.active\:bg-blue-400:active,
.bg-blue-400 { background-color: $blue-400; background-color: var(--color-blue); }
.hover\:bg-green-400:hover,
.active\:bg-green-400:active,
.bg-green-400 { background-color: $green-400; background-color: var(--color-green); }

.hover\:bg-grey-300:hover,
.active\:bg-grey-300:active,
.bg-grey-300 { background-color: $grey-300; }

.hover\:bg-grey-400:hover,
.active\:bg-grey-400:active,
.bg-grey-400 { background-color: $grey-400; }
.hover\:bg-grey-700:hover,
.active\:bg-grey-700:active,
.bg-grey-700 { background-color: $grey-700; background-color: var(--color-grey); }

.hover\:grey-400:hover,
.active\:grey-400:active,
.grey-400 { color: $grey-400; }

.hover\:grey-700:hover,
.active\:grey-700:active,
.grey-700 { color: $grey-700; color: var(--color-grey); }
.hover\:white:hover,
.active\:white:active,
.white { color: $grey-100; }
.hover\:blue-400:hover,
.active\:blue-400:active,
.blue-400 { color: $blue-400; color: var(--color-blue); }
.hover\:green-400:hover,
.active\:green-400:active,
.green-400 { color: $green-400; color: var(--color-green); }

@import 'sass/displays-positions.scss';
@import 'sass/typography.scss';
@import 'sass/grid.scss';

.max-w-full { max-width: 100%;}

.h-full{ height: 100% }
.h-px{ height: 1px }
.h-0{ height: 0}
.h-1{ height: 0.5rem}
.h-2{ height: $module }
.h-3{ height: $module * 3 }
.h-screen{ height: 100vh }
.h-auto{ height: auto }
@media screen and (min-width: $mobile) {
  .sm\:h-sm{min-height: 640px;}
  .sm\:h-md{min-height: 810px;}
  .sm\:h-xl{min-height: $tablet;}
  .sm\:h-0{height: 0}
  .sm\:h-screen{ height: 100vh }
  .sm\:h-auto{ height: auto }
}
/* spacing */

@import 'sass/margins.scss';
@import 'sass/paddings.scss';
@import 'sass/positions.scss';
@import 'sass/burger.scss';
/* flex order */
.order-first{order: -9999;}
.order-last{order: 9999;}
.order-1{order: 1;}
.order-2{order: 2;}
.order-3{order: 3;}
@media screen and (min-width: $mobile) {
  .sm\:order-first{order: -9999;}
  .sm\:order-last{order: 9999;}
  .sm\:order-1{order: 1}
  .sm\:order-2{order: 2}
  .sm\:order-3{order: 3}
}
@media screen and (min-width: $tablet) {
  .md\:order-first{order: -9999;}
  .md\:order-last{order: 9999;}
  .md\:order-1{order: 1}
  .md\:order-2{order: 2}
  .md\:order-3{order: 3}
}
@media screen and (min-width: $desktop) {
  .lg\:order-first{order: -9999;}
  .lg\:order-last{order: 9999;}
  .lg\:order-1{ order: 1}
  .lg\:order-2{ order: 2}
  .lg\:order-3{ order: 3}
}
/* positions */
.static{position: static;}
.fixed{position: fixed;}
.absolute{position: absolute;}
.relative{position: relative;}
.sticky{position: sticky;}

@media screen and (min-width: $mobile){
  .sm\:static{position: static;}
  .sm\:fixed{position: fixed;}
  .sm\:absolute{position: absolute;}
  .sm\:relative{position: relative;}
  .sm\:sticky{position: sticky;}
}

/* overflow */
.overflow-auto{overflow: auto;}
.overflow-hidden{overflow: hidden;}
.overflow-visible{overflow: visible;}
.overflow-scroll{overflow: scroll;}
.overflow-x-auto{overflow-x: auto;}
.overflow-y-auto{overflow-y: auto;}
.overflow-x-hidden{overflow-x: hidden;}
.overflow-y-hidden{overflow-y: hidden;}
.overflow-x-visible{overflow-x: visible;}
.overflow-y-visible{overflow-y: visible;}
.overflow-x-scroll{overflow-x: scroll;}
.overflow-y-scroll{overflow-y: scroll;}

.select-none{user-select: none;}
.select-text{user-select: text;}
.select-all{user-select: all;}
.select-auto{user-select: auto;}

/* list style */
.list-none{list-style-type: none;}
.appearance-none{appearance: none};
.z-0{z-index: 0;}
.z-10{z-index: 10;}
.z-20{z-index: 20;}
.z-30{z-index: 30;}
.z-40{z-index: 40;}
.z-50{z-index: 50;}
.z-auto{z-index: auto;}


.border-1{ border: 1px solid }
.border-2{ border: 2px solid }
.border-0 { border: none }
.border-t-1{ border-top: 1px solid currentColor; }
.border-b-1{ border-bottom: 1px solid currentColor; }
.hover\:border-b-1{ border-bottom: 1px solid currentColor; }

.border-t-2{ border-top: 2px solid currentColor; }
.border-b-2{ border-bottom: 2px solid currentColor; }
.border-green-400{ border-color: $green-400; }
.border-blue-400{ border-color: $blue-400; }
.rounded{border-radius: 9999rem;}
.rounded-0{border-radius: 0;}
/* alpha */
.opacity-0 { opacity: 0; }
.opacity-08 { opacity: .8; }
.opacity-85 { opacity: .85; }
.opacity-1 { opacity: 1; }

.z-0{z-index: 0;}
.z-10{z-index: 10;}
.z-20{z-index: 20;}
.z-30{z-index: 30;}
.z-40{z-index: 40;}
.z-50{z-index: 50;}
.z-auto{z-index: auto;}

.separator-horizontal{
  @extend .h-full;
  @extend .block;
  @extend .absolute;
  @extend .top-0;
  @extend .bottom-0;
  background-color: transparentize($grey-100, 0.8);
  width: 2px;
  left: -$module
}

@media screen and (max-width: $mobile - 1) {
  header:not(.js-navigation-open) nav {
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    height: 0px !important;
    overflow: hidden;
  }
}

.toggle-btn{
  top: 10px;
  right: 0;
  @media screen and (min-width: $mobile){
    display: none;
  }
}
.span.hover\:arrow-animation {
    display: inline-flex;
    align-items: center;
}

span.hover\:arrow-animation > span{
    overflow: hidden;
    width: 24px;
    position: relative;
    height: 24px;
    display: inline-block;
    margin-left: 6px;
    transition: width 250ms ease-in-out;

    object{
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate3d(0,-50%,0);
    }
}
span.hover\:arrow-animation.ml-1 > span{ 
  margin-left: 0px;
}
span.hover\:arrow-animation:hover span,
a:hover span.hover\:arrow-animation span{
  width: 61px;
}
.js-open [js-close],
[js-open]{
  display: none;
}
.js-open [js-open]{
  display: inline-block;
}
.ic-theme{
  
  .active\:arrow-rotate--big,
  .active\:arrow-rotate{
    background: transparent url("/assets/arrow-blue.svg") 50% 50% no-repeat;
  }
  .active\:arrow-rotate--big{
    background: transparent url("/assets/arrow-collapse-blue.svg") 50% 50% no-repeat;
  }
}
.active\:arrow-rotate--big,
.active\:arrow-rotate{
  background: transparent url("/assets/arrow-green.svg") 50% 50% no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  transform: rotate3d(0, -1, 0, -180deg);
  transition: 250ms ease-in-out;
  margin-left: 1.5rem
}
.active\:arrow-rotate--big{
  background: transparent url("/assets/arrow-collapse.svg") 50% 50% no-repeat;
  width: 45px;
  height: 24px;
}
@media screen and (min-width: $mobile) {
  .active\:arrow-rotate--big{
    background: transparent url("/assets/arrow-collapse.svg") 50% 50% no-repeat;
    width: 45px;
    height: 32px;
  }
}
.js-open .active\:arrow-rotate--big,
.js-open .active\:arrow-rotate{
  transform: rotate3d(1, 0, 0, -180deg);
}
#applyForm{
  input{
    padding: 1.5rem 0 0.25rem
  }
}
.form-label {
  display: block;
  padding: 0.5rem 0;
  margin-top: -1px;
  cursor: pointer;
  input {
    padding-top: 1rem;
    height: 51px;
    line-height: 51px;
  }
  span:not(.wpcf7-form-control-wrap){
    position: absolute;
    top: 25px;
    transition: top 250ms ease;
  }
  &.is-filled span:not(.wpcf7-form-control-wrap) {
    top: 0.5rem;
  }
}

span.wpcf7-not-valid-tip {
  top: 61px !important;
  width: 200px;
  display: block;
}
.wpcf7-not-valid {
  border: 1px solid red;
}

.form-input {
  background: transparent;
  border: 0;
  display: block;
  border-radius: 0;
  height: 33px;
  width: 100%;
  margin-top: 18px
}
.form-textarea {
  display: block;
  width: 100%;

  height: 168px;
  border: 0;
  margin-top: 25px;
  background: none;
}
.parallax-box{
  // @media screen and (min-width: $mobile) {

  // }
}
[class*=parallax-image]{
  height: 100%
}
.parallax-image{
  &--left{
    left: auto;
    right: -30px;
    top: -2.5rem;
    width: calc(90% - 30px);
  }
  &--right{
    right: 2rem;
    top: -2rem;
    // width: calc(90% - 30px);
  }
}
.after-padding-100{
  position: relative;
&:after{
    content: '';
    position: relative;
    padding-top: 100%;
    display: block;
  }
  > *{
    position: absolute;
    width: 100%;
    height: auto
  }
}
.after-padding-75{
  position: relative;
  @media screen and (min-width: $mobile) {
    // top: -150px;
    // height: 100%;
  }
  &:after{
    content: '';
    position: relative;
    padding-top: 75%;
    display: block;
  }
  > *{
    position: absolute;
    width: 100%;
    height: auto
  }
  
}


.js-navigation-open a{
  background-color: inherit;
  color: white
}


header.js-navigation-open .blue{
    background-color: $blue-400;
}

header.js-navigation-open .green{
  background-color: $green-400;
}

header.js-navigation-open nav{
  height: calc(100vh - 80px)
}

.js-navigation-open .ic-theme{
  .sub-menu a{
    background-color: transparentize(#fff, 0.8);
  }
}
.slick-slider button{
  color: $green-400;
}
.ic-theme .slick-slider  button{
  color: $blue-400;
}
.slick-disabled{
  opacity: 0;
  pointer-events: none;
}


@media screen and (min-width: $mobile) {
  
  nav a{
    position: relative;
  }
  nav a:after{
    content: '';
    bottom: 8px;
    height: 2px;
    left: 0;
    position: absolute;
    width: 0;
    transition: width 250ms ease;
  }
  nav a:hover:after,
  nav .current_page_item a:after,
  nav a.is-current:after {
    width: 100%;
    background-color: currentColor;
  }
  header{
    nav a:after{
      left: 15px;
      bottom: 12px;
    }
    nav a:hover:after,
    nav .current_page_item a:after,
    nav a.is-current:after{
      width: calc(100% - 30px);
    }
  }
}
footer nav a{
  color: white;
}


@import './sass/components-js.scss';

@media screen and (min-width: $mobile) {
  .article-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    & > *:first-child {
      grid-row: span 2;
      grid-column: span 2;
    }
    
  }

  .no-button .slick-arrow{
    display: none !important;
  }
}
.more-article {
  margin: 0 -7.5px;
  article{
    padding: 15px 7.5px;
    &:first-child{
      padding-top: 0
    }
  }
}

.js-header-fixed header{
  background-color: #eeeeee;
  position: fixed;
  transform: translate3d(0,-100%,0);
  transition: transform 500ms ease;
}
// body.home{
//   .is-homepage-scroll{
//     display: none;
//   }
// }
// body:not(.home){
//   .is-homepage-scroll{
//     display: inline-block;
//   }
//   .has-navigation-closed{
//     display: none;
//   }
//   &.js-main-navigation-open{
//     .has-navigation-closed{
//       display: inline-block;
//     }
//   }
// }

// .js-main-navigation-open{
//   .is-homepage-scroll{
//     display: none !important;
//   }
// }
// .js-main-navigation-open {
//   .has-navigation-closed{
//     display: inline-block;
//   }
// }

body:not(.home){
  .has-navigation-closed{
    display: none;
  }
  &.js-main-navigation-open{
    .has-navigation-closed{
      display: inline-block;
    }
    .is-homepage-scroll{
      display: none;
    }
  }
}
body.home{
  .is-homepage-scroll{
    display: none;
  }
  &.js-main-navigation-open{
    .has-navigation-closed{
      display: inline-block;
    }
    .is-homepage-scroll{
      display: none;
    }
  }
}

.js-header-fixed.js-scroll-up:not(.js-main-navigation-open){
  .is-homepage-scroll{
      display: inline-block;
    }
  .has-navigation-closed{
      display: none;
    }
}




.js-header-fixed.js-scroll-up header{
  transform: translate3d(0,0%,0);
  nav > a {
    color: $green-400
  }
  .ic-theme {
    nav > a {
      color: $blue-400
    }
  }

}
@media screen and (max-width: $mobile){
  .js-main-navigation-open > header {position: fixed}
  .js-header-fixed.js-scroll-up.js-main-navigation-open {
    nav > a {
      color: white
    }
  }



  
  .logo-footer{
    max-width: 70%;  
  }
}

form label{
  position: relative;
}

form label:after {
  content: attr(data-filecontent);
  position: absolute;
  color: black;
  top: 100%;
  left: 0;
}
 
.to-reveal{
  max-height: 0;
  overflow: hidden;
  &.is-expandend{
    max-height: 1000vh;
  }
}

.no-stylize,
.no-stylize > a {
  color: inherit;
  text-decoration: inherit;
}

a[href^=tel] {
   text-decoration:inherit;
   color: inherit;
}


.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu a{
  white-space: nowrap;
  position: relative;
  padding: 15px;
  text-decoration: none;
  
}
body.home .menu a{
  color: white
}

.js-header-fixed.js-scroll-up .green .menu > li > a,
body:not(.home) .green .menu a{
  color: $green-400
}
.js-header-fixed.js-scroll-up .blue .menu > li > a,
body:not(.home) .blue .menu a{
  color: $blue-400
}

.menu a:after{
  content: "";
  bottom: 8px;
  height: 2px;
  left: 0;
  position: absolute;
  width: 0;
  transition: width 250ms ease;

}

header .menu a:after{
  left: 15px;
  bottom: 12px;
}

.menu{
  .sub-menu{
    padding: 0;
    width: 100vw;
    background: $blue-400;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    list-style-type: none;
    transition: opacity 200ms ease , transform 250ms ease;
    @media screen and (min-width: 640px){
      position: absolute;
      top: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .menu-item a{
      color: white !important;
      display: inline-block;
    }
  }
  .has-subitem .sub-menu {
    z-index: -9999;
    pointer-events: none;
    transform: translate3d(0,-100%,0);
  }
  .js-open-subitem + .sub-menu {
    z-index: 1;
    pointer-events: auto;
    opacity: 1;
    max-height: 100vh;
    transform: translate3d(0,0,0);
  }
}

.menu-item-has-children:after{
  content: '';
  display: inline-block;
  width: 21px;
  height: 15px;
  background: transparent url("/assets/arrow-white.svg") no-repeat 50% 50%;
  body:not(.home) & {
    background: transparent url("/assets/arrow-blue.svg") no-repeat 50% 50%; 
  }

  .js-main-navigation-open & {
    background: transparent url("/assets/arrow-white.svg") no-repeat 50% 50%;
  }

}

.menu-item-has-children{
  &.js-open-subitem:after {
    transform: rotate(180deg)
  }
}

.wp-block-quote{
  @extend .w-full;
  @extend .bg-blue-400;
  @extend .white;
  @extend .text-h3;
  @extend .w-full;
  @extend .m-0;
  @extend .py-2;
  @extend .p-gutter;
  @extend .serif;
  @extend .text-center;
}

.type-fellows{
  .entry-content h3,
  .entry-content h4{
    @extend .uppercase;
    @extend .text-caption;
    @extend .m-0;
    @extend .mb-1;
  }

  .entry-content p{
    width: 80%
  }

  .wp-block-columns p{
    width: 100%;
  }
  a {
    text-decoration: none;
    color: #084773;
  }
}


#menu-footer-menu{
  list-style-type: none;
  padding: 0;
  margin: 0;
  a{
    text-decoration: none;
  }
  a:after{
    bottom: -4px;
  }
}
@media screen and (max-width: $mobile){
  .js-navigation-open .menu {
    flex-direction: column;
  }
  .js-navigation-open .menu a {
    color: white !important;
    display: inline-block;
  }
}

.entry-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.wp-block-columns{
  width: 100%;
  overflow: hidden;
}

time a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-blue);
}