@font-face {
  font-family: 'Untitled Sans Web';
  src: url('UntitledSansWeb-Regular.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Untitled Sans Web';
  src: url('UntitledSansWeb-RegularItalic.woff') format('woff');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Untitled Sans Web';
  src: url('UntitledSansWeb-Medium.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Untitled Sans Web';
  src: url('UntitledSansWeb-MediumItalic.woff') format('woff');
  font-weight:  500;
  font-style:   italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Canela Web';
  src: url('Canela-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}
