.o-thumb,
.o-list
	list-style-type: none
	padding: 0 30px
.o-list
	> li 
		border-top: 1px solid $global-bordercolor
		&:first-child
			border-top-width: 0
	a
		padding: 18px 0
		display: block


.o-thumb
	.thumb-mask
		margin-right: 15px
		display: inline-block
		border-radius: 100%
		overflow: hidden
		position: relative
		width: 70px
		&:after
			content: ""
			display: block
			padding-top: 100%
			position: relative
	li
		padding: 12px 0
	a
		> *
			display: inline-block
			vertical-align: middle
	img
		@include position(absolute, 0 0 0 0)
		