- $imagePosition = locals[:imagePosition] ? locals[:imagePosition] : 'parallax-image--left';
- $backgroundColor = locals[:backgroundColor] ? locals[:backgroundColor] : 'bg-green-400';
- $textColor = locals[:textColor] ? locals[:textColor] : 'white';
- $quoteColor = locals[:quoteColor] ? locals[:quoteColor] : 'white';
- $textPosition = locals[:textPosition] ? locals[:textPosition] : 'sm:ml-auto';
- $quote = locals[:quote] ? locals[:quote] :  'We fill the role of that trusted advisor, providing clients with insight they don’t get anywhere else.';
- $image = locals[:image] ? locals[:image] : '/img/IP_founders.jpg';
- $content = locals[:content] ? locals[:content] : '<p><strong class="font-medium">Tell us about one of your most memorable client engagements.</strong></p><p>A few years ago I was asked to support one of the central commanders of the ELN Guerillas in Colombia during the peace process with the Government. I knew it would be exciting, but I hadn’t anticipated how far from my comfort zone I was going  to be. I was escorted to our meetings by armed guards in bulletproof SUVs and I  had to undergo a series of tests to earn the commander’s trust. However, we quickly built a strong and respectful friendship as we worked together during the peace negotiations with the government and on his eventual demobilization from the ELN.  Working on something that has the potential to save thousands of lives, while helping someone change their own, felt immensely meaningful.</p>' 
- $order = $imagePosition == 'parallax-image--right' ? 'sm:order-first sm:mr-auto' : '';
- $backgroundImage = locals[:backgroundImage] ? "background-image: url(#{locals[:backgroundImage]})" : '';
- $paddingTop = locals[:paddingTop] ? locals[:paddingTop] : '75';
%section(style="#{$backgroundImage}")
  %div(class="container mx-auto py-3 flex flex-wrap")
    %div(class="md:w-1/2 p-gutter relative" data-aos-duration="2000" data-aos="fade-up" data-aos-delay="500")
      %div(class="#{$backgroundColor} #{$textColor} p-1 pb-4")
        %img(src="/assets/blockquote-#{$quoteColor}.svg")
        .pl-2.pr-1.sm:px-2.text-blockquote= $quote
      %figure(class="after-padding-#{$paddingTop}")
        %img(src="#{$image}" class="#{$imagePosition}")
    %div(class="md:w-5/12 #{$textPosition} p-gutter #{$order}" data-aos="fade-up" data-aos-delay="250" data-aos-duration="2000")
      .text-p= $content

