.footer
	background-color: $cl-green
	margin-top: 42px
	// padding: 9px 0
	padding: 0 0 9px 0
	position: relative
	padding-top: 9px
	@include clearfix
	.mobile &
		margin-top: 0
	.navigation
		float: left
		margin-left: 27px
		text-align: left
		color: white
		width: auto
		white-space: nowrap
	.center-logo
		background-color: $cl-green
		@include size(60px 60px)
		border-radius: 100%
		overflow: hidden
		@include position (absolute, 50% null null 50%)
		@include transform( translate3d(-50%,-70%,0) )
		img
			width: 100%
	.socials
		float: right
		margin-right: 27px
	.social-icon
		background-color: white
		color: $cl-green
		display: inline-block
		@include size(30px auto)
		padding: 5px 0
		border-radius: 100%
		text-decoration: none
		text-align: center
	