.hero
	width: 100%
	overflow: hidden
	&.hero--hasimage
		@media screen and (max-width: $bp-smartphone)
			background-image: none !important
		@media screen and (min-width: $bp-smartphone)
			background-position: 50% 0
			background-repeat: no-repeat
			background-size: 100% auto
			position: relative

		> div
			width: 100%
			@media screen and (min-width: $bp-smartphone)
				@include position(absolute, 0 null null null)
				@include transform( translateY(100%) )
		.search
			@include position(absolute, 21px null null 21px)
			margin: 0
	&:not(.videobox )
		.tl-main
			text-align: center
			padding: 1em 0
			@media screen and (max-width: $bp-smartphone)
				color: $cl-green
				text-shadow: none !important
				margin: 0
				padding: 6px 12px 14px
				text-align: left
				line-height: 27px
	&.videobox 
		.tl-main
			padding: 0
		.hero__inner
			position: absolute
			width: 100%
			margin: 0 auto
			text-align: center
			top: 50%
			color: white
			@include transform(translate3d(0,-50%,0))
			overflow: hidden

		.hero__image
			width: 100%
			@media screen and (max-width: $bp-smartphone)
				width: 200%