.field
	clear: both
	@include clearfix
	padding: 0 21px
	margin-bottom: 1rem
	&.field--bottom
		text-align: center
		& > *
			margin: 0px
			min-width: 120px
	&.field--centered,
	&.field—centered
		text-align: center
		label
			width: auto !important
	&.field--hidden
		pointer-events: none
		display: none
		visibility: hidden
.field--avatar
	margin-bottom: 21px
	text-align: center
fieldset
	border: 1px solid $cl-sand
	border-radius: 5px
	box-shadow: 0 0 5px rgba(0,0,0,0.2)
	margin: 0 12px
legend
	background: white
	color: $cl-grey
	font-family: $title
	text-transform: uppercase
.hidden--input
	display: none
	pointer-events: none
.mu-form
	padding: 1rem 0
	input[type='text'],
	input[type='email'],
	input[type='number'],
	input[type='tel'],
	input[type='password']
		border: 0
		background-color: white
		font-family: $f-text
		// @include calc (width, "100% - 120px")
		width: 100%
		border-radius: 0
		// + span
		// 	float: left
		// 	width: 120px
		// 	text-transform: uppercase
	select
		@include select-reset ()
		border: 0
		border-bottom: 1px solid $cl-green
		border-radius: 0
		width: 100%
		background: transparent none
	label,
	label > span
		color: inherit
		line-height: 30px
		vertical-align: bottom
		font-family: $title
		font-size: 21px
		text-transform: uppercase
	label
		color: $cl-green
		z-index: 2
		position: relative
		display: inline-block
		padding-bottom: 12px
		width: 100%
		.message
			display: none
		&.error
			color: #f93b3b
			input,
			select
				border-color: #f93b3b
			.message
				display: block
	
	input[disabled],
	input[disabled='disabled']
		+ span
			color: $cl-disabled

	input[type='text'],
	input[type='email'],
	input[type='number'],
	input[type='tel'],
	input[type='password']
		border-bottom: 1px solid $cl-green
		color: $cl-green
		&:focus
			color: $cl-brown
			outline: 0	
		&.error
			border-bottom-color: $cl-orange
			color: $cl-orange
	textarea
		color: $cl-brown
		border: 1px solid $cl-green
		padding: 12px
		width: 100%
		min-height: 250px

	input[type='checkbox'],
	input[type='radio']
		opacity: 0
		@include position( absolute, 8px null null 8px)
		z-index: 2
		+ span
			cursor: pointer
		+ span:before
			font-family: 'aycs' !important
			speak: none
			font-style: normal
			font-weight: normal
			font-variant: normal
			text-transform: none
			line-height: 1

			-webkit-font-smoothing: antialiased
			-moz-osx-font-smoothing: grayscale

			font-size: 30px
			vertical-align: middle

	input[type='checkbox']
		+ span:before
			content: "\e906"
		&:checked + span:before
			content: "\e907"
	input[type='radio']
		content: "\e909"
		&:checked + span:before
			content: "\e908"
	
	.message
		top: 100%
		@include position( absolute, 100% null null 0 )
		z-index: 2
		white-space: nowrap
.field--avatar
	cursor: pointer
	span.dropdown__result.dropdown__result--avatar
		@include size(128px 128px)
		// border: 1px solid $cl-green
		display: block
		margin: 0 auto
		background-size: 100%

.dropdown
	position: relative
	display: inline-block
	ul
		@include reset-ul ()
		li
			max-width: 64px
	&.is-open
		.dropdown__list
			display: block
	.dropdown__list
		background-color: white
		@include position(absolute, 100% null null 50%)
		@include transform( translate3d( -50%,21px,0 ) )
		border: 1px solid $cl-green
		min-height: 21px
		// min-width: 200px
		z-index: 9
		border-radius: 12px
		display: none
		img
			width: 100%
			vertical-align: top
		&:after,
		&:before
			content: ""
			width: 0
			height: 0
			border-style: solid
			@include position(absolute, null null null 50%)
		&:after
			border-color: transparent transparent #ffffff transparent
			border-width: 0 10px 16px 10px
			margin-left: -9px
			top: -14px
			z-index: 2
		&:before
			border-color: transparent transparent $cl-green transparent
			border-width: 0 12px 19px 12px
			top: -17px
			margin-left: -11px
			z-index: -1

img.static_map
	width: 100%
	padding-top: 21px