.app-view
	.main,
	header,
	footer
		@include flex(1)
	.main
		@media screen and (max-width: 640px)
			@include flex(1 auto)
	footer
		align-self: stretch
		max-height: 52px
		@media screen and (max-width: 640px)
			@include flex(1 100%)
			margin-top: 0

@media screen and (max-width: $bp-smartphone)
	.hide--mobile
		display: none

.page-main
	@media screen and (min-width: 641px)
		padding-top: 50px
	@media screen and (max-width: 640px)
		padding-left: 50px
.p-home .wrapper
	width: 100%
	margin: 0
.mobile .main
	height: 100vh
	// .ios &
	// 	height: 90vh
	// @include calc(height,"100vh - 56px")
	@include flex(1 70%)
	overflow: auto
.ios.mobile .main
	padding-bottom: 33px
@media screen and (max-width: 768px)
	.main
		max-width: 100%
	// .p-register .main,
	// .p-store .main,
	// .p-product .main,
	// .p-cms .main
	// 	padding-left: 45px
	.p-cms .main,
	.p-login .main
		// padding-left: 45px
		overflow: auto
	.p-editorial .main .wrapper 
		padding: 0 12px
	

.p-home footer
	margin-top: 0px

.row
	@include clearfix
	clear: both
.column
	float: left
	min-height: 1px
	&.col-2
		width: 50%
	&.col-6
		width: 25%
		@media screen and (max-width: $bp-smartphone)
			width: 100%
	&.col-3
		width: 33.333%
		@media screen and (max-width: $bp-smartphone)
			width: 100%
	&.col-4
		width: 20%
		@media screen and (max-width: $bp-smartphone)
			width: 100%
	&.col-offset-2
		margin-left: 25%
		@media screen and (max-width: $bp-smartphone)
			margin-left: 0%
.filed-half
	width: 50%
	float: left
.center-column
	max-width: 1024px
	width: 100%
	padding: 0 12px

.wide.wide--background
	background-color: $cl-sand
.wrapper
	max-width: 1280px
	margin: 0 auto
	.p-editorial &
		padding: 42px 0 !important

img
	vertical-align: baseline

.columns-list
	@include reset-ul ()
	text-align: justify
	> li
		display: inline-block
		white-space: normal
	&:after
		content: ''
		width: 100%
		display: inline-block
#video  
	width: 100%
.videobox
	position: relative
	z-index: 2
.videobox__play
	@include size(60px 60px)
	@include position(absolute, 50% null null 50%)
	z-index: 9
	border-radius: 100%
	border: 1px solid white
	background-color: transparent
	cursor: pointer
	span
		font-size: 0
		@include size (1px 33px)
		display: inline-block
		background-color: white
		position: absolute
		top: 50%
		margin-top: -17px
		margin-left: -6px
		&:after,
		&:before
			content: ""
			@include size (1px 25px)
			display: inline-block
			background-color: white
			@include transform-origin(0 0)
			position: absolute
		&:after
			@include transform( rotate(-45deg) )
		&:before
			@include transform( rotate(45deg) )
			left: 18px
			bottom: -8px
#canvas_map
	background: transparent url($img + "finding_places.gif") 50% 50% no-repeat
	background-size: 100% auto
.product-details
	color: $cl-orange
	font-size: 0
	a > div
		display: inline-block
		font: normal normal 14px/21px $text
		height: 21px
	.product-name
		width: 76%
		white-space: nowrap
		text-overflow: ellipsis
		overflow: hidden
	.product-size
		width: 10%
	.product-price
		width: 14%

@media screen and (min-width: $bp-smartphone)
	.info
		background-color: #f4f2e5
		padding: 15px 6% !important
		padding-left: 0
		margin: 0
		list-style-type: none
		li
			color: #3b1604
			max-width: 20%
			padding-left: 9px
			position: relative
			text-align: left
			vertical-align: top
			i
				position: absolute
				top: 0
				left: -33px
				font-size: 33px
				color: #ef804f
@media screen and (max-width: $bp-smartphone)
	.info
		border-bottom: 2px solid $cl-green
		padding: 0 21px 12px
		ul
			@include clearfix

		li
			position: relative
			padding-left: 33px
			i
				position: absolute
				left: 0
		li:nth-child(1)
			color: $cl-grey
			float: right
		li:nth-child(2),
		li:nth-child(3)
			color: $cl-text
			float: left
			i
				color: $cl-orange
		li:nth-child(3)
			padding-top: 3px
			padding-bottom: 3px

		li:nth-child(4)
			color: $cl-green
			clear: both
			font-size: 14px
			line-height: 16px
			i
				color: $cl-orange
		li:nth-child(5)	
			margin-top: 9px
			float: right
			color: $cl-orange



.hover-page
	background-color: white
	width: 0
	height: 100vh
	@include transform( translate3d(100%,0,0) )
	@include transition(transform 250ms ease-in-out)
	z-index: 9
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	overflow: hidden
	&.js-is-open
		@include transform( translate3d(0,0,0) )
		width: 100vw
.mobile
	.footer
		display: none
	
	//
		.p-editorial
			background: url($img +"bkg-oranges.jpg")
			background-size: auto 100%
			.app-view
				margin: 21px 21px 21px 65px
				background: white
				padding: 6px

			.main
				border: 3px solid #ef804f
				padding-left: 0
.center-column
	margin: 0 auto

.center-container.center-container--columns
	@madia screen and (min-width: $bp-smartphone)
		@include columns(2)
		> *	
			breack-inside: avoid