.thumblist
	@include clearfix
	a
		text-decoration: none
	.thumblist__dropdown
		@include clearfix
		margin: 18px 18px 0 18px
	.thumblist__thumb
		float: left
		max-width: 180px
		width: 100%
		@media screen and (max-width: $bp-smartphone)
			max-width: 90px
		figure.thumb
			border-radius: 12px
			@include calc( width, "100% - 12px" )

			position: relative
			z-index: 2
			margin: 0
			img
				@include transform(translate3d(50%,0,0))
				@include position (absolute, 0 50% 0 null)
				height: 100%
				z-index: 1
			&:after
				content: ""
				padding-top: 100%
				display: block
		.detail-rating
			margin-top: 12px
			clear: both

.thumblist__details
	float: left
	position: relative
	@include calc (width, "100% - 180px")
	@media screen and (max-width: $bp-smartphone)
		@include calc (width, "100% - 90px")
	h3.detail-name
		text-transform: uppercase
		font: 400 normal 16px/24px $title
		width: 85%
		color: $cl-green
	span.detail-distance
		color: $cl-text
		font-size: 14px
		font-style: oblique
		color: $cl-grey
		@include position (absolute, 0 0 null null)
		width: 15%
		white-space: nowrap
	.detail-time
		color: $cl-green
		font-size: 14px
	address.detail-address
		font-size: 12px
		clear: both
		padding-top: 16px

.thumblist__dropdown-content
	button
		float: right
		color: $cl-orange

.reating-container
	i
		color: $cl-orange