.modal-container
	z-index: $index-modal
	@include position (fixed, 0 0 0 0)
	background-color: rgba(255,255,255,0.7)
	display: none

	&.is-valid 
		.modal_content
			border-color: $cl-green
		.modal-title:nth-child(2)
			display: none
		.modal-title
			color: $cl-green
	&.is-error 
		.modal_content
			border-color: $cl-orange
		.modal-title:nth-child(1)
			display: none
		.modal-title
			color: $cl-orange
	.btn-bold
		font-size: 24px
		padding: 4px 24px 3px
	.modal-title
		text-transform: uppercase
	.modal_content
		@include position (absolute, 50% null null 50%)
		@include transform (translate3d(-50% , -50% , 0) )
		box-shadow: 0 0 6px rgba(0,0,0,0.45)
		border-radius: $border-radius
		border: 1px solid transparent
		background-color: white

		padding: 12px 24px
		min-width: 270px
		text-align: center
	.modal-header,
	.modal-body,
	.modal-footer
		@include position (relative)
	.modal-header
		font: 21px/21px $title
		text-transform: uppercase
		letter-spacing: 2px
		.modal_close
			position: absolute
			top: -9px
			right: -19px
			padding: 9px
			border: 0
			background: transparent none
			i
				font-size: 15px
				color: grey

	.modal-body
		padding: 21px 0
		color: $cl-brown
		font: 16px/24px $text

// js state 
.js-modal-open .modal-container
	&.js-is-open
		display: block
	&:before
		content: ""
		z-index: -1
		background-color: black
		background-color: rgba(255,255,255,0.8)
		@include position (absolute, 0 0 0 0)

.js-modal-open
	overflow: hidden
	// abbassare tutti gli z index