.navigation
	text-align: center
	// width: 100%
	display: none
	white-space: nowrap
	@media screen and (min-width: $bp-smartphone)
		display: inline-block
	a
		color: inherit
		display: inline-block
		text-decoration: none
		font-size: 21px
		font-family: $f-title
		text-transform: uppercase
		margin: 0 3%
		&:after
			content: ""
			display: block
			border: 2px solid transparent
			width: 100%
			position: relative
			top: -9px
			.footer &
				top: 3px
		&.active,
		&:hover
			color: white
			&:after
				border-color: white
span.navigation-mobile
	display: none
@media screen and (max-width: $bp-smartphone)
	span.navigation-mobile 
		display: inline
		a
			padding: 12px 0
			display: inline-block

button.toggle__navigation
	border: 0
	background: transparent none
	position: relative
	display: none
	@media screen and (min-width: $bp-smartphone)
		display: none
	span
		background-color: white
		display: inline-block
		@include size(33px 2px)
		&:nth-child(1)
			@include position(absolute, 0 null null null)
		&:nth-child(2)
			@include position(absolute, 16px null null null)
		&:nth-child(3)
			@include position(absolute, 33px null null null)
	&.js-open + .navigation
		display: block