#videoposter_01
	background: url($img + "video_discover.jpg")

.desktop,
.tablet
	.p-contact,
	.p-register,
	.p-login
		background: url($img + "bkg-oranges.jpg") 50% 50% no-repeat
		background-size: cover
		.center-column
			background: white
			border: 2px solid $cl-green
			margin-top: 21px
			border-radius: 12px
			box-shadow: 0 0 12px rgba(0,0,0,0.45)
			max-width: 600px
			padding-top: 16px
			margin: 42px auto 0
.mobile
	.p-store
		.thumb
			margin: 0
			border-radius: 0
			border-bottom: 2px solid $cl-green
			max-height: 30vh
		.product__text
			padding: 0 12px
			.tl-product
				font-family: $text
				font-size: 16px
				line-height: 16px
.p-store .search,
.p-product .search
	display: none