.product-block
	max-width: 1024px
	width: 100%
	@media screen and (min-width: $bp-smartphone)
		margin: 21px auto 0
	&:not(.product-block--list) .product
		@media screen and (min-width: $bp-smartphone)
			display: flex
			flex-wrap: nowrap
		.product__image
			.thumb
				@media screen and (max-width: $bp-smartphone)
					padding: 1em 21px
		.product-number
			display: inline-block
			+ div
				display: inline-block
		.product__text
			margin-top: 12px
			@media screen and (max-width: $bp-smartphone)
				padding: 21px

		.tl-product
			color: $cl-green
		.sb-product
			color: $cl-orange
			margin-bottom: 42px
	.product
		text-decoration: none
		color: $cl-brown
		.columns-list
			color: $cl-grey
	&.product-block--list 
		display: flex
		flex-wrap: wrap
		.product
			display: block
			margin: auto
			padding: 0 30px
			
			flex-basis: 50%
			width: 100%
			@media screen and (max-width: 640px)
				flex-basis: 100%
			@media screen and (min-width: 640px)
				flex-basis: 33.3333%
				width: 33.3333%
				padding-bottom: 30px
				&:hover
					background-color: rgba(0,0,0,0.05)
					@include transition(background-color 250ms)
			@media screen and (min-width: 1024px)
				flex-basis: 20%
				width: 20%
			@media screen and (min-width: 1280px)
				flex-basis: 25%
				width: 25%

		.tl-product
			font: 18px/21px $text 
			text-align: center
			color: $cl-orange
			@media screen and (max-width: 640px)
				margin-top: 21px

	.place
		font-size: 14px
		padding-left: 33px
		position: relative
		font-style: oblique
		&:before
			content: "\e902"
			font-family: 'aycs' !important
			speak: none
			font-style: normal
			font-weight: normal
			font-variant: normal
			text-transform: none
			line-height: 1

			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased
			-moz-osx-font-smoothing: grayscale
			position: absolute
			position: absolute
			left: 0
			font-size: 33px
			color: $cl-orange
.product-number
	background: transparent url($img + "bkg-productbag.png") no-repeat 50% 50%
	padding: 12px 9px 12px 0
	color: $cl-orange
	width: 42px
	text-align: center
.product-footer
	clear: both
	@include display(flex)
	@include flex-direction(row)
	@include justify-content(flex-end)
	@media screen and (max-width: $bp-smartphone)
		width: 100%
		float: none
		padding-bottom: 32px
	
	.product-price
		color: $cl-green
		font: normal normal 42px/42px $title
		font-weight: 600
		white-space: nowrap
		padding: 0 33px
		align-self: center

.dropdown-container
	position: absolute
	top: 90%
	background: white
	width: 100%
	z-index: 7
	max-height: 0 !important
	overflow: hidden
	@include transition(max-height 500ms)
	&.is-open
		border-radius: 0 0 12px 12px
		border: 1px solid $cl-green
		max-height: 1000vh !important
		@include transition(max-height 500ms)
		overflow: auto
		height: 80vh
.tag
	display: inline-block
	text-align: center
	vertical-align: middle
	padding: 9px
	> span
		display: block
		font: normal normal 13.5px/21px $title
		text-transform: uppercase
.product__image 
	img
		width: 100%
	> .product-price
		background-color: $cl-green
		border-radius: 100%
		bottom: -42px
		color: white
		font-family: $title
		font-size: 21px
		width: 60px
		padding: 19px 0
		position: relative
		text-align: center
		z-index: 3
// product list desktop
.product
	@include clearfix
	clear: both
	padding: 0 0 9px
	display: block
	@media screen and (min-width: $bp-smartphone)
		display: flex
		margin: 21px 18px 0
		border-bottom: 1px solid $cl-grey
		padding: 18px 0
		.product__image,
		.product__text
			@include flex(1 50%)
	.product__details
		@include clearfix
		color: $cl-orange
		float: left
		width: 70%
	h4.product__name
		float: left
	p.product__weight
		float: right
		margin: 0
	span.product__price
		color: $cl-grey
		font-weight: bold
		float: right
		&.price--free
			color: $cl-green
	.product__place
		color: $cl-brown
		clear: left
		float: left
		font-size: 14px
		max-width: 275px
		overflow: hidden
		white-space: nowrap
		width: 100%
		text-overflow: ellipsis
		i
			color: $cl-orange
			font-size: 18px
			line-height: 1
			vertical-align: middle
	.product-pickuptime
		color: $cl-green
		font-weight: bold
	button.btn-icon
		clear: right
		float: right
		padding: 3px 0
	i.ac-delete
		color: $cl-green
		font-size: 21px
		margin-top: 14px

