.search
	background-color: white
	border-radius: 12px
	border: 1px solid $cl-green
	max-width: 500px
	width: 100%
	box-shadow: 0 1px 6px rgba(0,0,0,0.2)
	margin: 21px
	@include transition (max-width 250ms)
	
	.mobile &
		max-width: 280px
		left: 50%
		@include transform(translate3d(-50%,0,0))
	
	.p-home &
		position: absolute
		z-index: 99
	&.search--small
		max-width: 180px
		@include transition (max-width 250ms)
		@media screen and (max-width: $bp-smartphone)
			display: none
		span
			font-size: 0
	.search__inner
		@include clearfix

.search__type
	&.js-hide
		overflow: hidden
		max-height: 0
.easy-autocomplete
	width: 100% !important
.search__input
	float: right
	width: 100%
	max-width: 72%
	font-size: 0
	// border-radius: 0 12px 12px 0
	input[type="text"]
		// @include calc (width, "100% - 42px")
		width: 100%
		border: 0
		display: block
		float: left
		height: 48px
		line-height: 48px
		font-size: 16px
		padding-left: 12px
		border-radius: 0 12px 12px 0
		padding-right: 12px
		&:focus
			outline: 0
	button
		background-color: transparent
		border: 0
		color: #e3e3e3
		cursor: pointer
		display: inline-block
		font-size: 27px
		float: right
		line-height: 40px
		padding: 4px 0 0 0
		width: 42px
		text-align: center
.search__choose
	background-color: $cl-green
	width: 100%
	max-width: 28%
	border-radius: 12px 0 0 12px
	float: left
	i
		font-size: 20px
		vertical-align: middle
		float: left
	label
		color: white
		cursor: pointer
		display: block
		padding: 2px 33px 2px 3px
		position: relative
		text-transform: uppercase
		text-align: right
		width: 100%
		clear: both
		max-height: 24px
		overflow: hidden
		input[type="radio"]
			@include position(absolute, 0 0 null null)
			opacity: 0
			z-index: 2
			&:checked + span:before	
				background-color: $cl-orange
	span
		color: inherit
		font-family: $title
		text-align: right
		width: 100%
		display: block

	span:after,
	span:before
		content: ""
		display: inline-block
		@include position( absolute, 50% 9px null null )
		@include transform( translate3d(0%,-50%,0) )
		border-radius: 100%
	span:after
		border: 1px solid white
		@include size(14px 14px)
		z-index: 2
	span:before	
		@include size(9px 9px)
		right: 11px
		z-index: 1