- $id = locals[:id] ? locals[:id] : 'meetingfacilitation';
- $image = locals[:image] ? locals[:image] : 'meetingfacilitation';
- $color = locals[:color] ? locals[:color] : 'green';
- $icon = locals[:icon] ? locals[:icon] : 'Meeting Facilitation';
- $title = locals[:title] ? locals[:title] : 'Keeping important conversations on track and helping teams get the most out of coming together.';
- $content = locals[:content] ? locals[:content] : "<p>We work as facilitators in a range of different contexts to keep difficult conversations and routine meetings focused and productive. </p> <p>This work includes taking a seat around the executive table, observing, questioning and steering in the right places to keep things running smoothly and efficiently. We also facilitate dialogue between groups in tension, promoting more constructive conversations to find peaceful solutions which benefit both parties. </p> <p>We play the role of master-of-ceremonies at larger gatherings including conferences and offsites. This involves designing sessions which unite and challenge high-potential groups to think differently, stretch their ambitions and perform at their best.</p>";
- $subtitle  = locals[:content] ? locals[:content] : 'Keeping important conversations on track and helping teams get the most out of coming together.';

.flex.border-t-1.green-400.border-b-2.py-2{"data-js-accordion-item" => "", :id=>$id}
  .pr-1{:class => "sm:pr-2 w-1/3 sm:w-2/12"}
    %figure.rounded.boxed-full.bg-white.relative.w-full
      %img.inset-center.translate-center.w-full{:src => "#{$image}"}/
  %div{:class => "w-2/3 sm:w-10/12"}
    %h2.flex.text-h4.m-0.mb-1.serif=$title
      %button.ml-auto.border-0.background-none{:type => "button"}
        %span(class="active:arrow-rotate--big mr-1")
    .text-c.grey-700{:class => "sm:w-3/4"}=$subtitle
    .grey-700.text-c{"data-js-accordion-content" => ""}=$content
